[2021-02-15 10:40] XeroxQ opened #167 "SDK3: Cannot get argument values, missing device argument."
With sdk3, something about flow argument devices is mested up.
If I use the “old” filter structuur: "filter": "driver_id=my_driver" like explained on your site, I get an error when I try the next:
const flowTrigger = this.homey.flow.getDeviceTriggerCard('trigger_flow');
flowTrigger.getArgumentValues();
Error: Cannot get argument values, missing device argument.
at FlowCardTriggerDevice.getArgument

[2021-02-15 10:44] XeroxQ opened #168 "SDK3: this.homey.__() gives wrong language back"
In SDK3 something goes wrong with this.homey.__() from the App but also Driver and Device.
i have for example:
en.json
{
    "languagecode":"en-GB"
}
nl.json
{
    "languagecode":"nl-NL"
}

When in my app for example i have
    console.log( this.homey.__('languagecode') );
the responseis : en-GB (wrong), but my language is set to Dutch.

If i change the App to SDK 2 and run
    console.log( Homey.

[2021-02-17 16:01] robertklep opened #169 "SDK3: getting/showing local time using `Date`"
Because SDK3 apps run with `TZ=UTC`, `Date` methods that are supposed to return local time don't return local time anymore.

The SDK3 changelog states that _"It is still possible to retrieve the current timezone by calling `this.homey.clock.getTimezone()`, the timezone can then be used to format a date to the users timezone."_

No further information is given on _how_ this can be done. Since a lot

[2021-02-17 16:29] tjallingt commented on #169
I think developers should Moment.js for this and we definitely should recommend these libraries and show and example. Once we update to Node 14 the `Intl` API has access to the full ICU and developers should probably use [date-fns-tz](https://www.npmjs.com/package/date-fns-tz) or Luxon.
Curious to hear your thoughts

[2021-02-17 16:59] robertklep commented on #169
`moment` with timezone support weighs in at around 6MB and considered a legacy project; `luxon` is smaller (3MB) but still considerable in size for a storage/memory-constrained device, but it's basically the only viable solution for app developers.

Homeyscript users are left out in the cold though, unless Homeyscript starts shipping with any of these libs like it does with `lodash` (having to use

[2021-02-19 13:00] tjallingt commented on #168
Hey, thanks for reporting this issue. I was able to reproduce and fix it. We will release the fix as soon as possible.

[2021-02-19 13:10] XeroxQ commented on #168
Great!

Met vriendelijke groet,

Arie J. Godschalk

[2021-02-19 15:13] tjallingt commented on #167
Hey @XeroxQ

You should pass the device class to `getArgumentValues()`, see the documentation for the `FlowCardTriggerDevice ` https://apps-sdk-v3.developer.athom.com/FlowCardTriggerDevice.html#getArgumentValues

If you are calling it from your device class (the class you define in `device.js`) you can call it like:

[code]

[2021-02-19 15:19] XeroxQ commented on #167
Ah, thanks m8!

Met vriendelijke groet,

Arie J. Godschalk

[2021-02-20 14:40] runely opened #170 "Wrong language in notification time line"
I was debugging my app and needed the TriggerCard to trigger multiple times in a row. When a TriggerCard is triggered to many times in a minute, the flow will be deactivated.

The notification created in the notification time line is in Italian! My Homey is in Norwegian..

That's kind of strange...

![image](https://user-images.githubusercontent.com/25814673/108599493-b93a7400-7391-11eb-9170-b567b

[2021-02-20 14:52] MadMonkey87 opened #171 "Remove app from the store"
There is no way to remve an app from the store, how can this be done? Where are we devs supposed to contact athom for things like that?

[2021-02-20 18:23] TedTolboom commented on #152
I would prefer to have native support for Groups and Scenes within the Homey Zigbee core

[2021-02-22 08:07] XeroxQ commented on #171
Would also like to know that, i have a non-published app of which i changed the name before publishing.
Its kinda "old" trash, so how can it be deleted?

[2021-02-22 08:12] XeroxQ opened #172 "SDk3: Possible issue or change in default localication?"
Hello,

I have an App in which this happends, but it also happends in Homeyscript.
Before SDK:
var a = new Date();
console.log(a);
console.log(a.getHours() + ':' + a.getMinutes());

result used to be:
2021-02-22T08:09:10.432Z
9:9
It would give me (today/right now) the Dutch time, and not the UTC. (Like i wanted, else i would use the getUTCHours ofc)

But when i run it now, i get:
2021-02-22T08:09:

[2021-02-22 08:13] #167 closed, assigned to nobody

[2021-02-22 08:50] XeroxQ commented on #172
I see https://github.com/athombv/homey-apps-sdk-issues/issues/169 is almost the same, so i guess only question remains: Is this a bug or on purpose?
Should i take this new way of local date into my app and rewrite the parts that use local dates/times?

[2021-02-22 09:46] jeroenwienk commented on #171
Please submit a request here [https://support.athom.com/hc/requests/new](https://support.athom.com/hc/requests/new).

[2021-02-22 09:46] #171 closed, assigned to nobody

[2021-02-22 09:48] jeroenwienk commented on #172
This is indeed intented, for more discussion please refer to the other issue.

[2021-02-22 09:48] #172 closed, assigned to nobody

[2021-02-23 20:15] ArjanKranenburg opened #173 "Condition flowcard for thermostat_mode gives an error "mode is not defined""
When checking a devices thermostat mode in the 'and' section of a flow it gives an error "mode is not defined".

![image](https://user-images.githubusercontent.com/2014478/108901855-ae930f80-761b-11eb-9875-91fb6c8999e4.png)

The device is added with the Virtual Devices app, using class 'thermostat' and capability 'thermostat_mode' (a.o.).
The condition-flowcard is provided by the class/capability.

[2021-02-23 20:41] ArjanKranenburg opened #174 "Then flowcard for lock state gives an error "invalid_type""
When using an action flowcard of a lock device with capability 'lock_mode', the flow gives an error when setting that lock_mode:
![image](https://user-images.githubusercontent.com/2014478/108904761-34648a00-761f-11eb-97ef-23af2547e004.png)

The device is added with the Virtual Devices app, using class 'lock' and capability 'lock_mode' (a.o.).
The action-flowcard is provided by the class/capability

[2021-02-23 22:08] jeroenwienk commented on #173
Found the issue will probably be fixed in the next Homey release.

[2021-02-23 22:25] jeroenwienk commented on #174
Thank you for reporting this. Should be fixed in the next Homey release.

[2021-02-28 19:33] robertklep opened #175 "Action card argument named `duration` doesn't get passed to handler."
I have an action card defined as per the definition below. This is an SDKv2 app.

The app has always worked properly, but on v5 the argument `duration` doesn't get passed to the handler. When I rename it (`durationX`) it works as expected.

[code]

[2021-03-01 15:29] mrlukasbos commented on #165
Thank you for bringing this issue to our attention. Starting the Homey app using the url scheme `homey://` indeed takes much longer than expected and we will look into it.

About the widgets and deep links: that is definitely a nice suggestion. Perhaps we will look into it in the future.

[2021-03-01 15:58] RobinBol commented on #165
Thanks for letting us known @k4mrat . I have created an issue in our internal issue tracker, so we will pick this up at some point. Since this issue tracker is used for Apps SDK issues only I will close this.

[2021-03-01 15:58] #165 closed, assigned to RobinBol

[2021-03-02 10:48] gruijter opened #176 "Homey app driver create fails for RF device"
[code]

[2021-03-02 10:59] WeeJeWel commented on #176
Is this an SDK3 app? That's outdated and must be fixed in Homey CLI.

[2021-03-02 11:00] gruijter commented on #176
yes, new SDK3 app. Homey CLI v 2.9.7

[2021-03-02 12:08] gruijter commented on #176
And on a related note:
[code]

[2021-03-02 12:14] gruijter commented on #176
And while we are at it... It seems Homey compose doesnt like signals :(

[code]

[code]

[2021-03-02 12:20] WeeJeWel commented on #176
When using Homey Compose, please put your signals in `./homeycompose/signals/<freq>/<id>.json`.

[2021-03-02 15:58] jeroenwienk commented on #175
After some digging it seems that an argument with the name `duration` is reserved in action cards for quite some while now (at least 2018). So this problem is unrelated to v5.

The duration is overwritten in action cards because of the special 'add duration' button that appears when a card contains the property `duration: true`. This overwrite behavior also happens when this is not defined or fals

[2021-03-02 21:11] XeroxQ opened #177 "my.homey.app crashes with non-excisting droptoken"
If you create a flow in my.homey.app (since sdk3 as far as i know this happands) and you have lets say a Logic Equels with a droptoken. If that droptoken is removed in the background, my.homey.app crashes.
I cant even get into the flow anymore in my.homey.app. Needed to remove the droptoken from the conditioncard through Homey App.

[2021-03-02 21:12] XeroxQ commented on #177
This error is repeatable

[2021-03-03 07:42] mrlukasbos commented on #177
Thank you for reporting the issue. Since this is a Homey Web App issue and not an SDK issue I will close it here, but I will forward your report to our Web App team.

[2021-03-03 07:42] #177 closed, assigned to nobody

[2021-03-03 08:59] robertklep opened #178 "Optimize `Util#deepClone` to prevent memory warnings"
While debugging an issue where users with a lot of Shelly devices were getting memwarns (and eventually, a killed app), @jghaanstra found that [`Driver#getDevice()`](https://apps-sdk-v3.developer.athom.com/Driver.html#getDevice) is the cause of a memory leak.

Digging a bit deeper, it looks like the actual cause of the leak is `Util#deepClone`:
[code]

This is used by `Device#getData()`:
[code]

I

[2021-03-03 09:11] #176 closed, assigned to tjallingt

[2021-03-03 10:32] tjallingt commented on #178
Hiya,

I'm certainly not surprised that its slower/more memory intensive but how _much_ slower is definitely a surprise.
The main reason for choosing `v8#Serializer` was that the HTML Structured Clone algorithm behaves exactly the way you'd expect without any external dependencies.

I do wonder how it is possible that lodash uses less memory, I guess the serialize/deserialize actually allocates th

[2021-03-03 10:50] robertklep commented on #178
With the following script I see a clear difference between using v8 and using lodash: using v8 doesn't decrease RSS by a whole lot after a few GC cycles, whereas with lodash it does drop much more significantly. The v8 serializer also uses much more memory. I tested using Node v12.18.3. It defaults to the v8 serializer, pass a random argument (`node script.js okay`) to make it use lodash.

[code]

[2021-03-03 10:55] tjallingt commented on #178
I don't see whats holding on to the memory so it seems like you might have found a bug in Node.js?
Wonder if its possible to trigger this in Chrome by using `window.postMessage` 🤔

[2021-03-03 11:43] jeroenwienk commented on #177
Fix is live

[2021-03-03 11:43] #178 closed, assigned to tjallingt

[2021-03-03 11:45] tjallingt commented on #178
Should be fixed in a release coming soon :)

[2021-03-03 11:46] tjallingt commented on #168
should be fixed in a release coming soon!

[2021-03-03 11:46] #168 closed, assigned to nobody

[2021-03-03 11:56] tjallingt commented on #161
Should have been fixed in the latest Homey CLI release, sorry that it took a bit longer than expected.

[2021-03-03 11:56] #161 closed, assigned to tjallingt

[2021-03-03 11:56] tjallingt commented on #176
This should be fixed in the latest Homey CLI release, thanks for reporting!

[2021-03-04 08:51] RobinBol commented on #174
@ArjanKranenburg Thanks for reporting this issue, we have implemented a fix in Homey v5.0.1, which is available as Experimental release. Could you verify that this update fixes the issue for you?

[2021-03-04 08:52] RobinBol commented on #173
@ArjanKranenburg Thanks for reporting this issue, we have implemented a fix in Homey v5.0.1, which is available as Experimental release. Could you verify that this update fixes the issue for you?

[2021-03-04 08:57] RobinBol commented on #170
@runely Thanks for reporting this issue, we have removed the faulty translation in Homey v5.0.1, which is available as Experimental release. It will now default to English and in the near future should receive a new translation in Norwegian.

[2021-03-04 08:57] #170 closed, assigned to jeroenwienk

[2021-03-04 10:51] mrlukasbos commented on #139
Thank you for reporting this issue. The Flow Web editor will be replaced with our [new Web App](http://my.homey.app). Because of the new Flow editor this issue won't be fixed.

[2021-03-04 10:51] #139 closed, assigned to nobody

[2021-03-07 13:57] ArjanKranenburg commented on #174
Thanks for the quick fix. This works OK with homeyVersion  5.0.1-rc.1.

[2021-03-07 14:05] ArjanKranenburg commented on #173
Thanks for the quick fix. This works OK with homeyVersion 5.0.1-rc.1.
However the inverting still does not change the writing in the card. For example "Thermostat mode is"-text is the same when inverted, and it should be "Thermostat mode is not".

[2021-03-07 15:04] Shakesbeard opened #179 "Trigger FlowCard rejecting in run listener does not stop flow execution"
Returning a Promise.reject from the runListner still makes the flow execute.
Returning false prevents flow execution though. Either docu wrong or bug.

[2021-03-08 08:17] mrlukasbos commented on #179
Could you please provide more details - perhaps an example of what you are trying to do?

In the docs at https://apps-sdk-v3.developer.athom.com/tutorial-Flow.html under the header "Listening for events", it is explicitly stated that either `true` or `false` must be returned in order for the Flow the continue or stop. Since the listener in the example is `async` in fact a Promise<boolean> is retur

[2021-03-08 09:51] jeroenwienk commented on #179
https://athomcommunity.slack.com/archives/C04SUGZ9E/p1615128162345000

[2021-03-08 11:10] #179 closed, assigned to tjallingt

[2021-03-08 11:10] tjallingt commented on #179
Should be fixed in a homey release coming soon :)

[2021-03-08 13:56] RobinBol commented on #173
Thanks, this should also be fixed in the next (patch) release!

[2021-03-08 13:57] #173 closed, assigned to jeroenwienk

[2021-03-08 13:57] #174 closed, assigned to jeroenwienk

[2021-03-08 14:39] jeroenwienk opened #180 "FlowCard error cannot read property type of null with droptoken"
Reported by @XeroxQ

When a droptoken is null and is used in a FlowCard the card errors with `cannot read property type of null`.

[2021-03-15 20:15] TedTolboom commented on #157
@RobinBol to enable IAS zone enrollment, the following steps need to be taken (as per 8.2.2.2.3 Implementation Guidelines):

Practically:
1. the device (IAS Zone server) shall send a Zone Enroll Request command (Commands GENERATED ID 1) to the IAS CIE (Homey), which Homey will need to capture
2. Homey should write the homey's IEEE address to attribute IAS_CIE_Address
3. Homey should respond with t

[2021-03-15 21:15] TedTolboom opened #181 "Zigbee Core - Add Zigbee Groups and Scenes Cluster integration"
In order to be a competitive platform, I'd like to opt to implement the following (fundamental) zigbee implementation into the Zigbee core and enabled through the zigbeedriver.

Groups cluster - link and unlink devices to a specific group and maintain all by the controller defined groups
Scenes cluster -  create scenes that can be easily recalled

In both cases, the implementation has strong paral

[2021-03-15 21:19] TedTolboom opened #182 "Zigbee Core - Standardized attribute reporting implementation"
In order to ensure a consistent Zigbee experience, I would recommend to implement the attribute reporting implementation into the Zigbee core, instead of depending on developer specific solutions.

Attribute reporting always consists of 3 input field, min time, max time and threshold...
from user experience it would be great to be able to add naming / formatting / parsing by the developer, but hav

[2021-03-15 21:24] TedTolboom opened #183 "Zigbee core - Create default device settings to zigbee attribute implementation"
To support a more lean implementation of all the different Zigbee settings, I'd opt to implement a generic format of the device settings to the zigbee attribute write command

Similar to the Z-wave driver's implementation, where the setting manifest is extended with:
[code]

Similar implementation for zigbee devices would be more beneficial / consistent:
[code]

[2021-03-16 19:04] #175 closed, assigned to jeroenwienk

[2021-03-26 08:08] robertklep opened #184 "ApiApp throws exception when endpoints return un-JSON-serializable data"
When an ApiApp instance calls an API endpoint (of another app), and that endpoint returns something that cannot be JSON-serialized (like `undefined`), an exception is thrown by ApiApp (`Error: invalid json response body at Remote Process`).

It's not documented anywhere that API endpoints should return data that's JSON-serializable.

[2021-03-26 11:10] tjallingt commented on #184
Nice, thanks for reporting!

Do I understand correctly this error happens in the app that performs the call (client), not the one providing the data (server)?
In that case I think we should also print a warning when an api returns data that doesn't json serialize, so the developer of the app in question can spot, and fix, it more easily.

[2021-03-26 11:14] robertklep commented on #184
Correct, the client gets the exception.

Warning on the server side sounds like a good idea 👍🏻

[2021-03-26 19:02] JohanBendz opened #185 "Please add CR2430 battery support"
Please add CR2430 battery support :)

[2021-03-26 19:25] tjallingt commented on #185
👍

[2021-03-29 00:20] AdyRock opened #186 "Temperature setpoint rotary display not reseting"
If the user sets a temperature in the UI and the temperature is rejected, the numerical display resets to the previous temperature but the segments display statys at the new, 'invalid', position.

Also I have noticed with the tado app a similar issue when the setpoint is changed by the device. To replicate this:

1. Change the setpoint in the UI, say from 17.0 to 14.0 and the new mode is automatic

[2021-03-29 07:21] tjallingt commented on #186
Thanks for reporting, will try to reproduce the issue and get it fixed!

[2021-03-29 23:19] RassK opened #187 "Settings frozen too early?"
### **Background**
Settings are frozen too early in specific scenario:
Consider the setup flow: scan subnet for devices -> select device -> login / authorize (test) -> add device

select device step has locked settings and you are unable to populate more settings from selected device on the list.

### **Code**

[code]

[2021-03-30 10:57] #185 closed, assigned to nobody

[2021-03-30 11:01] tjallingt commented on #185
The update to homey-lib can take a little while to propagate everywhere but you should be able to use `CR2430` batteries soon. Thanks for reporting it as missing :)

[2021-03-30 11:59] tjallingt commented on #187
Hi thanks for reporting, I will look into this tomorrow. I'm not sure this is a bug or not but it definitely seems incorrect that settings would get frozen when no device exists yet...

[2021-03-31 07:57] tjallingt commented on #184
So actually the issue was that we internally turn `undefined` into a `204 No Content` response but the client tried to parse that as JSON. I added a check so that a 204 status code gets turned back into `undefined` as expected. I'm going to take a look at the documentation and see if we can explain this behaviour clearer.

[2021-03-31 10:29] tjallingt commented on #187
The word "frozen" threw me off for a bit 😅  There is such a thing as `Object.freeze()` which makes objects "frozen" (meaning there are errors if you try to update the object) but I don't think it has anything to do with the frozen you mean.

The devices that are selected by "list_devices_selection" are passed through the "view store" to the "add_devices" view.
Since your driver cannot update the "

[2021-03-31 10:29] #187 closed, assigned to tjallingt

[2021-03-31 12:22] #184 closed, assigned to nobody

[2021-04-01 12:27] jghaanstra opened #188 "Improve error reporting: invalid_capability at Remote Process"
Sometimes I see this stacktrace in a diagnostic report:
[code]

Obviously I'm trying to update a capability the is not available but this error does not tell me more than that. With an app with 30 drivers and around 6 capabilities per driver there is no way I can track down where this issue comes from. So my request, is it possible to supply more info when this error occurs. For instance what capa

[2021-04-01 12:46] tjallingt commented on #188
Yea we can definitely improve this error message to make debugging easier 👍

[2021-04-06 11:53] MadMonkey87 opened #189 "Alert State not shown on widgets"
Hi

Some users reported a strange behaviour of my DeConz app and I think this might be an Homey issue after all. The problem affects devices with the alarm_motion or the alarm_contact capability. On the dashboard no activity is shown but if you go to the device details you can see that the alarm has been triggered properly.

I think this most likely is a problem of homey itself because of the foll

[2021-04-07 09:04] jeroenwienk commented on #189
Hi,

Thank you for reporting this issue. It seems our frontends base the display of the indicator on a device with class `sensor` and any capability that starts with `alarm_`. I've put it up for discussion and will get back to you shortly.

[2021-04-08 15:28] saiaman opened #190 "homey app driver create Fails in homeycompose world :)"
homey@2.14.2

Running : homey app driver create

? What is your Driver's Name? test
? What is your Driver's ID? test
? What is your Driver's Device Class? Sensor (sensor)
? What are your Driver's Capabilities?
? Do you want to create a Discovery strategy to find your device automatically in the IP network? Yes
? Seems good? Yes

The found app.json does not contain the required properties for a val

[2021-04-09 09:36] jeroenwienk commented on #189
We will remove the class check for indicator sensor and base them on any `alarm_` capability.

[2021-04-09 12:39] #190 closed, assigned to nobody

[2021-04-09 12:41] tjallingt commented on #190
I merged a fix for this issue, will be released soon (we want to make some other minor changes and I'm planning on releasing everything toghether). Thanks for reporting!

[2021-04-09 17:18] MadMonkey87 opened #191 "Search in autocomplete does not work"
An autocomplete argument on a flow card has a search functionality, but this seems not to work. The autocomplete properly receives the values from the app though. Is this a bug or do we need to do something in the app to support the search?

[2021-04-09 17:23] RobinBol commented on #191
Hi! You should be using the `query` parameter to filter the results you return from the auto complete listener here: https://github.com/MadMonkey87/Homey.InsightTrends/blob/3c2e96a75e14dd3f98c9b120d73143f46795509d/ch.philippewechsler.trends/app.js#L258

[2021-04-09 17:23] #191 closed, assigned to nobody

[2021-04-09 17:37] MadMonkey87 commented on #191
Ah I was missing this one, thx!

[2021-04-10 07:18] djfanatix opened #192 "Get all devices doesnt work anymore in v6"
All the apps that require a list of all devices do not work anymore in RC4 6.0.0 (Homeykit, Heimdall,..)

[2021-04-10 10:01] RobinBol commented on #192
Hi, could you perhaps be more precise? It is quite unclear what you expect to happen, what really happens, and what part of the SDK this might be related to.

[2021-04-10 10:35] djfanatix commented on #192
Honestly I have no idea.
I think it are all the apps that use the Homey-api to get all the installed devices.
(This app can control your full homey)

All these apps don't work anymore with v6.0.0

[2021-04-10 13:44] djfanatix commented on #192
For some unknown reason it works again after a reboot.
( I already did a few this morning)

[2021-04-10 15:40] djfanatix commented on #192
Can you open this issue again.
I just re-appeared.

[2021-04-12 08:00] RobinBol commented on #192
I'm sorry but you have to be more specific than "apps don't work". I installed the HomeyKit app and when I go to Settings > HomeyKit I see a list of all my devices. I'm also running v6.0.0-rc.4 and tried this a few times. Is the problem that you don't see the list of your devices in the settings page of the HomeyKit app?

[2021-04-12 08:48] djfanatix commented on #192
Could you also install mqtt hub, after a while I get an error (could not get devices and could not get devicelist) and suddenly homeykit, heimdall, ... don't work anymore.

I will try to make it crash today and send a diagnostics report.

This crash didnt happen before v6z

[2021-04-12 09:08] RobinBol commented on #192
Alright, installed mqtt hub as well, but so far can't reproduce. Any more info you could give might help us to pinpoint this (potential) issue.

[2021-04-12 09:34] djfanatix commented on #192
I just enabled MQTT hub again and enabled the broadcast, and Homey crashed within a minute and went offline.

I am trying to send a diagnostics report (when Homey is online again after a few minutes), but even then Homey crashes.

[2021-04-12 19:10] MadMonkey87 commented on #145
Any update on this? Should be quiet easy to fix;)

[2021-04-13 07:01] RobinBol commented on #192
It might be that your Homey is under very heavy load and therefore has these weird symptoms. I don't think there really is a homey-apps-sdk related problem. We have been testing with the apps you mentioned and can not reproduce so far. We'll keep an eye out, but maybe it would be better if you could contact support, they might be able to help you troubleshoot further.

[2021-04-13 07:01] #192 closed, assigned to nobody

[2021-04-13 07:07] mrlukasbos commented on #145
Yep, that doesn't seem right. We will let you know in this thread when a fix is available!

[2021-04-13 07:08] mrlukasbos commented on #154
This issue should have been resolved in Homey v6.0.0 which is currently available as an experimental release.

[2021-04-13 07:09] mrlukasbos commented on #146
The Typings have been fixed. Thanks for reporting!

[2021-04-13 07:09] #146 closed, assigned to mrlukasbos

[2021-04-13 07:10] mrlukasbos commented on #86
This issue has been resolved in Homey v6.0.0 which is currently available as an experimental release.

[2021-04-13 07:15] mrlukasbos commented on #99
Hi KrakenTyio,

Sorry for the long silence. Many BLE issues have been resolved in Homey v6.0.0 which is currently available as an experimental release. I could not reproduce the issue that you describe above. However, there were indeed some other issues with descriptors which have been fixed which may fix your issue as well.

I will be closing this issue due to it's age but feel free to reopen/res

[2021-04-13 07:15] #99 closed, assigned to mrlukasbos

[2021-04-13 07:47] #86 closed, assigned to mrlukasbos

[2021-04-13 07:47] #154 closed, assigned to mrlukasbos

[2021-04-13 07:48] mrlukasbos commented on #81
BLE notifications have arrived in Homey v6.0.0 which is currently available as an experimental release.

[2021-04-13 07:48] #81 closed, assigned to WeeJeWel

[2021-04-13 09:23] mrlukasbos commented on #85
This issue should have been resolved in Homey v6.0.0 which is currently available as an experimental release.

[2021-04-13 09:23] #85 closed, assigned to mrlukasbos

[2021-04-13 15:12] MadMonkey87 opened #193 "[Question] When should we set a capability value"
Quick question! Let's assume I have a device that gets polled: should I call device.setCapabilityValue always or only if the value has changed?

Background: see https://github.com/MadMonkey87/HomeyCONZ/issues/48
In the homey app in the device detail we can see when the capability has been updated the last time. What is Athoms idea here? Should it reflect the last time it has been updated or the la

[2021-04-13 15:13] WeeJeWel commented on #193
Hi there! Just call `setCapabilityValue` whenever you know what the most recent value is. Our SDK handles the rest.

The `1 minute ago` is when the capability has last _changed_.

[2021-04-13 15:14] #193 closed, assigned to nobody

[2021-04-14 06:12] #145 closed, assigned to mrlukasbos

[2021-04-14 15:39] MadMonkey87 commented on #193
Thx! All clear now

[2021-04-16 16:02] MadMonkey87 opened #194 "Improve Flow Card Arguments"
When using a bit more complex flow cards I often struggle a bit how they are handled by Homey. You can find some examples and the end.

Here are some ideas how this could be improved:

 - FormattedTitle: currently needs include all arguments which is understandable as this is used in Homey Web which represents the entire card. This is fine for simple cards but some require more arguments. Example:

[2021-04-19 13:54] tjallingt commented on #194
Hey, thanks for sharing!

Some of these are, as you mention yourself, some pretty advanced use cases for Flow. I agree we can definitely improve the user experience in those cases.

Yea in case of the "Make a HTTP request" this is not the best design, however in general we really like the look of the `titleFormatted` Flow cards in the Web App. Usually when this looks bad the Flow card in question

[2021-04-19 13:54] #194 closed, assigned to nobody

[2021-04-21 05:11] iisworks commented on #189
@jeroenwienk Will a fix for this be released in the FW 6 beta?

[2021-04-21 07:32] TedTolboom opened #195 "Zigbee Core - add default handling of Time cluster communication"
Almost all Zigbee devices request an update from the controller for setting the correct time.
Please implement this in the core, to avoid duplicate implementations within the app drivers

[2021-04-21 07:45] TedTolboom opened #196 "Zigbee Core - Add default handling of PollControl cluster"
Several battery powered Zigbee devices use the PollControl cluster to define check-in moments, see 3.16 Poll Control in the specifications.

Periodically the client sends a Check-in Command, that should be responded with a Check-in Response Command from the controller. Adding this within the driver can only be done based on a custom boundCluster to capture the Check-in command, and respond to it.

[2021-04-21 08:03] jeroenwienk commented on #189
This is not a firmware release but a web app and mobile app release. It has since been fixed in the web app and the mobile app fix should be live soon.

[2021-04-21 09:25] iisworks commented on #189
Thanks, confirmed in the WebApp!

[2021-04-24 08:04] notabene00 commented on #85
Can confirm. Almost two years and it's working right now!

[2021-04-24 18:28] runely opened #197 "Could not find a valid Homey App at @"

[2021-04-24 18:28] #197 closed, assigned to nobody

[2021-04-24 18:39] runely opened #198 "Could not find a valid Homey App at '.../.homeycompose'"
When i created my Homey App last year with Homey version **2.3.5**, with homeycompose enabled, the `app.json` file was created in the root project folder outside the .homeycompose folder.

Today when i updated Homey package from **2.12.1** to **2.17.1** i can no longer publish my app because it can't find my `app.json` file in the .homeycompose folder. This has never been an issue before.

I tried

[2021-04-24 19:41] tjallingt commented on #198
Hey, thanks for reporting.
Newer Homey compose apps all have their `app.json` file in the `.homeycompose` folder which i guess is the recommended way to structure your app. However it should be pretty simple to fix so I can do so Monday.

[2021-04-26 06:33] TedTolboom commented on #196
Same issue with the IAS Zone enrollment; unable to implement from driver perspective since the cluster uses different commands to receive as to send (from the controller).
Ie. Check-in command to be received by the controller, to be answered by the check-in response.
Within the current cluster implementation it is not possible to implement different command sets.

[2021-04-26 07:30] TedTolboom opened #199 "Trigger cards missing in "speaker_playing" capability"
I noticed that with the Chromecast app, the device does not show the trigger cards for the state (started playing, stopped, paused, next track etc). While the state in the UI is showing this.

These cards are also not listed in the "speaker_playing" capability in the apps reference.
https://developer.athom.com/docs/apps-reference

Can you add these trigger cards?

[2021-04-26 07:31] TedTolboom commented on #199
Bumped by Emile:

;-P

[2021-04-26 10:40] jghaanstra opened #200 "Device is registered as offline if mDNS fails"
In most of my apps I use the mDNS discovery mechanism for discovering WiFi connected devices. This works quite well but for some users using mDNS is not an option (when using seperated LAN's or misconfigured routers). For this reason I'm also allowing users to manually pair a device by entering the IP address and user credentials by hand.

This has always worked fine but recently (with firmware 6.

[2021-04-26 11:40] #198 closed, assigned to tjallingt

[2021-04-27 13:00] koktaildotcom opened #201 "Missing device detail hook."
It's more an improvement than a bug.

When entering a device detail (capacity UI details) there is no way to hook into that process is it?

I have a usecase with my app xiami mi flora. The devices are synced on a time interval. But I would like that if you enter the details of the device that an ble connection is made to show real-time data.

An hook to an device would be awesome.

Public onDevice

[2021-04-27 13:16] tjallingt commented on #201
I'm not sure I understand what you want to do and why that's not possible right now. Can you explain which device details you mean? Do you mean you want to know in the app when the capability screen is opened in the front-end?

![Screenshot 2021-04-27 at 15 16 22](https://user-images.githubusercontent.com/5736783/116247883-951d5980-a76b-11eb-8f95-92bfae47db61.png)

[2021-04-27 13:50] koktaildotcom commented on #201
Yes! That is exactly what I meant. Is this already possible in the current version?

[2021-04-27 13:50] koktaildotcom commented on #201
I don't want every device to update, only the one that is opened in the app.

[2021-04-28 09:07] tjallingt commented on #201
No, at this time there are no special events when a user interacts with device from the front-end (other than actions such as changing capability values of course).

Its' an interesting idea, if it is something many apps can benefit from we could implement this but I'm not sure for how many apps this would be useful. The best way to help us determine whether we should add this is to collect use-ca

[2021-04-28 09:07] #201 closed, assigned to nobody

[2021-04-29 13:06] jghaanstra commented on #188
It's the same for:
[code]

What capability is out of range for what device / driver.

[2021-04-29 15:30] koktaildotcom opened #202 "BLE discovery gives 0 advertisements"
Homey firmware: Homey v6.1.0-rc.2
Scenario: https://github.com/koktaildotcom/com.beacon/tree/feature/specific-beacon-detection

When calling `const advertisements = await this.homey.ble.discover([]);` the first result (when cache is cold) results in all discoverable devices.

However when you wait 10 seconds and try to run the discovery once again it give sometimes an empty array.

[2021-04-29 18:18] mrlukasbos commented on #202
That seems like a bug.

However, I cannot reproduce the issue right away. Unfortunately I can't access your link, however, I'd like to see the code you use. Do you apply a service filter?

[2021-04-29 19:15] koktaildotcom commented on #202
Sorry, I merged the branch with master:
https://github.com/koktaildotcom/com.beacon

I don't use a service filter in the code. You could make a simple test script with timeout.

Pseudo:
setTimeout(
console.log((await this.homey.ble.discover([])).length)
,10000)

[2021-04-30 07:13] koktaildotcom commented on #202
I've made a simple reproduction script inside the app.js in branch: https://github.com/koktaildotcom/com.beacon/tree/issue/BLE-discovery-gives-no-advertisements

      async onInit() {

          console.log(await this.getAmountOfBleAdvertisements())

          setTimeout(async () => {
              console.log(await this.getAmountOfBleAdvertisements())
          },10000)

          setTimeout(asy

[2021-04-30 08:04] emilohman opened #203 "BLE connection problems in v6"
I'm getting a lot of error reports for my app https://homey.app/a/se.emilohman.plejd from users and their problem is that they can't connect to their devices over BLE after upgrading to Homey firmware v6. The error is just a timeout error when connecting to the advertisement.

It's not affecting all users, it's working for me. Do you experience similar problems with BLE connections?

[2021-04-30 08:05] mrlukasbos commented on #202
Thank you for reporting. I have indeed managed to reproduce the issue with this approach. I will notify you in this thread when a fix is available.

[2021-04-30 08:13] mrlukasbos commented on #203
Hi, thank you for reporting. Connection Timeout issues could appear for multiple reasons.

- It may occur when it is tried to connect with multiple devices at once. (this is due to queuing)
- It may occur when the BLE devices are at the edge of the range. (Or when there is much interference)
- It could be an issue related to some specific behaviour of Plejd devices. If there is a smartphone app fo

[2021-04-30 08:24] emilohman commented on #203
Thanks for your reply!
It's just that it was working before v6 and now it's stopped working for a lot of users.
Absolutely, the code is available here: https://github.com/emilohman/homey-plejd/blob/master/drivers/plejd/driver.js
The `currentAdvertisement.__peripheral = null;` line is for some old bug in Homey but I will remove that.

I'm thinking of make a test where I try to connect to a differen

[2021-04-30 09:57] mrlukasbos commented on #203
Could be an issue with v6 indeed. Do you have an idea of the range of these devices? Does it occur more often when devices are further away?

[2021-05-03 11:23] emilohman commented on #203
Unfortunately, I don't know. Just that it worked in v5 but not in v6. Is it any changes in v6 that can effect the range for BLE?

[2021-05-03 13:12] mrlukasbos commented on #203
There are a few differences that may have an impact:

- Performing a discovery scan in V6 is limited to 5s instead of 30s, maybe the advertisements get out of date and a new advertisement is never found.

- V5 had a bug, which caused the issue that `homey.ble.disconnect()` would not work. This has now been fixed so you disconnect() functions now actually have an effect. Maybe this causes more reco

[2021-05-05 07:01] magtimmermans opened #204 "Tag is value is not available as argument in trigger"
Hi, I have a trigger card and someone entered a tag as an argument. So the state.offset (in my case) get's an object and how can I retrieve the value behind this??
let rainStartTrigger = new Homey.FlowCardTrigger('rain_start');
rainStartTrigger
  .registerRunListener(( args, state ) => {
    args, this is the user input
    the state parameter, as passed in trigger()
   // If true, this flow shoul

[2021-05-07 07:32] RobinBol commented on #204
Hi @magtimmermans, thank you for reporting this issues. It indeed seems to be a bug. Could you please provide some more information about how and when this bug seems to occur? Perhaps you could share your Flow.

[2021-05-07 08:04] WeeJeWel commented on #204
@RobinBol I think this happens when the Logic Variable has been deleted, but the variable's tag is still used in the Flow card's argument. Should be easy to reproduce.

[2021-05-07 11:12] RobinBol commented on #204
Yes tried that but could not reproduce, in my test case the Flow card action is not executed but gives an error (flowtoken_not_found).

[2021-05-07 16:18] magtimmermans commented on #204
Hi,

The flow token was their. It was from the logic and was used in my Sunevents app. Sdk 2 homey 6 release.

![image](https://user-images.githubusercontent.com/17949840/117479138-3e303500-af60-11eb-9b03-524aa55bcdad.jpeg)

This logic var was not a number when getting it as state back.

[2021-05-08 20:04] koktaildotcom commented on #202
Is there any progress in this issue? The beacon app is dependent on this working as expecting. I got a lot of questions about this.

[2021-05-10 09:13] emilohman commented on #203
I can see that users that have 10-15 devices added just find 1 or 2 on discovery.
In the sdk it says 5s is default but max is 30s i that correct? https://apps-sdk-v3.developer.athom.com/tutorial-Bluetooth%20Low%20Energy.html

[2021-05-10 09:28] mrlukasbos commented on #203
No. The documentation is outdated. Currently the max has been limited to 5s to prevent another issue, but I am looking for a way to put back this timeout. It may definitely have something to do with your issue.

Over the upcoming weeks we may be tweaking BLE a bit in the experimental channel.

[2021-05-10 09:34] mrlukasbos commented on #202
Yes, the issue has been found and fixed. However, it first will be rolled out to our experimental channels, so it may take some time before it will reach the stable channel.

[2021-05-10 09:50] koktaildotcom commented on #202
Great news! Thanks for fixing the issue!

[2021-05-12 07:54] #199 closed, assigned to tjallingt

[2021-05-12 07:58] tjallingt commented on #199
Thanks for reporting Ted! These cards will automatically be added in the next Homey release

[2021-05-13 16:31] MadMonkey87 opened #205 "[Bug][WebApp] strange autocomplete behaviour"
Hi, one of my users reported a strange problem in the homey web app (see https://github.com/MadMonkey87/Homey.InsightTrends/issues/2). When performing a search in a drop down it seems the result is not always rendered correctly. As you can see in the screenshot bellow the api call made contains a different result set than the one rendered. It also appears to be fine in the android and ios app but

[2021-05-13 16:55] jeroenwienk commented on #205
Sounds like a race condition. I will look into it thank you.

[2021-05-14 07:42] runely opened #206 "`setInterval` not accurate enough"
In SDK3 `ManagerCron` is removed and instead we are told to use `setTimeout` and `setInterval`.

This is fine for apps which just needs to do a job approximately at the same time every interval.

For my app, [IcalCalendar](https://github.com/runely/calendar-homey), which reads calendars and needs to fire flow cards at the exact minute (0th second) when the event occurs, this is not accurate enough

[2021-05-14 07:52] WeeJeWel commented on #206
Why aren't you simply using setTimeout for the next occurrence? :)

[2021-05-14 12:00] RobinBol commented on #204
@magtimmermans could you share the exact Flow with which you have experienced this issue?

[2021-05-14 14:59] jeroenwienk commented on #205
Should be fixed.

[2021-05-14 14:59] #205 closed, assigned to jeroenwienk

[2021-05-14 15:00] #189 closed, assigned to jeroenwienk

[2021-05-14 15:59] runely commented on #206
Because `setTimeout` also suffers from the same delay and keeps drifting off.

My app has flow cards that triggers when events starts and stops. There's also flow cards that triggers a set amount of mintes/hours/days before an event starts/stops. And because of this, there's no way (that i know of) to know exactly when the next flow card should trigger, and therefore the app needs to check every m

[2021-05-16 09:01] runely commented on #206
I have found a package which handles the interval execution every minute, as accurate as possible. This seems to do the job quite nicely, but i would really much prefer that core Homey would deal with this.

https://github.com/swimclan/interval-clock

[2021-05-22 14:54] magtimmermans commented on #204
It is whenever I use a trigger with a tag value. This is for example with the sunevents app.

[2021-05-26 08:55] AdyRock opened #207 "Automatic sub capability flow triggers are not working"
I have implemented some sub capabilities and added the value changed flow triggers to the json file. However, the flows are not being called when the value changes. here is an example of one of the capabilities and the flow entries:
`"measure_temperature.dewPoint"`

[code]

[code]

I am then setting the value with:
` await this.setCapabilityValue('measure_temperature.dewPoint', dewPoint);`

I setu

[2021-05-27 09:30] edwinvdpol opened #208 "thermostat_mode capability option"
Hi there,

I have build an app for a thermostat, and I noticed back then that I could not 'overwrite' the capability options for `uiComponent`.

`driver.compose.json` (removed none relevant JSON)
[code]

The UI component is still available when I checked the device.

It does work for the `target_temperature` capability.

**Use case:** The thermostat does not support modes like "heat", or "cool" so

[2021-05-27 10:12] MadMonkey87 commented on #171
Never got an answer there so i am reopening this. Basic question is if Athom even wants apps to be removable. If this is the case it might get them into legal problems, so please allow this within 30 business days

[2021-05-27 10:14] MadMonkey87 opened #209 "Remove app from the store"
See https://github.com/athombv/homey-apps-sdk-issues/issues/171

Never got an answer there so i am reopening this. Basic question is if Athom even wants apps to be removable. If this is the case it might get them into legal problems, so please allow this within 30 business days

[2021-05-27 10:14] WeeJeWel commented on #209
Hi @MadMonkey87 ,

Which app do you want to see removed?

[2021-05-27 10:33] MadMonkey87 commented on #209
Ch.philippewechsler.splines for now

[2021-05-27 10:41] MadMonkey87 commented on #209
HeyCh.philippewechsler.splines for now, the others will follow.Btw 1: why do reviewers always  want to discuss what feature of the app are good for the user and what not? If there is an api for something why should i not use it? Sorry but your company has a weired sense of humour. Not funnyBtw 2: never got the hoodieBestPhilippeVon meinem/meiner Galaxy gesendet
-------- Ursprüngliche Nachricht ---

[2021-05-27 16:38] RobinBol commented on #202
@koktaildotcom the fix has been released in the Experimental channel (Homey v7.0.0).

[2021-05-27 17:17] zwaardemaker commented on #202
False alarms are still there after the fix.

[2021-05-28 11:06] mrlukasbos commented on #202
I don't understand what you mean exactly. This specific issue is about advertisements not being found. What kind of "false alarms" are you referring to?

[2021-05-28 11:26] zwaardemaker commented on #202
One of the app devolpers just explained it to me. So you can ignore my post.Best regards,PeterOp 28 mei 2021 13:06 schreef Lukas Bos ***@***.***>:
I don't understand what you mean exactly. This specific issue is about advertisements not being found. What kind of "false alarms" are you referring to?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or u

[2021-05-28 11:28] mrlukasbos commented on #202
Ah, no problem. Thanks for the clarification 😄

[2021-06-02 02:12] Xelium opened #210 "Use asterisks to highlight variable words not working"
[https://apps-sdk-v3.developer.homey.app/ManagerNotifications.html](url)

![1](https://user-images.githubusercontent.com/6226403/120413527-bf5ccb00-c358-11eb-879c-37159462872a.png)
![2](https://user-images.githubusercontent.com/6226403/120413533-c1bf2500-c358-11eb-95dc-ebe5d8a7b7df.png)

[2021-06-02 07:16] RobinBol commented on #210
Hi @Xelium , if I'm not mistaken you have to use double asterisks. Please let me know if that works for you and I'll update the documentation accordingly.

[2021-06-02 09:25] #209 closed, assigned to nobody

[2021-06-02 09:42] tjallingt commented on #206
We understand. `ManagerCron` wasn't necessarily more accurate though, it just prevented the "drift" you are seeing when using `setInterval`. We removed it because it was used by few apps, had some issues and was quite complex. Especially since packages like https://github.com/node-cron/node-cron exist that allow you to do the same thing very easily in app-space.

I'm closing this issue now. If mor

[2021-06-02 09:42] #206 closed, assigned to nobody

[2021-06-02 13:03] tjallingt commented on #207
Sorry that responding took a while, this appears to be a "bug" in our documentation. The name of the token shouldn't be `"value"` but `"measure_temperature.dewPoint"`. Can you test whether that works for you? Then I'll make sure the documentation is updated to explain the correct token name.

[2021-06-02 14:56] AdyRock commented on #207
Using "measure_temperature.dewPoint" works.
Is there a similar technique for the new "is greater than" and "is less than" triggers?

[2021-06-02 15:04] tjallingt commented on #207
Great to hear that fixes the flow cards.
~I believe greater than and less than are supposed to be postfixed with `_threshold_above` and `_threshold_below`. Those still need documentation.~

The "capability threshold flow cards" don't support a token right now. Not sure what the reason is, I think it would be possible to add tokens but I'll need to discuss that internally.

[2021-06-02 15:07] AdyRock commented on #207
Great, I shall try them out.
Also on the page https://apps.developer.homey.app/the-basics/devices/capabilities#using-the-same-capability-more-than-once could you add a linh to the https://apps.developer.homey.app/the-basics/devices/capabilities#using-the-same-capability-more-than-once page. At the moment if you are looking at the capabilities page then it not apparent that the sub capabilities fea

[2021-06-02 15:10] tjallingt commented on #207
Oh wait that doesn't need documentation, you shouldn't need to add `_threshold_above` and `_threshold_below` flow cards.
Those flow cards are generated and added automatically for all `measure_` and `meter_` capabilities.

[2021-06-02 15:12] AdyRock commented on #207
But does that include sub capabilities?

[2021-06-02 15:14] tjallingt commented on #207
It should, if it doesn't add them for your sub-capabilities that'd be a bug.

[2021-06-02 15:16] AdyRock commented on #207
OK, I will remove mine and see if the automatic one kick in.

[2021-06-02 15:22] AdyRock commented on #207
I have removed my definitions for greater and less than triggers and they have disappeared as options to select but the automatic ones haven't appeared.
I have the ones for measure_temperature but not for measure_temperature.dewPoint

[2021-06-02 15:52] tjallingt commented on #207
That seems like a bug, I'll try to reproduce tomorrow and see whether that's intended behaviour or not.

[2021-06-02 17:54] MatsAnd commented on #206
Hi, I also agree with @runely that it would be better to have this handled by Homey Core, rather than by the apps. Wouldn’t it be more efficient to have one timer running globally, than one for each app?

[2021-06-03 07:30] tjallingt commented on #207
Oh, sorry Flow Cards are indeed not generated for sub-capabilities at the moment as mentioned in the "warning box" here: https://apps.developer.homey.app/the-basics/devices/capabilities#using-the-same-capability-more-than-once

We may re-evaluate that decision though

[2021-06-03 07:39] tjallingt commented on #207
Closing because the documentation has been updated, the generated Flow Cards for sub-capabilities are expected behaviour but feel free to make another issue as a feature request :)

[2021-06-03 07:39] #207 closed, assigned to tjallingt

[2021-06-03 09:26] arovik85 opened #211 "Add temperature from temp sensors to tile on home screen"
Temperature should be displayed on temp sensors aswell as thermostats on the home screen

[2021-06-03 09:37] RobinBol commented on #211
Thank you for your feedback! We are certainly looking at ways to improve these kinds of things. Since this is not really an SDK issue I am closing it for now. Keep an eye out for future mobile app updates :)

[2021-06-03 09:37] #211 closed, assigned to nobody

[2021-06-03 15:13] tjallingt commented on #200
Sorry for the late reply.

Devices with a discovery strategy are automatically set to unavailable if they are not found. You can workaround this with a short `setTimeout` in the `onInit` of your Device class.

[code]

This behaviour likely changed when your app was updated to SDK v3. In SDK v3 `setUnavailable` called after `onInit`. The reason for this change is that the Device class's "discovery

[2021-06-03 15:52] tjallingt commented on #208
Yea I think this is intended behaviour, you cannot disable the ui component for any of the built in capabilities.

If your thermostat doesn't support "heating" or "cooling" modes you should not add the `thermostat_mode` capability.
For the Flow cards it is probably best that you define your own Flow cards.

If your device has modes other than heating or cooling and you want to allow users to chang

[2021-06-03 15:52] #208 closed, assigned to tjallingt

[2021-06-07 09:36] tjallingt commented on #200
We discussed this internally and we think the behaviour is correct, if a device with a discovery strategy cannot be found it should be set to unavailable.
In your case you can either workaround the issue with the `setTimeout` or remove the discovery strategy from the device manifest and use the discovery strategy yourself:

[code]

We will update the documentation so this behaviour and the philoso

[2021-06-07 09:36] #200 closed, assigned to tjallingt

[2021-06-08 11:02] tjallingt commented on #204
I'm going to close this because we currently don't have enough information to reproduce this issue.
If you are still experiencing this please open another issue with a description of the specific apps, devices and Flows that trigger this issue for you.

[2021-06-08 21:15] TheRealLink opened #212 "mDNS - Missing libdns_sd.so.1"
I tried implementing an AppleTV driver for Homey. On pairing, the used package (node-appletv) relies heavily on mdns.

As soon as I call any mdns functionality, the static lib can not be found:

`[err] 2021-06-08 21:00:48 [ManagerDrivers] Error: libdns_sd.so.1: cannot open shared object file: No such file or directory
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:1208:18)

[2021-06-09 00:48] Xelium commented on #210
Using double asterisks works. It makes the variable words bold in the timeline of the Homey app. In the actual notification on your phone it does nothing though.

[2021-06-09 05:57] WeeJeWel commented on #212
Sorry, but you can't use native modules in Homey apps.

Try using ManagerDiscovery or mdns-js.

[2021-06-09 05:57] #212 closed, assigned to nobody

[2021-06-09 06:10] RobinBol commented on #210
Alright, thanks for getting back to me. I am not sure, but I don't think we can do bold in mobile app notifications.

I'll update the documentation to reflect this! Thanks for reporting.

[2021-06-09 06:10] #210 closed, assigned to RobinBol

[2021-06-09 08:28] lovaere opened #213 "Update icons for custom capability with ternary uiComponent"
When defining a custom capability, you are able to select the uiComponent of your choice. When selecting the **ternary** uiComponent then the icons are no longer shown in the UI:

![file](https://user-images.githubusercontent.com/46051301/121319853-e729d100-c90c-11eb-83dc-20c4b9b53398.jpeg)

Here is a sample of the capability definition:

[code]
How can we pass the icons of the buttons?

[2021-06-09 10:29] RobinBol commented on #213
Hi! Could you mention which version of the Homey mobile app you are using when you see this issue?

[2021-06-09 10:43] RobinBol commented on #213
You can probably already fix this yourself by using `up`/`idle`/`down` as value id's.

[2021-06-09 11:05] lovaere commented on #213
I'm using app version 6.7.1.732 with Homey version 6.1.0

[2021-06-09 11:05] lovaere commented on #213
That's indeed a working fix. Thanks for your quick reply!

[2021-06-09 11:05] #213 closed, assigned to RobinBol

[2021-06-10 21:54] fpalsson commented on #169
Any update on this?

[2021-06-11 20:08] Xelium commented on #210
It is possible with HTML styled notifications on Android and IOS:

https://help.pushwoosh.com/hc/en-us/articles/360000347463-Bold-italic-coloured-notification-text-for-iOS-and-Android

[2021-06-12 12:42] magtimmermans commented on #204
Please re-open. I am using the function of FlowCardTrigger object:
https://apps-sdk-v2.developer.athom.com/FlowCardTrigger.html#getArgumentValues

Walking to the arguments gives me and object instead of the value.

[2021-06-12 12:44] tjallingt commented on #204
Can you share a complete code example? The one you've shared before doesn't include `getArgumentValues()`

[2021-06-12 13:36] robertklep opened #214 "[SDK3][Typescript] incorrect declaration for `FlowCardTriggerDevice#trigger()`"
`@types/homey/all.d.ts` declares `FlowCardTriggerDevice` as follows:
[code]

However, `FlowCardTriggerDevice#trigger()` requires an additional argument (so cannot reuse the declaration of that method in `FlowCardTrigger`):
[code]

[2021-06-13 13:51] gruijter opened #215 "Ability to remove energy object for virtual devices"
I want to disable the Energy setting in advanced device settings and in the energy tab. I have a virtual device in class 'other' that does not have energy consumption. I already tried putting this in the driver.json but didn't help:
   "energy": {
         "usageConstant": 0
   }

Can you pls create the option to do energy: false or similar?

[2021-06-13 15:04] daneedk commented on #215
I have the same in the Heimdall app, both the Surveillance Mode switch and Alarm Button have an energy setting while I’m pretty sure they will never consume any energy ;)

[2021-06-14 05:44] AdyRock commented on #215
It would be nice if it could be disabled for other classes as well, like sensor and lock.

[2021-06-14 11:09] RobinBol commented on #202
Closing this issue since the fix has been released in Homey v7.0.0, currently stable.

[2021-06-14 11:09] #202 closed, assigned to mrlukasbos

[2021-06-14 11:39] tjallingt commented on #214
Thanks for reporting this. I'm not sure why TypeScript doesn't allow this... This same issue affects `FlowCardTriggerDevice#getArgumentValues()` but that is "masked" by the error on `trigger()`.

I think the only fix is to extend `FlowCard` instead of `FlowCardTrigger` and then give `FlowCard#getArgumentValues()` a `device` argument with type `never`. Unfortunately I cannot find a way to prevent t

[2021-06-14 12:07] robertklep commented on #214
You could implement a base class for all common methods and implement the class-specific methods in their respective class implementations:
[code]

[2021-06-14 15:07] #214 closed, assigned to tjallingt

[2021-06-14 15:11] tjallingt commented on #214
Will release an update to the types tomorrow that fixes this (and makes `tokens` and `state` optional)

[2021-06-14 15:27] tjallingt commented on #215
Hey thanks for the examples of where disabling energy usage would be useful. Should be a pretty simple improvement!
I can promise we will pick this up but I hope you understand it isn't the highest priority for us right now so don't please expect this to be implemented immediately :)

[2021-06-15 08:20] tjallingt commented on #204
Okay I managed to reproduce the behaviour, but this is a very tricky issue.

In some ways this behaviour is intended: `FlowCard#getArgumentValues()` works together with `FlowCard.on('update')` so that you can retrieve the values that are passed to your Flow card. However if you are using a token this value can change without an `"update"` event to notify your app of this change.

Additionally ther

[2021-06-15 08:38] tjallingt commented on #214
This is fixed in version `0.2.2` of `homey-apps-sdk-v3-types`

[2021-06-15 09:50] magtimmermans commented on #204
Great you found it. I am also happy with another function that can get the details on the result of getArgumentValues().

[2021-06-15 10:08] fpalsson commented on #214
Great. Seems to work well.

[2021-06-28 06:12] emilohman commented on #203
This is still a problem for my users in v7.. have you found a fix for the discovery?Is something else changed from v5? Something that can affect the signal strength.

[2021-06-28 07:26] mrlukasbos commented on #203
There was indeed a problem with discovery which I have recently resolved (V7.0.0). Apart from the shorter discovery time (which should not make a large difference) there is no known issue that could prevent Homey from connecting to the peripherals - there were some issues with this which have been fixed specifically in V6.0.0. The BLE range has not been affected, although the BLE range always has

[2021-06-28 08:05] emilohman commented on #203
Ok.. it's just that it worked in v5 and stopped working in v6. I cannot reproduce my self, but there is user that contact me with problem every week.
Nothing seems to have changed on the Plejd side. Plejd lights is a dimmer puck that is located in the wall (like fibaro and many other) so the power is only remove with the power fuse.

What happens is that my app finds 1-2 devices of about 30 device

[2021-06-28 20:53] AdyRock opened #216 "Homey cli 2.20.0 "uiComponent": null generates an error."
If a capability definition has `"uiComponent": null` then the pre-processing when validating an app shows the message:

`Cannot convert undefined or null to object`

[2021-06-29 10:43] #216 closed, assigned to tjallingt

[2021-06-29 10:45] tjallingt commented on #216
Thanks for reporting! This will be fixed in version 2.20.1

[2021-06-29 14:49] denniedegroot commented on #203
@mrlukasbos I can get Homey in a state where the 'disconnect' trigger is immediatly triggered after a connect. This happens after I get a "Error: BLE Timeout". Restarting my app (https://homey.app/nl-nl/app/com.luke-roberts/Luke-Roberts/) doesn't work. I have to restart Homey in order for the app/device to work again.

[code]

[2021-06-29 14:58] mrlukasbos commented on #203
Does the 'disconnect' event trigger immediately, or does it take a few seconds (15 or more)?

When a connect-attempt takes too long a timeout error is thrown and Homey will disconnect the peripheral (even while it is not connected) to clear state.

[2021-06-29 15:06] denniedegroot commented on #203
When it is in this 'error state' it is called immediately (within a second) every time.
In a normal working state the disconnect is called after 6 seconds by the device or is executed manually.

Edit: Even if I remove this disconnect trigger it will never connect again and always gives a "BLE Timeout" until Homey is restarted.

[2021-06-30 15:03] AdyRock opened #217 "App trigger cards with a device argument"
Maybe I'm being lazy but with 44 drivers and growing I didn't want to add a trigger to every device so I added an app global trigger as follows:

[code]
[code]

`Homey.app.triggerCommandComplete(this, this.executionCmd, (element.newState === 'COMPLETED'));`

[code]

But the state.device is the device.appId and not an device object so I had to use the undocumented device.getAppId() to match the dev

[2021-06-30 22:22] edwinvdpol opened #218 "Homey Compose invalid driver flow template?"
Hi there,

When I run the `homey app validate` CLI command, I get the following error:

`Invalid driver flow template for driver bridge: connected_false`

This always worked as a charm. Why is it not working anymore?

There was a fix [2 days ago](https://github.com/athombv/node-homey/commit/5e16a70e98c08b8e46fd17390a6fb32a271727c4), not sure if this solves the issue?
If so, please release 😉

Homey

[2021-07-01 10:27] tjallingt commented on #217
The fact that you are getting an `appId` in the `registerRunListener()` `state` argument is an issue. We probably won't change it but it's a bad idea to rely on a device instance turning into an object with the `appId`.

I'd recommend using a `"filter": "driverId=driver1&driver2&..."` for the device argument of your Flow card and `FlowCardTriggerDevice` in your app code. Unfortunately adding a fil

[2021-07-01 10:28] tjallingt commented on #217
I'm going to close this but its fine to continue the conversation about the pros and cons of using a `FlowCardTriggerDevice` or a `FlowCardTrigger` here (or on Slack).

[2021-07-01 10:28] #217 closed, assigned to tjallingt

[2021-07-01 11:26] tjallingt commented on #218
Thanks for reporting and investigating!
We recently fixed all ESLint errors in the Homey CLI and this bug was accidentally introduced.

[2021-07-01 11:58] #218 closed, assigned to tjallingt

[2021-07-01 12:48] tjallingt commented on #218
A fix for this is released in Homey CLI version 2.20.2

[2021-07-01 18:20] AdyRock commented on #217
I have implemented your suggestion. But I think the "filter": "driverId=driver1&driver2&..." should be "filter": "driverId=driver1|driver2|..."
When I use the Ampersand the cards don't appear. It is a mighty long string of devices though so I hope there is no limit ;-)

[2021-07-01 19:02] tjallingt commented on #217
Oh whoops yea you're right the `|` is used as an "or". You'll probably run into other limits before the length of the filter starts becoming an issue ;p

[2021-07-22 13:29] escabe opened #219 "What does chartType do?"
If we look at the built-in device capabilities:

https://apps-sdk-v3.developer.homey.app/tutorial-device-capabilities.html

For some:
` "chartType": "stepLine"`

or:

` "chartType": "spline"`

is set. This option isn't mentioned anywhere in the docs, I guess I'd have expected to see it in the custom capabilities section:

https://apps.developer.homey.app/the-basics/devices/capabilities#custom-capa

[2021-07-22 13:32] WeeJeWel commented on #219
This is legacy from Homey v1.x and isn't used anymore :)

[2021-07-22 13:32] #219 closed, assigned to nobody

[2021-08-07 17:47] gruijter commented on #215
with all the Homey releases coming out every few weeks, any chance to have this included in the next release?

[2021-08-08 21:20] ErikHenefalk commented on #203
@mrlukasbos I am using @emilohman s Plejd-app in Homey. The app worked very well with Homey ver. 5, but with ver. 6 and all versions after the app stopped working. Only if I restart Homey and the Plejd-app it works for about 30 seconds and after that the devices (all 27) stop responding and I get a red message saying "Timed out after 30000 ms". Emil has been kind and tried to help me, but the erro

[2021-09-07 20:17] mojento commented on #203
@mrlukasbos I have issues to connect my newly installed Plejd-devices to homey via @emilohman Homey app 'Plejd'.
I have 9 of them installed and added in Plejd-app in Homey since v5. For some reason I cannot add the Plejd BLE-devices anymore. They are discoverably for 30 sek. and then they disappear.

[2021-09-08 08:38] janhjordie commented on #169
I also have issues with my local time. It always return UTC, and I'm in Copenhagen, Denmark

[2021-09-08 12:07] robertklep commented on #169
@janhjordie that's not an issue, that's intentional.

[2021-09-08 12:36] mrlukasbos commented on #203
Thank you all for responding, and please excuse me for taking such a long time to respond.

@denniedegroot Seems like a cache issue and might be related to the Plejd issue as well. I'll take a look.

 @ErikHenefalk A diagnostic report would be great to have. You can create one in the Homey Mobile app. You can create it under Settings -> General -> Create Diagnostics Report. You will receive a code

[2021-09-08 12:50] janhjordie commented on #169
Yeah, I know UTC is international. But if I use toLocaleTimeString() it always returns UTC, it's only if I use toLocaleTimeString("da-DK") is gives me the local time string

And the getTimezoneOffset() is always 0, and that should be -120 right now based on the danish timezone.

[2021-09-08 12:54] robertklep commented on #169
Again, that's intentional (I didn't mean "international" 😉). No one from Athom has yet explained _why_ they did it like this, only that they did and all developers should work with it 😩

[2021-09-08 12:57] WeeJeWel commented on #169
Now we can say why we did this :) Apps made for Homey Cloud run across various regions, and the timezone of the datacenter might not be the same as the user's timezone. That's why!

[2021-09-08 13:02] robertklep commented on #169
@WeeJeWel it sounds like you're solving an XY problem, I don't see any need to run local apps with TZ=UTC because of that (I have plenty of other cloud-based apps running on my Mac that don't need such a radical solution).

[2021-09-08 13:16] janhjordie commented on #169
Well, in my HomeyScript i fetch electric spot prices from an external api, with spot prices for every hour, all day. The hour property is a local time without timezone, so not UTC.
And since the current date on Homey is UTC, the Homey date is 2 hours behind (-120 minutes).

I just thought the script was run on my local Homey hardware, and used the local position to set the timezone.
if I run getTi

[2021-09-08 13:18] robertklep commented on #169
@janhjordie even more fun when DST switches off in a few weeks...

[2021-09-08 18:34] ErikHenefalk commented on #203
@mrlukasbos The code to my diagnostics report is : E54082

[2021-09-09 08:55] mrlukasbos commented on #203
Thanks for the diagnostics report. Everything seems to work as expected, however the Plejd app seems to be hitting some internal restrictions that have been introduced in v6.0.0 to improve the stability of the BLE chip. Perhaps I can loosen those restrictions a bit, as many of you state that the Plejd app previously worked fine.

If more people can send diagnostic reports that would help me very m

[2021-09-09 09:06] emilohman commented on #203
@mrlukasbos Here it is: A8525C

Sounds great that you have found something! Is there anything I can change in my code to prevent those restrictions?

[2021-09-09 09:21] mrlukasbos commented on #203
In your log there is no communication with any Plejd device visible. Perhaps you can restart your app and show a diagnostic report right after that?

In the logs I see that there is a lot of BLE communication going on, especially many calls using writeCharacteric() and it takes quite some time for all those calls to complete. That may eventually start causing timeouts. However, that is not necessa

[2021-09-09 09:54] emilohman commented on #203
Here is a new report: 09FC26
Where I have restarted the app and toggled one light on/off.

[2021-09-10 08:25] jghaanstra opened #220 "Add min/max parameters to dim duration capabilityOption"
Allow a developer to set the min and max duration on the dim capabilityOption to match the limitations off the device. A device could for instance only allow a dim duration of a maximum of 5000 milliseconds while Homey allows this to set to 10000 milliseconds.

[2021-09-10 14:03] ErikHenefalk commented on #203
@mrlukasbos and @emilohman
Hi, I have now updated the Plejd-app to v 3.2.5. I have restarted Homey and the Plejd-app twice and unfortunately there is no difference from before the update.
Here is the diagnostics-report after the update and restarts: F37E33
Regards, Erik

[2021-09-13 15:16] tjallingt commented on #220
Hey,

Yea that seems like a nice addition, for homey-zwavedriver and homey-zigbeedriver currently have logic to "clamp" to the nearest supported duration which works but isn't the greatest user experience.
In those cases the duration is also specified in seconds which makes more sense from a user perspective. However it's not clear to app developers whether the duration should be in milliseconds o

[2021-09-13 15:22] jghaanstra commented on #220
There are pro's and cons to using seconds. I requested this for the Shelly integrations which allows to set the duration in milliseconds itself. For users that like fine grained control being able to set it to milliseconds is probably prefered. Using seconds might be more intuative. I'd say the best solution is making it clear it needs to be set in milliseconds and in what range it can be set base

[2021-09-15 08:49] MadMonkey87 opened #221 "Homey update broke my app/Wrong app validation"
My app supports several switches that have a "raw_switch_event" trigger flow card. As each button has slightly different tokens and arguments each device has it's own trigger card but they have all the same id  "raw_switch_event". As a result the generated app.json contains multiple "raw_switch_event" cards but they do not conflict because each has a different device filter:
`          {

[2021-09-15 09:08] tjallingt commented on #221
Yea this behaviour is pretty unfortunate, your Flow cards worked correctly but having multiple Flow cards with the same `id` was a potential cause of very hard to debug issues so we decided to disallow it.
The recommended fix is to create a single Flow card definition in `/.homeycompose/flow/triggers/raw_switch_event.json` where you set the `"filter": "driver_id=aqara-button-gyro|other-driver-id|.

[2021-09-15 09:11] tjallingt commented on #221
Oh this detail makes that impossible... That is very unfortunate. I'll need to think about this for a bit.

[2021-09-15 09:38] tjallingt commented on #221
We discussed this internally, having Flow cards with duplicate ids is too much of a footgun for developers and is tricky to support for us.
Therefore my original recommendation stands; you should create a single Flow card with a filter for multiple `driver_id`s.
If the Flow cards require different tokens/arguments you need to create new Flow cards with unique ids.

For existing users of your app n

[2021-09-15 10:23] emilohman commented on #203
@mrlukasbos Any news on this? Anything we can help with?

[2021-09-21 13:08] MadMonkey87 commented on #221
Sorry your approch for existing installations does not work
![Screenshot_20210921-150807_Homey.png](https://user-images.githubusercontent.com/29612400/134176102-815f80b7-b2db-444b-820b-2f0c6db351ee.png)

[2021-09-21 13:16] MadMonkey87 commented on #221
As mentioned above, the recommended approach does not work and all affected flows are broken.

To be honest:

- You already created a pr https://github.com/athombv/node-homey-lib/pull/312 that would fix the issue, why can you not just improve this one and not just check for unique id's but rather check that there are no conflicting ones. For example that there are not two flow cards with the same

[2021-09-22 19:19] emilohman commented on #203
And then there was silence...

[2021-09-23 07:36] mrlukasbos commented on #203
I hope to receive more logs (from different users) to help me further scope down the issue. For now that would help a lot.

Until then I cannot do much. I do find it strange that the issue appears for some users while for other users it works fine, so I hope to find a critical difference somewhere.

[2021-09-23 07:56] tjallingt commented on #221
Hey Philippe,

I'm sorry, I really thought that would work but I was confusing the ways Flow cards and capabilities work. I should have thought that through more.

Given that there appears no real workaround for this issue we've decided to downgrade this to a warning for SDK v2 apps. We're keeping this as an error for the SDK v3 apps for now. This should mean you can update your app again.

Yea we

[2021-09-23 07:58] #221 closed, assigned to tjallingt

[2021-09-23 13:55] MadMonkey87 opened #222 "Homey update broke my app/Wrong app validation"
This is the follow up of https://github.com/athombv/homey-apps-sdk-issues/issues/221 because @tjallingt closed the original ticket too early.

Thx for the explanation @tjallingt but this issue is still not okay. If the error is still there in sdk v3 and if there is still no proper migration path then this is no solution as it will never be possible to upgrade the app to sdk v3 and higher (which is

[2021-09-23 13:55] MadMonkey87 commented on #221
AS mentioned in https://github.com/athombv/homey-apps-sdk-issues/issues/222 this issue is not yet resolved!

[2021-09-23 20:10] ErikHenefalk commented on #203
@emilohman, you said earlier in the thread that there had been a lot of other people contacting you about this problem. Would you be able to contact them and do you think they could send diagnostics reports as well?

@mrlukasbos, One thing I noticed is that Homey detects that the Plejd-devices have switched state (on/off), but only after sometime between 3 – 10 minutes. I have a flow that is trigg

[2021-09-24 11:02] Shakesbeard opened #223 "AppStore shows flowcards for devices which should be ruled out by the filters in the manifest"
Example:
Looking at LIFX (LAN) v1.5.1 you can see the LIFX BEAM device showing the morph effect flowcard (id: activate_tile_morph).
The flowcard has a device filter as follows: "filter": "driver_id=lifxv2|lifxv2_a19|lifxv2_a19|lifxv2_a19nv|lifxv2_br30|lifxv2_br30nv|lifxv2_br30nv|lifxv2_beam|lifxv2_candle|lifxv2_candleww|lifxv2_hev|lifxv2_hue|lifxv2_hue_1000|lifxv2_hue_1000_br30|lifxv2_hue_650|lifx

[2021-09-26 09:29] Shakesbeard opened #224 "Add property to driver definitions in manifest to allow pro only drivers included in cloud available apps"
Rather than maintaining different apps for Homey Pro and Homey Cloud it would be nice to have an option to disable LAN specific features if the app is run in the cloud.
The possibly simplest way seems to be to disable marked drivers when the app is run in the Homey Cloud.
So I would propose adding a property to the driver entry in the manifest like
"proOnly": true

[2021-09-26 09:31] WeeJeWel commented on #224
The 'platforms' property of a Driver is specifically made for this purpose. :)

[2021-09-26 09:35] Shakesbeard commented on #224
Well yes, but that property, as far as I understood, defines this for the complete app as a whole.
It would be nice to have the ability to include a driver which would work in the cloud and optionally have additional drivers which would only run on pro. Or maybe I missed something?

[2021-09-26 09:37] Shakesbeard commented on #224
Frankly, it would be even better if you could detect programmatically whether the app is running in the cloud or local on a pro. Basically to enable/disable LAN features of an app automatically based on where it is run.

[2021-09-26 09:40] WeeJeWel commented on #224
The platforms property can be defined on App, but also on a Driver, and even on a Flow card.

[2021-09-26 09:41] WeeJeWel commented on #224
We need this information beforehand to know if a driver can be used on someone's Homey before starting the pair sequence :)

[2021-09-26 09:42] Shakesbeard commented on #224
Oh. That nice. I guess that literally is what I wanted to ask for :D

[2021-09-26 09:42] #224 closed, assigned to nobody

[2021-09-27 08:21] tjallingt commented on #222
Sorry the issue was closed too early. IMO its fine to continue the conversation in a closed issue or ask to re-open it if you feel that is necessary.

Its completely fine to keep your app on SDK v2, there are no plans for deprecating SDK v2 anytime soon.
If you do want to update to SDK v3 I think the we can unlist the SDK v2 version of your app from the app store and you publish a new SDK v3 versi

[2021-09-27 09:49] kjeet90 opened #225 "Allow custom capability to be used as a Device Indicator without "build-in" Flow cards"
Using SDK3 and having a custom capability prefixed with _meter__ shows flow cards even though they are not specified in compose. I would expect the value to display on the device tile since it starts with _meter__, but not have the default flows triggers unless I specify them in the compose.

Triggers when NOT specified in homeycompose:
Flow trigger are visible for:
- ...lower than
-  ...higher th

[2021-09-27 10:00] tjallingt commented on #225
Hey, thanks for creating the issue.
Could you also share the relevant bits of your `app.json` (or the Homey Compose JSON files)?
Hopefully that way I can reproduce this easily :)

[2021-09-27 10:09] kjeet90 commented on #225
[homeycompose.zip](https://github.com/athombv/homey-apps-sdk-issues/files/7235362/homeycompose.zip)
[homeycompose-deprecated.zip](https://github.com/athombv/homey-apps-sdk-issues/files/7235363/homeycompose-deprecated.zip)

homecompose.zip --> compose when it's not specified
homecompose-deprecated --> compose when it's specified but with deprecated tag

[2021-09-27 10:10] kjeet90 commented on #225
[homeycompose.zip](https://github.com/athombv/homey-apps-sdk-issues/files/7235372/homeycompose.zip)
[homeycompose-deprecated.zip](https://github.com/athombv/homey-apps-sdk-issues/files/7235373/homeycompose-deprecated.zip)

homeycompose-zip -> just the custom capability prefixed with meter_ and no trigger for it
homeycompose-deprecated.zip -> added a trigger marked as deprecated

[2021-09-27 12:39] MadMonkey87 commented on #222
Doesn't matter if sdk v2 gets some long time support, at any time there will be a problem with sticking to sdk v2 and I won't develop and support two versions of the app. The ultimate result of this is that my users will need to rebuild their flows sooner or later.

If adapting the validation is so much rocket science and cannot be questioned why don't you at least offer upgrading the existing flo

[2021-09-30 11:49] tjallingt commented on #225
Hey,

To make sure I'm understanding correctly:

- You have several custom capabilities, lets take `meter_predictor` as an example.
- This capability can displayed on the device tile as a "device indicator" because it starts with `meter_`.
- The "lower than" and "higher than" Flow trigger cards are automatically added because it starts with `meter_`.

The issue you are running into is that you wan

[2021-09-30 12:11] kjeet90 commented on #225
- Yep

- Yep, and that's exactly what I want

- Yes, but I would only want that to happen if they were defined in homey-compose, because that would mean that I would want those flows to be in my app.

- Correct, this is what I want to achieve.
- I have a meter_  that is used to display a value that I calculate (only adds to) in my app, and this value will not be useful to know if it's going below

[2021-09-30 12:22] tjallingt commented on #225
Thanks for your reply!

Interesting, could you maybe explain more about why this value works like this? That way I can better understand your use-case :)

I'm going to consider what we can do about this. If there are more app developers that run into this issue it would be great if they could react here so we can get a better sense of how this affects apps. I'll update the title so hopefully other

[2021-09-30 12:34] kjeet90 commented on #225
I am adding up energy consumption, and since it's not producing energy it will not decrease :)

- Yepps

- Yepp, totally understand :) Just my "OCD" that doesn't like unused/uesless things being there.

- Yeah, that would have been really nice!

[2021-09-30 12:43] tjallingt commented on #223
Hey thanks for reporting, we'll take a look 👍

[2021-09-30 16:27] WeeJeWel commented on #223
This is actually intended behavior. Because capabilities often change during pairing, the App Store shows all possible Flow cards — you could call it optimistic.

If you don't want this, remove the LIFX Beam's driver ID from the `driver_id` filter.

[2021-09-30 16:27] #223 closed, assigned to tjallingt

[2021-10-01 17:25] gruijter commented on #225
I think it would be a good idea to have an option in the capability definition. Something like `auto_flowcards: false`

[2021-10-01 17:26] tjallingt commented on #225
It would help most to hear what your usecase for such a feature would be. That way we can analyse what solution would work the best for the most developers.

[2021-10-01 17:41] gruijter commented on #225
I dont have a use case atm to suppress the auto-generated flowcards. I actually like them. But indeed in the case of cumulative meters (such as kWh, gas, water) the meter will always increase and never decrease.

[2021-10-02 12:54] gruijter commented on #225
Actually I do have a use case. I have several apps with custom capabilities like Power By The Hour. The capabilities do not start with meter_ or measure_ because the autogen flows and device indicator didn't exist when I developed those apps. Now I would like to add device indicator and autogen flowcards without having to change the driver capabilities (that would be a nightmare for people because

[2021-10-02 18:30] MadMonkey87 opened #226 "Update 7.1.4 fails, takes Homey down"
As the support wont answer I am posting this here. I've tried to update from 7.1.3 to 7.1.4 which seems to fail or at least the verdion is still at 7.1.3 after the update.
The bigger problem however is that homey won't boot properly anymore. All apps are in a suspended state and won't come back even after waiting for hours. Also deactivating and reactivating or restarting apps does not work. Somet

[2021-10-02 23:57] AdyRock commented on #225
I have several sub capabilities defined in my app, such as measure_temperature.min and measure_temperature.max. I don't have the standard capability, such as measure_temperature. I end up with action flow cards for "Temperature becomes greater than..." and the "...less than..." but which capability is that for? They haven't used the capability title I setup in the capability options so they can't

[2021-10-03 07:50] WeeJeWel commented on #226
Hi, try updating Homey from setup mode. Looks like you have an app that's claiming a lot of memory.

[2021-10-06 22:27] runely opened #227 "`Pruning dev dependencies` doesn't work on node `16.10.0`"
When i have node `16.10.0` installed `homey app install` fails to prune dev dependencies.

When i revert to node `14.11.0` `homey app install` successfully prunes dev dependencies.

![image](https://user-images.githubusercontent.com/25814673/136292148-9137332d-4b7a-4214-b1bf-aa1e00d31a53.png)

[2021-10-07 07:27] tjallingt commented on #227
Thanks for reporting!

Thats pretty strange, the CLI uses its own copy of NPM 12 just so pruning works independently of the Node or NPM version you have installed. Please make sure you have the latest version of the Homey CLI. I have already made some changes that will hopefully make this step of building a Homey app more robust but those haven't been released yet.

 I'll look into whether I can r

[2021-10-09 08:54] runely commented on #227
Sorry.. I had homey `2.7.0` installed after some testing a while ago with where my `app.json` file was located..

Updated to `2.22.6`, and pruning works on node `16`

[2021-10-09 08:54] #227 closed, assigned to tjallingt

[2021-10-13 09:12] mrlukasbos commented on #203
Homey 7.1.5 is available in which I did some changes for BLE. Perhaps this improves things. Could you send me your experiences with the new Homey version and send new diagnostics?

[2021-10-13 16:13] ErikHenefalk commented on #203
Hi @mrlukasbos
Here is the new diagnostics report 9BE9C5
The Plejd app is working a little better now. After a restart of Homey after the update to 7.1.5 and after another restart of the Plejd app I could control the Plejd system for about 40 seconds before it locked timed out like before. The new thing is that Plejd devices started to work again after some minutes. They then stopped working again

[2021-10-13 19:10] ErikHenefalk commented on #203
@mrlukasbos
Here is another diagnostics report, now after another restart of Homey and deaktivation/aktivation of the Plejd-app.
759DA0
The Plejd-app works for about 40 seconds before they stop working and the "timed out" notification comes up, then it looks like all Plejd-devices are deactivated and then reactivated again. The Plejd-devices then works for a few seconds and then stops working agai

[2021-10-19 12:26] edwinvdpol opened #228 "App validation argument errors (verified)"
Hi there,

When I run the validation on the command line with `--level verified`, I get these errors when I use arguments in the trigger card.

[code]

It does compile correctly. I am using Homey Compose.
You can try it out with the Plugwise app. These builds _should_ fail too.

It looks like it is having trouble with the extra arguments (`args`), as it must merge with the `type=device` argument.

[2021-10-19 15:22] WeeJeWel commented on #228
Try adding `title` to every `args.operating_mode`. Quite odd, but should resolve your issue.

[2021-10-20 07:14] tjallingt commented on #228
Yea these errors are a limitation of the way the validation works, it tries to suggest every possible option instead of telling you what the most likely fix is. Something we really want to fix but that is unfortunately would take a lot of work to resolve.

I'm closing this now because I'm assuming you can fix this by adding the `title` to the Flow card argument. If that is not the case or you run

[2021-10-20 07:14] #228 closed, assigned to nobody

[2021-10-22 18:31] runely opened #229 "homey v2.23.0 and up creates a build directory"
Starting with **homey v2.23.0**, including the latest **homey v2.23.3**, `homey app build` creates a `build` folder in the app root folder containing a copy of the app...

This makes git flag that there’s a lot of new uncommited files...

Is this a bug? If not, how to turn this off?

[2021-10-22 19:49] tjallingt commented on #229
Its not a bug, it actually fixes some behaviors and allows you to easily inspect what files are being published as part of your app.

You can add `build/` to a `.gitignore` file to prevent the build folder from being added to git. https://www.atlassian.com/git/tutorials/saving-changes/gitignore

[2021-10-22 19:49] #229 closed, assigned to nobody

[2021-10-22 22:43] Marinosbitter opened #230 "Homey App Run not working"
Hi,

When I run `Homey App Run` it fails with the folowing error:

✓ Pre-processing app...
Command failed: node C:\Users\marij\AppData\Roaming\npm\node_modules\homey\node_modules\npm\lib\npm.js ls --parseable --all --only=prod
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it!

[2021-10-23 15:28] tjallingt commented on #230
Yea sorry, due to previous incompatibilities with npm 7 the Homey CLI uses npm 6 internally. It seems some incompatibility with npm 8 causes version 6 to stop working as expected.

For now you can install npm 6 by running

`npm install --global npm@6`

We'll look into a better fix soon

[2021-10-23 21:09] Marinosbitter commented on #230
Yes that worked, I needed to re-create the app though. So the problems seems to be with creating ( `homey app create`) the app with newer npm versions, not just running them.

Maybe it's an idea to add the npm@6 requirement to the [developer documentation](https://apps.developer.homey.app/the-basics/getting-started) so new developers won't run into the same issue.

Anyway thanks for the help :)

[2021-10-23 21:30] tjallingt commented on #230
Good to hear that fixed your issue. We don't want to be dependent on any particular version of NPM so if this can be fixed that would be ideal. Otherwise we should definitely add this to the documentation.

[2021-10-23 21:31] #230 closed, assigned to tjallingt

[2021-10-24 18:41] Marinosbitter commented on #230
One last FYI for other people who might run into the same issue. You don't need to reinstall the homey app as mentioned above, only reinstall the npm modules again. after you've switched to npm 6.
So to fix:
1. Run `npm install --global npm@6`
2. Run `npm install`

[2021-10-29 06:39] maginawin opened #231 "Cannot add some Z-Wave devices via S2"
After Homey was updated to v7, some of my Z-Wave devices could not be successfully added to Homey.

Homey’s pairing process lasts approximately 15 seconds, and then Homey determines that the Z-Wave pairing timed out and aborts the pairing process. In fact my Z-Wave device takes about 45 seconds to response the Z-Wave Security Key (S2).

Many users have purchased this device which works on Homey v6

[2021-10-29 07:52] tjallingt commented on #231
Hey, thanks for reporting this issue.

Yea we can increase the timeout duration :)
What device is it? Also do you know what particular message homey is waiting for (I'm assuming `KEX_SET`)?
If you have a diagnostic report of this happening that would be very helpful. You can make a diagnostic report in the mobile app by going to: More > Settings > General > Create Diagnostic report.

[2021-10-29 09:16] maginawin commented on #231
Hi @tjallingt ,

I'm glad to receive your message, thanks for your detailed guidance.

I'll provide you the Log and Diagnostic Report next week because the device isn't here yet.

[2021-11-01 01:19] maginawin commented on #231
Hi @tjallingt ,

I uploaded Log when I failed to add a Z-Wave device.
[pairing_log.txt](https://github.com/athombv/homey-apps-sdk-issues/files/7450204/pairing_log.txt)

The diagnostic report is 84B10A

[2021-11-01 10:22] DiedB opened #232 "Allow logging historic data in Insights"
Say, you have an API with severe rate limits, only allowing you to make a request once every 15 minutes. However, when making an API call, you can request data on the minute level for the past 15 minutes. Could functionality be added to retroactively push this data to Insights?

[code]

[2021-11-02 16:11] tjallingt commented on #231
Thanks for sharing, that report is not what I was expecting. It seems there is actually a "no ack" error.
That error is actually coming from our Z-Wave chip... I don't understand why the device in question won't send an acknowledgement. It does seem to send more messages at a later point though, going to look into this some more but it unfortunately doesn't appear to be as easy of a fix as I presu

[2021-11-03 01:26] maginawin commented on #231
Hi @tjallingt ,

What else can I do to solve this problem?

This device works on Homey V5 or V6.

[2021-11-03 08:24] tjallingt commented on #231
Yea I guess it works on pre-v7 because those versions didn't support S2.
 I'll look into the Z-Wave specification to see what Homey should be doing in this case.

 What is the device in question? Maybe we can buy one to test with.
 And are you the developer of the Homey app? We could choose to disable S2 for this device in the meantime.

[2021-11-03 08:42] maginawin commented on #231
Hi @tjallingt ,

It is Namron's 4512717 - Z-Wave Plug, it seems that they are out of stock now. If you really need it, I can get it from the manufacturer.

Yes, I'm a Homey App developer, and I'm working on the Namron App. Please help us disable S2 for this device so that users can use it properly first.

[2021-11-03 08:53] tjallingt commented on #231
To disable S2 please remove `requireSecure` and/or `includeSecure` from the `zwave` property in your drivers manifest (if you are using them).
You can then add `"security": ["none", "S0"],` to indicate that your app can control the device both unsecured and using S0 security.

When I fix this issue, it'd be great if you can test the fix and update your app to support S2 again by updating it to  `"

[2021-11-03 09:04] maginawin commented on #231
Should I add `"security": ["none", "S0"]` in `app.json` or `driver.compose.json`? Will this affect users who have already added other devices as S2?

[2021-11-03 09:40] tjallingt commented on #231
it goes in the `driver.compose.json` file under the `"zwave"` property. Same place as the `requireSecure` would be (but replacing it) https://apps.developer.homey.app/wireless/z-wave#require-secure-communication

This property will be documented soon, it was not documented to ensure issue like this would be reported :)

[2021-11-06 02:22] maginawin commented on #231
It's awesome, the device is now working properly. Thank you very much! @tjallingt :)

[2021-11-06 19:17] sekarmaeu opened #233 "Typescript compilation failed"
Hi!
I posted this in the Homey community and was adviced to post it here instead.
I followed a tutorial on youtube ([App creation tutorial 1](https://apps.developer.homey.app/the-basics/getting-started)) on how to create your own app. The only thing I have done differently was selecting typescript when creating the app. Now, when I’m trying to run the app it fails saying

✓ Pre-processing app…
✓ T

[2021-11-07 09:23] RobinBol commented on #233
Looks like there is something in your code that makes Typescript unable to compile. But the error message is not very helpful. Could you run `npx tsc` in your app dir and post the output?

[2021-11-07 13:54] sekarmaeu commented on #233
![Homey2](https://user-images.githubusercontent.com/93839901/140647649-59755408-6228-4e43-b8cf-540693aa61f8.png)

This is what I get, nothing?! I haven't changed anything in the code from the tutorial (at least that I know of). In the tutorial, Typescript is not selected, could that be a problem?

[2021-11-08 09:58] tjallingt commented on #233
What are your NPM, Node, TypeScript and Homey CLI versions?

- `npm --version`
- `node --version`
- `npm ls typescript`
- `homey --version`

What happens if you run `npx typescript` outside of your app folder? It should print a list of usage instructions.
And what does it print if you run `echo %ErrorLevel%` after running `npx typescript` _inside_ your app folder?

[2021-11-08 16:43] sekarmaeu commented on #233
Hello! :)
See below screenshots.

`npm --version`
![Homey3](https://user-images.githubusercontent.com/93839901/140780872-c4a272fa-a0c4-44ce-b034-09ae7e737824.png)

`node --version`
![Homey4](https://user-images.githubusercontent.com/93839901/140781045-3cd08a0b-700b-4942-be00-39e9566f7998.png)

`npm ls typescript`
![Homey5](https://user-images.githubusercontent.com/93839901/140781123-8e3878d6-00e5-

[2021-11-09 09:02] tjallingt commented on #233
Thanks for all the information, that was very helpful!

This issue should be fixed in version `2.23.5` of the Homey CLI, you can install it by running `npm install --global homey@latest`.

[2021-11-10 19:50] sekarmaeu commented on #233
No, I thank YOU!! 😀
Your instructions helped me solve the problem!
Thanks again!

[2021-11-14 09:21] h3rman opened #234 "Unhandled \r\n in homey 2.23.6 (NpmCommands.js)"
Installed Windows 11 yesterday and couldn't run my homey app anymore. I don't know if this is because the os switch or if I got another version of some dependency but nonetheless `getProductionDependencies()` should handle this.

The output of `npm ls --parseable --all --only=prod` now has `\r\n` on all lines but the last that only has `\n`. On my Windows 10 machine all rows has `\n`

To fix this

[2021-11-14 11:10] runely opened #235 "Add device indicator to `garagedoor_closed` capability"
It would be very handy to have a device indicator like the one for `alarm_` capabilities. This way it would be very easy to see when the garage door is open/closed without actually going into the device itself.

Just grouping it together with `alarm_` capabilities is good enough for me.

https://apps.developer.homey.app/the-basics/devices/capabilities#device-indicators-and-custom-capabilities

[2021-11-14 22:02] ErikHenefalk commented on #203
Hi again @mrlukasbos
I am starting to doubt that there will ever be a software solution to this bluetooth-problem. Don't you also think this is some kind of hardware-failure? If it is a hardware-failure, is it then possible to fix it? Can I send my Homey to Athom for a repair?
Regards,
Erik

[2021-11-15 12:12] tjallingt commented on #234
Thanks for reporting this, curious that it was changed for win 11.

[2021-11-15 12:25] #234 closed, assigned to tjallingt

[2021-11-15 13:09] tjallingt commented on #234
Should be fixed in the next Homey CLI release 👍

[2021-11-16 09:11] mrlukasbos commented on #203
Hi Erik,

I am certain that this is not a hardware failure. A new version is currently in the works which applies some further improvements. It may take a few weeks before the new version is available.
I am sorry for all the inconvenience.

kind regards,
Lukas

[2021-11-21 14:58] #226 closed, assigned to nobody

[2021-11-21 14:58] MadMonkey87 commented on #222
Any update on this?

[2021-11-23 09:27] kjeet90 opened #236 "setStoreValue seems to block my entire Homey mobile app."
When I'm using setStoreValue it seems to block my entire Homey mobile app.

I have created a example app ([Github repo](https://github.com/kjeet90/store-interval)) to reproduce the issue. If I add the device from this app the issue occurs. If I remove it again everything is just fine. The only thing this device does is to write two values to the store on a fixed interval of 5 seconds.

The easiest

[2021-11-23 09:35] tjallingt commented on #236
Thanks for reporting, just from the description I would guess something else is going on since `setStoreValue` should not cause updates on the front-end. However it is possible there is a bug somewhere causing this behaviour.
The reproduction app is great! I'll take a look and see if I can reproduce the issue and figure out whats happening.

[2021-11-24 14:20] tjallingt commented on #236
Yea so I confirmed that updating the store sends an update to the front-end which is not necessary. Also the smartphone app likely rerenders when a device update event is received so the combination of those issues may explain the behaviour you are seeing.

We will fix the device update event we are accidentally emitting, that should be released as part of Homey 7.3.0.

You can probably still trig

[2021-11-24 14:20] #236 closed, assigned to tjallingt

[2021-11-24 14:26] kjeet90 commented on #236
So when 7.3.0 is released the "blocking" when writing to the store will be resolved? That is the only time I've noticed it, so if that will be fixed I will be a happy man!

[2021-11-24 14:33] tjallingt commented on #236
Yea I believe so, if not please create another issue or comment on this one :)

[2021-11-26 19:43] Shakesbeard opened #237 "Generate diag. report for app fails with 413"
One of my users has reported that when trying to create a diagnostic report them received an error: 413 request entity too large when I try to create the report

[2021-11-29 12:01] tjallingt commented on #237
Thanks for reporting. It surprises me that a diagnostic could become large enough to run into this issue, I wonder how much data it contains... We'll look at what we can do to either prevent diagnostics that are too large or to allow uploads of larger diagnostics.

[2021-11-29 16:07] MadMonkey87 commented on #222
I just got this message from a reviewer of an app update:
`
Thank you for submitting your app deCONZ for review.

It looks great, so we have gone ahead and approved your submission.

Just a quick reminder your app still supports SDK v2 this version has been deprecated for some time. We recommend updating your app to the latest version SDK v3.
More information on this topic can be found here:
https

[2021-11-29 16:20] WeeJeWel commented on #222
Homey Apps SDK v2 has already been deprecated for a long time.
That doesn't mean it stops working :) It just isn't allowed for _new_ apps to use, but existing apps can still update. We're just nudging developers to upgrade to Apps SDK v3, because it's the current stable version.

[2021-11-29 16:22] MadMonkey87 commented on #222
okay but this is still not the answer I need because as mentioned here and in here https://github.com/athombv/homey-apps-sdk-issues/issues/221 I will never be able to upgrade. And this is due to athoms stupid decisions and lazyness that got you in trouble which you are unwilling to resolve. Is this right?

[2021-11-29 16:28] WeeJeWel commented on #222
Please be kind and keep it friendly.

For now you can keep your app on Apps SDK v2.

[2021-11-29 16:36] MadMonkey87 commented on #222
I don't have any reason to stay friendly, this is by far not the first time athom messed things up. I am out, thx for nothing

[2021-11-29 16:36] #222 closed, assigned to nobody

[2021-11-29 16:36] MadMonkey87 opened #238 "Remove"
As support won't answer as usual I am dropping this here: please remove all my apps ASAP from the store, these are:
- ch.philippewechsler.rest
- ch.philippewechsler.trends
- cn.kaiterra
- ch.philippewechsler.semaphore
- de.dresden-elektronik.deconz

[2021-11-29 16:40] WeeJeWel commented on #222
Okay, thanks for all your efforts!

[2021-11-29 16:45] WeeJeWel commented on #238
This is not the place for these issues, please make a support request.

[2021-11-29 16:45] #238 closed, assigned to nobody

[2021-11-29 16:47] MadMonkey87 opened #239 "Remove app from the store"
As support won't answer as usual I am dropping this here: please remove all my apps ASAP from the store, these are:

- ch.philippewechsler.rest
- ch.philippewechsler.trends
- cn.kaiterra
- ch.philippewechsler.semaphore
- de.dresden-elektronik.deconz

@WeeJeWel yes this is the right place as the support does not answer. The last time this was the only possible way to remove an app from the store, s

[2021-11-29 17:34] WeeJeWel commented on #239
This is not the place for these issues, please make a support request.

[2021-11-29 17:34] #239 closed, assigned to nobody

[2021-11-30 14:19] MadMonkey87 opened #240 "Remove app from the store"
As support won't answer as usual I am dropping this here: please remove all my apps ASAP from the store, these are:

- ch.philippewechsler.rest
- ch.philippewechsler.trends
- cn.kaiterra
- ch.philippewechsler.semaphore
- de.dresden-elektronik.deconz

[2021-11-30 15:46] #240 closed, assigned to nobody

[2021-12-08 10:03] mrlukasbos commented on #203
@ErikHenefalk could you perhaps update your Homey to v7.2.1-rc.2? I applied some BLE fixes.

[2021-12-08 21:45] ErikHenefalk commented on #203
@mrlukasbos I haven't activated the downloads of experimental updates on my Homey. Is it the "Power user" under the "Experiment"-menu I have to activate to get them? If I activate the experimental updates, can I then go back to only downloading non-experimental updates again after that?

[2021-12-08 22:00] Dijker commented on #203
You can switch to Experimental updates here:
https://tools.developer.homey.app/tools/settings
Don't read the old note there, that is not updated from FW 2 or 3 ;-)

once you are on a stable firmware version and disable the Experimental updates you will stay on stable updates from that moment.

[2021-12-09 15:49] ErikHenefalk commented on #203
@mrlukasbos You are my hero! It finally seems to work! I can control all my Plejd-devices, their status are instantly updated in Homey and they have been stable for about 20 hours.

[2021-12-10 06:53] jenzoa opened #241 "BLE - Filtering and discovering does not work"
When filtering for manufacturer ID and discovering service UUID's does not work.

When filtering for Secuyou manufacturer ID no devices are discovered. Here is the code:

     .filter(advertisement => advertisement.manufacturerData[0] == 0xD4 && advertisement.manufacturerData[1] == 0x02) // 02D4

Also when trying to discovering devices with a specific UUID no devices are discovered. Here is the co

[2021-12-10 14:59] mrlukasbos commented on #241
What are the values when you `console.log` advertisement.manufacturerData? And what value would you expect instead?

For the discovery; it only shows results of devices that are not connected; do you happen to connect to a device? That would cause the discovery to not return your device the second time.

[2021-12-10 15:01] mrlukasbos commented on #203
Good to hear. Please let us know if you experience any other issues.

[2021-12-13 07:30] jenzoa commented on #241
The values from the advertisement.manufacturerData are correct.

We have done some testing and the problem is that the device is still connected as you allude to.

We try to disconnect in case of a failure in pairing procedure in order for the user to retry. So the problem must therefore be the function ‘disconnect’.

[2021-12-13 10:36] mrlukasbos commented on #241
OK. You could simply store the advertisement in the variable and use it to reconnect.

However, If I understand you correctly it appears that the `BlePeripheral#disconnect()` method does not behave as you expect? Does the method resolve or reject with a timeout, or does something else happen?

Please note that there is a known issue where "BlePeripheral.isConnected()" does not show a correct value

[2021-12-13 10:47] jenzoa commented on #241
Hi Lukas,

Yes, problem is that BlePeripheral#disconnect() does not work.

the log says the following:

[log] [Homey:61811aecf9159a0bab4e1046] [ManagerDrivers] [Driver:v22] [Device:c50e028e-a4e5-4b4d-9bca-06073ff80331] Could not disconnect when deleting device

It appears directly after deleting the device. So no time-out.

Ok, I will built in storing of the device.

Best regards
Jens

[2021-12-13 11:19] mrlukasbos commented on #241
That log is not from Homey but a log in your app. Would you mind sharing a code snippet?

If `BlePeripheral#disconnect()` resolves then the device is disconnected successfully; however it should then reappear in the discovery results (Note: those results could be cached up to 60s so it may take a while for the device to reappear)

If `BlePeripheral#disconnect()` rejects then we could not disconnec

[2021-12-13 11:59] jenzoa commented on #241
Here is a code-snippet

async onDeleted() {
    this.log('Secuyou Lock has been deleted');
    try {
      await this.peripheral.disconnect();

      // Reset the lock state and app state
      lockState = stateDevice.KEY_GENERATION;
      appState = stateApp.INITIAL;
    } catch (error) {
      this.log ('Could not disconnect when deleting device')
    }
  }

[2021-12-13 12:30] mrlukasbos commented on #241
What is the message if you add `this.log(error)` to the `catch` block?

[2021-12-14 15:14] jenzoa commented on #241
That is very strange. No error is printed out.

Why?

[2021-12-14 17:02] mrlukasbos commented on #241
That is very strange indeed. I have checked our codebase for empty error messages that could be thrown, however, I did not find any. But, the `error` object should contain at least something. What value are you logging? You could maybe try attaching a debugger or something similar.

Something else: I notice that `lockState` and `appState` are defined as global variables. I highly recommend not usi

[2021-12-15 14:53] jenzoa opened #242 "BLE - Disconnected from Homey. Reason: ping timeout"
If there is no communication or action (between Homey and device) then the Homey (Pro and Bridge) disconnects.

Do we need to keep the connection live by sending some random communication to the Homey?

[2021-12-16 09:54] mrlukasbos commented on #242
What does Homey disconnect from? your BLE peripheral or your app session?

Ping timeouts are usually not BLE related. Does the issue occur when you run your app in the Homey CLI? (`homey app run`)

For BLE you won't need to keep the connection live; when you connect the connection will stay open until you or your BLE peripheral explicitly close it.

[2021-12-16 10:41] jenzoa commented on #242
It disconnects from the app session.

It occurs when running the app from Homey CLI.

Okay, so keeping the connection is straight forward.

Thank you for the quick answer.

[2021-12-16 10:49] #242 closed, assigned to mrlukasbos

[2021-12-18 13:20] jghaanstra commented on #188
Can this please get some love, it's really becoming unmanagable for the Shelly app.

[2021-12-21 12:02] jenzoa commented on #241
Going back to the original problem of filtering manufacturerData.
The reason for failing filtering is that:

advertisement.manufacturerData[0]

results in nothing. Meaning the I cannot read the first value in the buffer.
I can read out the buffer just fine - and the data I am searching for is present.
But why is it not possible to read out the first value in the buffer?

[2021-12-21 19:04] thorleifjacobsen commented on #235
:+1: - Hard to see if a door is open at a "quick glance". So this surely must be possible to implement ! :)

[2021-12-23 11:25] mrlukasbos commented on #241
So to clarify:

[code]
If this is the case it does not look like a bug in our SDK.

`advertisement.manufacturerData` is a Buffer, not an array, so reading by index (using `[0]`) is tricky. When you try to read data from a buffer you have to specify how the data will be interpreted. This depends on your manufacturer data. You probably want something like [`Buffer.readInt16()` ](https://nodejs.org/a

[2021-12-23 11:42] jenzoa commented on #241
Yes, you are correct. Just read about buffers from https://nodejs.org/en/knowledge/advanced/buffers/how-to-use-buffers/ <https://nodejs.org/en/knowledge/advanced/buffers/how-to-use-buffers/>

The content of a buffer is for example: <Buffer 4c 00 09 06 03 e9 c0 a8 00 22 0a 01 00>

We will try with Buffer.readInt16()

[2021-12-24 11:15] mrlukasbos commented on #241
Okay, I think all your questions have been answered. Good luck with further development of your app.

[2021-12-24 11:15] #241 closed, assigned to nobody

[2021-12-24 11:15] #203 closed, assigned to mrlukasbos

[2022-01-11 23:21] runely opened #243 "Multiple choice argument type"
Would it be possible to add a multiple choice argument type to flow cards?

This would be practical and prettier than a text separated with semicolons, like I have to do in my app JavaScriptLogic to be able to check if today is one of the selected weekdays

![image](https://user-images.githubusercontent.com/25814673/149036786-67bf48c0-db84-46ee-bc87-2572ce2e7dac.jpeg)

[2022-01-21 15:29] #233 closed, assigned to nobody

[2022-01-22 20:53] robertklep opened #244 "`homey` CLI uses incorrect/misleading app size"
I found that one of my test apps was taking considerably long to upload (using `homey app run`) than another test app, even though the first app reported a smaller app size.

It turns out that the app size that is reported by `homey app run` is based on the file size of the tar file that gets generated. I think the developer assumed that the size of the tar file is (more or less) the combined size

[2022-01-23 16:32] koktaildotcom commented on #244
I recenty have some long waits for running apps too. I only added some extra icons to the app and it becomes 3x slower.

[2022-01-26 13:46] tjallingt commented on #244
Hey,

As you observed the reported size is the size of the archive. This measure is more indicative of data usage/speed of the download rather than extraction duration/usage on disk. The overhead of extracting and creating a lot of tiny files is indeed a larger influence on the installation when installing an app (especially locally) giving a "wrong" impression.

If app size was a more important m

[2022-01-26 14:04] robertklep commented on #244
It's not very difficult to track the combined file sizes:
[code]

However, it's not a very useful metric because it doesn't reflect the actual disk space the app will take, nor does it give an idea on how long it will take for the app to install (which is proportional to the number of files that have to be installed).

[2022-01-26 14:13] tjallingt commented on #244
Right the `header` also contains the file size, clever!

All metrics we can collect/report will be just an indication, its tricky to decide what will be the most intuitive 😕
I think reporting number of files is probably a good addition and maybe we should update the text to say
`App archive size: 1.02 MB`
so it is clearer that its not the size on disk.

Do you agree? If so I'll close the issue :)

[2022-01-27 06:41] robertklep commented on #244
Fair enough, I think it's not possible to determine in any meaningful way how long it will take for an app to install, but at least showing the number of files would provide a bit of a clue on how long it might take.

[2022-02-02 12:43] #244 closed, assigned to nobody

[2022-02-02 12:44] WeeJeWel commented on #244
Deployed in the latest `node-homey`.

[2022-02-16 21:31] emilohman opened #245 "BLE - Connection problem"
I've reported ble connection problems before and it seems to work better since v7.2.1.
But now I get error reports again with connection problems for two different apps.
Two of my users have posted error reports to you with id `77F945` (ecoControl app) and `BB0086` (Plejd app). Both of them are running Homey 7.3.0-rc.6 but had problems with 7.2.1 as well. Can you see any problems from your side?

[2022-02-24 13:56] mickelluiten opened #246 "adding, removing capabilties, flows values"
A lot of other developers mention this feature request on slack.
With most common day's API the device  options and values can be retrieved with an API call.
In Homey SDK these options and values are static programmed thru the capabilties JSON.
E:G:
[code]
Would be great if  e.g. the values of a capabilty or/and  flow(action, trigger, condition) can be add or remove thru coding.
THis way if a vend

[2022-02-24 14:09] WeeJeWel commented on #246
We agree! What we're currently thinking about is to make a capability option that can whitelist a subset of available values, e.g. `capabilitiesOptions.fan_horizontal.allowedValues = [ 'swing' ]`.

[2022-02-24 14:16] mickelluiten commented on #246
Great,   but the initial values (in my case)  i'am getting with a API Call , so does this mean all possible values are needed in the JSON? Or with your suggestion is still possible to add or remove the values?

[2022-02-24 14:37] WeeJeWel commented on #246
Yes, that's correct. So it won't entirely solve your problem I think. Are these values so dynamic you cannot add them beforehand?

Only remove them.

[2022-02-24 14:44] WeeJeWel commented on #246
FYI For Flows, you can use the `autocomplete` argument.

[2022-02-24 14:44] WeeJeWel commented on #246
Maybe we should simply allow `capabilitiesOptions.fan_horizontal.values`. I'll have a chat about this with our team!

[2022-02-24 14:55] mickelluiten commented on #246
Yes and No,  For most AC models there are reasonable static,  But when a vendor developer  add or remove one we still needed to change our app code. Many time (as you probaly now)  we are not informed by these changes.

Keep me posted.  Happy to test.

[2022-03-02 07:04] emilohman commented on #245
More and more of my users are reporting errors with connecting to BLE after upgrading to 7.3.0.

[2022-03-09 09:27] AdyRock commented on #246
I would also love this feature. For a few of my apps, the API returns the list of values that apply to a capability dependent on the actual device that is connected.
The advantage of the first solution you mentioned is the actual text can be optimised / translated for each option as sometimes the list returned is for the value that is received / sent and not the nice human readable text.
So for th

[2022-03-09 09:35] AdyRock commented on #245
I'm also finding some strange issue with the BLE. One of my Homey Pro's works very well and rarely has an issue, The other Homey Pro seems to kill the BLE whenever I try to connect to send a command (possible faulty hardware), but also my Homey bridge seems to be have random issue sending BLE commands that just timeout when trying to connect. Both my Homey Pro's are on version 7.3.0 and are about

[2022-03-09 09:40] AdyRock commented on #215
One of the comments from a reviewer when I submitted one of my apps was that it had the energy options for some devices that it didn't apply to. I had to point out that I had no way to remove them :-)

[2022-03-09 13:23] emilohman commented on #245
@WeeJeWel Do you have any status according to BLE in Homey?
Is it true you don't have any developers working on BLE anymore? Is your goal to continue to support and develop the support for BLE or whats you future plan with BLE?

[2022-03-09 13:28] WeeJeWel commented on #245
Can you share your Homey Pro model IDs? You can find these in the Mobile App → More → Settings → General.

No, that is not true.

BLE works, might be flaky in some ways but that might be inherently part of the protocol & end devices.

[2022-03-09 13:59] AdyRock commented on #245
Both my Homey Pros report "Homey Pro (Early 2019)" in the app, but in the developer portal, the new one shows "homey4d" and the older one is "homey3d"

I currently have an open support case for the BLE problem on the new one.

[2022-03-09 14:08] AdyRock commented on #245
I have also noticed that all the BLE timeouts seem to be fixed at 30 seconds now, and passing in a timeout has no effect.
But, I have found that the longest delay for a command that works is about 5 seconds, and if it hasn't worked by, then it will fail.
Therefore, 3 retries to send a failed command take 1:30 minutes, which could be reduced considerably if the timeouts were shorter.

[2022-03-09 14:12] WeeJeWel commented on #245
To be clear, what issues are you exactly having with `homey4d`?

[2022-03-09 14:23] AdyRock commented on #245
When I boot the homey4d and look in the developer portal, it list most of the BLE devices around it. Also I can discover the BLE devices in my app. However, if I try to connected to a BLE device, either via my app or the portal it errors out and then is not capable of detecting devices anymore. The support case is #40690 and is awaiting discussion with the developers.

Also, just for comparison, I

[2022-03-09 14:27] WeeJeWel commented on #245
OK, thanks, I'll make sure we'll look into this.

[2022-03-10 19:56] emilohman commented on #245
@WeeJeWel Thanks for replying, sounds great! I hope you find something that can be tweaked. Let us know if we can help with something.

[2022-03-12 11:46] #180 closed, assigned to jeroenwienk

[2022-03-20 15:59] Taelek commented on #245
Any advance on Homey / BLE / homey4d problems at Athom side?

[2022-03-20 16:08] AdyRock commented on #245
They now know how to reproduce the problem at will, so hopefully, there is some progress. I just hope it's not a hardware problem 🙏

[2022-03-21 12:11] robertraaijmakers commented on #188
Suddenly got 2300 crashes of my app. Haven't updated it in over a year with the message "Invalid_capability". I'm truly wondering what has changed in the Homey core and what capability isn't there anymore... Would be nice to know which capability is invalid, but seems this won't be fixed any time soon?

@jghaanstra @WeeJeWel

[2022-03-21 12:13] WeeJeWel commented on #188
We are testing a Homey firmware with Node.js 16, which throws upon unhandled promise rejections.

Most likely your app calls `Device#setCapabilityValue(capabilityId, value)` without `.catch(err => ...)`, using a `capabilityId` that is not linked to the device.

[2022-03-21 12:25] robertraaijmakers commented on #188
Thanks @WeeJeWel! Is there also a best practice with how to (silently) log these messages and make sure that they somehow end up with the application developer? Or is that not possible?

[2022-03-21 12:31] WeeJeWel commented on #188
We will deploy an update today that will silence the e-mails coming from these errors :)

[2022-03-27 06:18] StefanIndustries opened #247 "Typescript declaration incorrect for FlowCard.d.ts ArgumentAutoCompleteCallback and ArgumentAutocompleteResults"
Hi,

ArgumentAutocompleteCallback doesnt expect an array type of ArgumentAutocompleteResults based on type declaration. If no array is provided in the callback the homey autocomplete list doesnt function.

![image](https://user-images.githubusercontent.com/46961126/160269031-72809862-0bf7-49ad-ac8f-f533867c8259.png)

The above does compile but doesnt function, while the following in JS is the only

[2022-03-27 11:46] jeroenwienk commented on #247
Nice find we will probably ship a fix for this tomorrow.

[code]

https://github.com/athombv/node-homey-apps-sdk-v3-types/blob/master/lib/FlowCard.d.ts

[2022-03-28 16:49] jeroenwienk commented on #247
Fixed in https://www.npmjs.com/package/homey-apps-sdk-v3-types/v/0.3.1

[2022-03-28 16:49] #247 closed, assigned to jeroenwienk

[2022-03-29 11:43] emilohman commented on #245
Today BLE stopped working on my Homey. When I debug my apps and run:
`const advertisements = await this.homey.ble.discover();`
Homey finds no advertisements at all. After I restarted my Homey everything works like before.

I created a diagnostic report: BA3191 and my Homey model is homey2s.

[2022-03-31 07:37] Taelek commented on #245
@WeeJeWel any news? We have lots of customer complaints.

[2022-03-31 08:55] WeeJeWel commented on #245
Yes. We've been able to reproduce the issue in some cases, and are investigating why this happens so we can work on a fix.

[2022-04-06 19:23] gruijter commented on #215
Bump... any news on this?

[2022-04-19 10:37] Taelek commented on #245
@WeeJeWel  any news? We have lots of customer complaints!

[2022-04-26 18:11] RonnyWinkler opened #248 "device.setSettings( ) resulting in exception for valid values if other settings than this setting are not already existing in device"
FW 7.3.0
SDK 3.0

Example:
A device has 2 settings of type label without a default value. This labels are used to show device information and states and should be set in the device.js depending on API states.

Extract from driver.settings.compose.json:
[code]

After devide pairing, the settings values are not present.

Calling setSettings for each value as a single call will result in an exeption:

[2022-04-26 20:47] iver56 opened #249 "Add support for node v18 or make the error message helpful"
I'm trying to run an app on my homey, but it's failing with an error message `Parameter 'app' is required`. I was able to run apps on my homey without this error last week. What should I do next to narrow down the issue? Also, please consider improving the error message so it becomes more helpful. I've tried googling the error message, and I didn't find a relevant result. I also tried to find the

[2022-04-26 21:17] WeeJeWel commented on #249
This is new. Can you try with Node.js v16?

[2022-04-27 05:42] robertklep commented on #249
Related to the new experimental `fetch` implementation that is turned on by default in Node v18, using `--no-experimental-fetch` fixes the problem.

[2022-04-27 11:22] jeroenwienk commented on #248
I think the problem here is we dont validate your app for a proper default value and the docs also dont specify a value. So if this value is initially nothing just add `"value": ""`. I've updated the docs with a better example and will see if we can somehow validate this. https://apps.developer.homey.app/the-basics/devices/settings#label

[2022-04-27 12:24] RonnyWinkler commented on #248
Hi Jeroen,

sure, a updated documentastion would be a help. But it would also be good, when the call is finished with a valid parameter independent if there are other unset settings. Else I need to know all "unset" elements als update them together to fix the device (like I did in this case).

What would happen if I add the default value to the device definition. Will the next app restart add thes

[2022-04-27 19:56] iver56 commented on #249
Thanks for the swift response! Yeah, using node v16 does indeed help 👍 I have changed the name of the issue accordingly

[2022-04-27 20:27] WeeJeWel commented on #249
Thank you for reporting @iver56 ! This has been patched in `homey@2.28.2`.

You can run `npm install -g homey@2.28.2` and continue using Node.js v18.

[2022-04-27 20:27] #249 closed, assigned to nobody

[2022-04-28 15:11] WeeJeWel commented on #245
Sorry, not yet, it's quite a rabbithole.

[2022-05-10 19:50] Joost2 commented on #204
I encountered this issue (a valid variable is not taken into account by the Solar Events app) and it's a real limit... The Flow I generated is the following:
WHEN event "nadir" with offset (variable in minutes, entered as 780 without any other flow calculating it, for test-purpose)
THEN send a notification
Won't work. If instead of (variable in minutes) I directly enter the same value, it works fi

[2022-05-13 12:27] frodeheg commented on #157
Is there any progress in this. Lack of IASZONE support in Homey is also blocking the com.elko app from adding support for smart motion sensors. I really want my motion sensors to work in Homey.

[2022-05-18 07:30] AdyRock opened #250 "Possible false report of unhandledRejection"
Another crash that makes no sense to me:
[code]

This is the first section referenced by the last line (line arrowed):
[code]
and this is the second section referenced by third from bottom line:
[code]
So both section all wrapped up in try catch blocks. Again, running the code on my homey and forcing the errors shows they are handle as expected.

[2022-05-18 21:04] JohanBendz commented on #157
@RobinBol, still waiting for this one. I now have several new brands/sensors that I am unable to add to Homey. Any plans to implement this in any way?

[2022-05-19 21:46] jeroenwienk commented on #250
`subscribeToNotifications` is an async method so it might be that one rejecting without being caught since you dont await it. Not sure why it is async though bit odd for a callback function.

[2022-05-19 21:50] jeroenwienk commented on #250
`   * @returns {Promise<void>} - resolves when the subscription is succesful`

[2022-05-19 21:55] AdyRock commented on #250
It's not getting that far as it fails to get the service on the arrowed line and throws the exception there. I do await that one, so it is caught by the catch but still shows as an unhandledRejection.
Good to know about the subscribeToNotifications though so I will await that one.

[2022-05-23 11:36] PeterEIER opened #251 "Stack trace not providing much info in relation to unhandled rejection crash report"
I receive these 2 stack traces, but these do not provide me with the information I need to fix the issue. To fix them I need to know the name of the non existing capabilty or were in my code the error occurs, neither is provided in the stack trace. So these stack traces are completely useless to me.

![8FA9225D-1CD9-426A-BC1A-7DB15BAA2F80](https://user-images.githubusercontent.com/25422313/1698094

[2022-05-23 15:50] Taelek commented on #245
Any news?

[2022-05-23 16:08] AdyRock commented on #245
Ferrets are good in rabbit holes ;-)
I must admit is is getting frustrating not being able to use BLE to test things, but at least I have another Homey that is working perfectly. So I can appreciate the pain that users are going though if it is their only Homey.

[2022-05-25 14:12] RobinBol commented on #251
Hi @PeterEIER, thanks for reporting your issue. We will take a look at how we can improve this. Will get back to you!

[2022-06-08 12:39] RobinBol commented on #251
@PeterEIER Homey Pro v7.4.2 will improve this error message to include the capability id of the invalid capability, hopefully this will help you debugging this issue.

[2022-06-13 13:55] RobinBol commented on #251
@PeterEIER Homey Pro v7.4.2-rc.4 is now available in the Experimental channel. I will consider this issue resolved for now, but please feel free to continue the discussion here if necessary.

[2022-06-17 16:18] runely commented on #235
Is there any movement on this?

[2022-06-20 07:36] RobinBol commented on #235
Sorry, not at the moment. But I have discussed this internally and we will put it on our roadmap for review. Thanks for reporting!

[2022-06-23 19:52] PeterEIER commented on #251
![7080A499-B240-405E-A454-D3536A9AA493](https://user-images.githubusercontent.com/25422313/175385467-f1d45d5d-0d97-4f7b-973a-618b74b353c8.jpeg)

stack trace from 7.4.2, nothing has changed or what did I miss?

[2022-06-24 06:59] RobinBol commented on #251
Ah I see, this error originates elsewhere, will see if we can fix it there as well.

[2022-07-04 08:03] Taelek commented on #245
Any advance? It has taken very long time!

[2022-07-06 09:25] jghaanstra opened #252 "Define device settings programmatically"
Pretty much all device aspects can be added using `Homey.createDevice()` but the one thing I'm missing is the ability to programmatically define the device settings. You can add device settings using `Homey.createDevice()` but allowing the user to edit them under the device settings screen requires a hardcoded `driver.settings.compose.json` file.

I would much appreciate the ability to be able to

[2022-07-06 11:56] RobinBol commented on #251
@PeterEIER Homey v8.0.2 should fix this!

[2022-07-08 16:30] h3rman commented on #251
I also got an error where the stack trace doesn't help. Homey v8.0.2

`Error: dim InvalidTypeError: undefined is undefined but expected number (invalid_type)`

![image](https://user-images.githubusercontent.com/1621579/178031411-d2b55940-98bf-4f60-afb6-f868f3a37c50.png)

[2022-07-09 14:24] PeterEIER commented on #251
@RobinBol well it indeed now differentiates to the extended that I know the capability name. Now it turns out that all my custom capabilities are flagged as invalid (i.e. "Error: Invalid Capability: fan_rate"). Based on the fact that the info provided by the stack trace is for all the errors the same I do guess the crash occurs in the same line of code. However with the provided information it is

[2022-07-10 16:28] PeterEIER commented on #251
@RobinBol and I like to add to the above, so far I was not able to reproduce the error… not a single crash report shows up when I myself use the app (which I do on daily basis). Puzzled…

[2022-07-11 11:43] WeeJeWel commented on #215
The way it's currently designed, is that a user can overwrite these settings themselves. Allowing an app to overwrite them again would result in data loss, which isn't a good thing.

If we were to change this, we also need to change the underlying assumptions, which isn't that easy. I think for now there're bigger fishes to catch.

[2022-07-12 08:22] RobinBol commented on #251
You should be looking for a line of code in your app setting the dim capability value to anything other then a number.

How did you add the custom capabilities? It might be that older devices were initially paired without that custom capability that you added later, the could explain why you can not reproduce (as you are pairing on the current app version).

[2022-07-12 09:09] WeeJeWel commented on #251
Tip:

[code]

[2022-07-12 14:56] koktaildotcom opened #253 "Error `Device not available` when adding new capabilities on device details."
I have an app that remove/add capabilities with the uiComponent: "sensor" based on configuration.

Result:
When the app is open on the device settings and when removing the capability an error occur: `Device not available`.

Expected result:
When the app is open on the device settings and when removing the capability the sensor should be gone.

Steps to reproduce:
[code]

[2022-07-12 14:58] koktaildotcom commented on #253
Note: Om the web version of the app this bug does not exist

[2022-07-12 17:21] PeterEIER commented on #251
Thx for the tip @WeeJeWel, did you copied it from my code 😎 as this is exactly how my code looks like… and this unfortunately does not catch anything 🤷🏼‍♂️

[2022-07-12 17:26] PeterEIER commented on #251
These custom capabilities do exist since the birth of my app over 4 years ago. When a users adds the airco device these custom capabilities are created.

[2022-07-13 06:57] RobinBol commented on #251
@PeterEIER is the source code freely available somewhere? Maybe I could take a quick look.

[2022-07-13 06:59] RobinBol commented on #253
Thanks for reporting, we'll take a look!

[2022-07-13 08:22] PeterEIER commented on #251
@RobinBol sure have a look at my GitHub repository.

[2022-07-13 11:50] RobinBol commented on #251
1) Actually, this is not the case. I've found a number of places where `setCapabilityValue("fan_rate", x)` is called without checking `hasCapability()` before hand.

2) Besides, I see you are heavily using `removeCapability()` and `addCapability()`, which is not really recommendend. These are expensive methods that have some unwanted side effects. Generally you only want to use this for migration

[2022-07-13 13:27] PeterEIER commented on #251
@RobinBol thx for the advice.

1. Check, the #has capability() I do not use I will add the check.

2. Regarding the #removeCapabilty() code, that is no longer needed anyhow it was used/needed for migration from 5 airco drivers to just 2 airco drivers many a years ago.

[2022-07-13 13:29] RobinBol commented on #251
Alright! I'll close this issue for now as the initial problem seems to be resolved. If not, please leave a comment to re-open.

[2022-07-13 13:29] #251 closed, assigned to nobody

[2022-07-15 08:37] runely opened #254 "Unable to initialize app `Error: ready_timeout`"
I got this crash report 3 weeks ago for Homey **7.4.3**. The error states that this may happen if my app isn't cleaning up all resources in `onUninit`. I've seen @WeeJeWel saying that this method is only implemented on the Homey Cloud. Is this correct? Why is the SDK telling me to do something that isn't supported on the Homey Pro? Any thoughts on what could cause this?

Just for clarification, my

[2022-07-15 08:39] runely opened #255 "TypeError: `s.getDrivers is not a function`"
I got this crash report 2 weeks ago for Homey **7.4.3**. What has happend here? My app does not have any drivers. Any thoughts on what could cause this?

[code]

[2022-07-20 06:40] runely commented on #255
Today I got another one off this crash report..

[2022-07-28 10:43] mickelluiten opened #256 "Show capabilty name on (detail) device card when only 1 eg picker is used"
When we use a capabilty(picker) only once the name is not shown on the device tile.
![image](https://user-images.githubusercontent.com/26140350/181486493-8f18de57-e7b2-4aff-ba87-d23baaafd7df.png)

This can be very confusing for a user,   for example i have a  in one  device card the onoff capabilty and the enum(picker) capabiltys with on/off option.

[2022-07-30 18:08] jghaanstra opened #257 "[Feature] Add a search filter to the list_devices pairing template"
I have users with over 100+ devices making pairing of the right devices a PITA for them. It was requested by a user to add a search filter in the list_devices pairing template. I might be able to solve this within my app by using a custom pairing template but it would be better if this was added in the default list_devices pairing template and for instance shown when there are 15+ devices discover

[2022-08-09 17:16] mxyzptl opened #258 "Capabilities - Slider"
Hi,
How can I show the current value when I slide a custom slider capability?

[2022-09-01 10:21] frodeheg commented on #210
The documentation at https://apps-sdk-v3.developer.homey.app/ManagerNotifications.html still does not indicate that double asterisks should be used. it says:

It would probably be a good idea to update the documentation.

[2022-09-05 07:25] RobinBol commented on #210
Ah, the asteriks needed to be escaped I see, fix will be deployed shortly! Thanks.

[2022-09-05 08:28] risoy commented on #245
I have this issue too. I also have the homey4d. I only manage to stay connected to a BLE device for about 5 seconds in the Developer Tools.

[2022-09-06 09:40] robertklep opened #259 "{Homey,Device,Driver}.onUninit not guaranteed to be called at all"
In what I assume is the current version of SDKv3, when an app gets a `SIGTERM`, the following code is run:
[code]

`homey.destroy()`, in turn, will run this code:
[code]

Because the next tick queue will run _before_ the microtask/promise queue, the process is exited before it even gets a chance to run any of the `onUninit` methods.

[2022-09-06 09:46] AdyRock commented on #259
That explains the crash reports I get when my apps updated and try to clean up.

[2022-09-07 06:38] Pirez commented on #245
I have the same issue too (homey4d). It does discover and make an initial connection to the BLE devices, but afterwards I loose the connection and can't connect to any BLE devices.

Are there any progress on this issue? And does someone knows if the same issue occurs on Homey Bridge (don't have it yet)?

![homey_BLE_issue](https://user-images.githubusercontent.com/1561566/188806274-3ef94201-5984-4

[2022-09-08 20:54] runely opened #260 "Characters not possible to remove after a label in flow card"
On the Homey App (iPhone), when i have added a label to any flow card, and then added a _character_, _number_ or _symbol_ right after the label. I am not able to remove that _character_, _number_ or _symbol_ alone again from the flow card.

This is only happening on the Homey App (only tested on iPhone), it works as it should on https://my.homey.app

### Here i have added a push notification flow

[2022-09-26 17:28] frodeheg commented on #259
I would really like to get this issue fixed as it makes it impossible to do a safe shutdown of the app when sending out updates.
The alternative I have is to run this.homey.settings.set(...) every minute (or more often) to avoid losing the state, which is a very bad alternative compared to only having to run this.homey.settings.set(...) during onUninit().

[2022-09-26 17:35] frodeheg commented on #259
Can we please add the label 'bug' to this issue? (I can't figure out how)

[2022-09-26 18:43] robertklep commented on #259
@frodeheg looks like only the owner of the repository can add labels to issues.

[2022-09-26 18:52] WeeJeWel commented on #259
Can you elaborate on your usecase/problem? There are various events where Homey Pro can stop running apps at any time (e.g. power loss). It has never been a real issue before, so I'm wondering why this is required for your app.

[2022-09-26 21:43] frodeheg commented on #259
In Norway a new model for charging for electricity usage was introduced on the 1st of July 2022. With this model, for every month we have to pay a grid fee based on the maximum hourly consumption of the previous month (a bit simplified). The goal of this new fee is to reduce the maximum load on the power grid and as such reduce the need to upgrade the infrastructure.

Thus I made an app that limit

[2022-09-27 05:19] robertklep commented on #259
Besides that, none of the `onUninit()` methods actually get called when an app gets restarted/killed, in spite of what the documentation suggests.

[2022-09-27 07:03] AdyRock commented on #259
I have implemented code in the onUninit() functions to clean up and log out of APIs, etc. I can tell they are not working as I get crash reports every time someone updates or restart the apps because code is still running that would of been stopped.

[2022-10-03 08:26] robertklep opened #261 "TypeScript `device.ts` template for `homey app create driver` incorrect"
When creating a new driver using `homey app create driver` in a TS-based app, the generated `device.ts` has an invalid declaration for the `onSettings` method:
[code]

It should be:
[code]

[2022-10-05 11:29] WeeJeWel commented on #261
Thank you for reporting! This is fixed in https://github.com/athombv/node-homey/commit/74e2bd5dcfcb5e9c02db76f0691cc984eb1b6fb6.

[2022-10-05 17:18] robertklep commented on #261
It's still missing an actual argument name (`event = { ... }`).

[2022-10-16 09:26] frodeheg commented on #259
@AdyRock , you can try this workaround, it works well for me:
[code]
(you might want to have a guard in the onUnit function that prevents it from being called twice though, in case Athom ever decides they want to fix this issue)

[2022-10-17 13:51] daneedk opened #262 "Not receiving device events while using homey-api"
Hi,

While rewriting Heimdall for SDK3 I'm also switching from `athom-api` to `homey-api` but unfortunately I'm running into problems.
I am not able to receive events for devices. Using the `athom-api` I used this code to register for events:
[code]
and that worked fine. I'm trying to use the same code agains `homey-api` but I'm not receiving anything. The documentation I used is this: https://ath

[2022-10-17 13:53] jeroenwienk commented on #262
You need to `await devices.connect()` first.

[2022-10-17 14:28] daneedk commented on #262
That fixed it, thanks for the fast response!

[2022-10-17 14:28] #262 closed, assigned to nobody

[2022-10-17 20:23] frekel opened #263 "Url to sigh the [Contributor License Agreement] returns a 404"
When creating an app with the SDK3, a CONTRIBUTING.md file is created. In the last line there is a link to the [Contributor License Agreement], but that gives a (kind of) 404

[code]

![Screenshot from 2022-10-17 22-20-48](https://user-images.githubusercontent.com/31908/196275594-f44da978-e1ca-4236-8748-5bee4de66391.png)

[2022-10-19 11:59] WeeJeWel commented on #263
Thanks! Fixed in https://github.com/athombv/node-homey/commit/8160cf648bb9d38a10da5ce17de9556713b7f087

[2022-10-19 11:59] #263 closed, assigned to nobody

[2022-10-23 10:31] frodeheg opened #264 "Unable to initialize app Error: capability_already_exists"
I started getting this crash reported for about 1 per 300 user around a week ago whenever I post new updates to my app. The crash indicate that it happens before my app / drivers get initialized:

[code]

[2022-10-23 11:01] frodeheg opened #265 "Ignore"

[2022-10-23 11:08] #265 closed, assigned to nobody

[2022-10-29 07:47] cgHome opened #266 "Driver&Device ready() method does not work as I expect in SDKv3"
I want to use the Driver&Device ready() method, which according to the documentation is executed when onInit() is finished.

However, the method is called several times and at the wrong time

Unfortunately I could not find an example in the documentation for the ready() method. And now I don't know, is it because of my implementation or is this a bug in SDKv3.

---
Example:

In the first version o

[2022-10-29 09:06] jeroenwienk commented on #266
https://community.homey.app/t/how-do-i-use-the-driver-ready-method-in-sdkv3/71280/3 Robert's answer is correct. It also the same I told you in Slack.

Calling this.ready() inside your driver returns a Promise that is resolved when the drivers devices are inited and the driver onInit method is done.

**If you override ready like you did you are breaking the SDK and your app.**

[2022-10-30 14:58] cgHome commented on #266
I solved my problem differently. THX Chris

[2022-10-30 14:58] #266 closed, assigned to nobody

[2022-10-30 16:00] runely commented on #254
Couple of days ago i received this error report again, this time for Homey Version **8.0.8**.

`this.homey.app` must be called from the SDK, because i don't have this in my code!

[2022-10-31 13:46] OlivierZal opened #267 "Values well recorded but wrongly displayed"
Hi,

### Video
https://user-images.githubusercontent.com/88216225/199022193-670a12c6-6fab-4de2-90f0-ea71b784e218.mov

### Description
- when I manually go from **Fan** or **Dry** to **Heat**, **Cool** or **Automatic**: no problem
- on the other hand: when I manually go from **Heat**, **Cool** or **Automatic** (mapped to built-in `thermostat_mode`) to **Fan** or **Dry**: it automatically returns ba

[2022-10-31 14:07] OlivierZal opened #268 "The second value of a capability can disappear in some conditions"
Hi,

### Video
https://user-images.githubusercontent.com/88216225/199027156-60d48cc5-b013-45d4-b2c0-3750fc68becd.mov

### Description
The display issue is obvious...

[2022-10-31 19:38] djFooFoo commented on #245
I’ve got kind of the same issue with ble here. While I was able to create a Python application that communicates with a Bluetooth standing desk from Ikea, I seem to have trouble doing the same with Homey.

I can list the bluetooth device, but I’m not able to list the device’s services. The services array is empty and discovering services results in an error.

Maybe it has something to do with the

[2022-11-01 12:43] RonnyWinkler commented on #259
I get similar crash reports - and concole logs in local debugging.
The app crashes most times it gets restarted (in the mobile app) or if it gets updated (e.g. debug version is running and store version gets installed).

There is no timer or timeout running. Only a websocket client which could trigger during app exit. The trigger could cause a capability change with setCapabilityValue(), but excep

[2022-11-01 13:08] RonnyWinkler commented on #259
That makes no difference for me. The onUninit gets called and it seems the websocket connection is closed, but still the app crashes.
Then it restarts and works, but in MobileApp there is still the infoamation like "stopped unexpectedly".

The console output is:

[code]

[2022-11-01 13:20] robertklep commented on #259
@RonnyWinkler that's caused because you're [overloading `getDevices` in your base driver](https://github.com/RonnyWinkler/io.home-assistant.community/blob/54d6d2a15af2b64e03053bca6ddd7dce79c30549/drivers/basedriver.js#L120).

[2022-11-01 13:33] robertklep commented on #259
@RonnyWinkler since you're overloading `getDevices` in your drivers, are you sure the issue isn't caused by that?

The SDK runs this code from `Homey.destroy()`:
[code]
And the error you're getting is thrown in the last for loop (`for (const device of driver.getDevices())`).

[2022-11-01 13:36] RonnyWinkler commented on #259
Oh, many thanks for the hint. I used this name by mistake and wasn't aware I overloaded this function.
I will change this and check if it's running without errors then.

Edit:
Great, much better now :-)
[code]

[2022-11-02 09:32] RonnyWinkler commented on #264
I get these crash reports, too. But only a few of the installs.
Capabilities are checked before adding so that can't be a reason:
[code]

This is the error log:

Unable to initialize app Error: capability_already_exists
    at Remote Process
    at HomeyClient.emit (/opt/homey-client/system/manager/ManagerApps/AppProcess/node_modules/homey-apps-sdk-v3/lib/HomeyClient.js:1:312)
    at ManagerDriver

[2022-11-10 00:04] OlivierZal opened #269 "`app.error` writes `[log]` instead of `[err]`"
`app.error` writes `[log]` instead of `[err]`

[2022-11-10 16:48] WeeJeWel commented on #269
This issue should have been resolved somewhere in September. Which Homey Pro version are you using?

[2022-11-10 17:09] OlivierZal commented on #269
[code]

[2022-11-19 04:31] frodeheg commented on #264
I do not get this error anymore when I send out new updates. It seems like this has been fixed now... @RonnyWinkler , is this your observation as well?

[2022-11-19 10:05] RonnyWinkler commented on #264
Yeah, it doesn't seem to be happening anymore. But I can't say why. The FW I got crash reports before was 8.0.8 and there is no other stable version yet. Perhaps someone who installed the new RC now? Then it would depend on only one or some specific Homeys?

[2022-11-19 12:05] frodeheg commented on #264
I guess I spoke too soon, I got one of these when I updated today. I wonder if it occur more frequent if updates are sent out during daytime than during nighttime... e.g. if homey is busy then maybe this is more likely to happen? I think I sent the updates without the issue occurring late in the evening while it was early in the morning this time.

[2022-11-20 10:13] runely opened #270 "Homey App crashes"
The Homey app (at least on iPhone) crashes when i remove the trigger card with tokens from the flow (and those tokens are in use in the flow) and replaces the trigger card with some other card that doesn't have these tokens.

If the tokens are not in use in the flow, all is good.

[2022-11-21 14:45] regnerus commented on #270
Hi @runely, thanks for submitting an issue with the Homey Mobile App! I tried to replicate your issue myself in the app on iPhone however here it shows the correct behavior (removing the token in the action card, when the trigger card is removed).

Do you have an example of a Flow that breaks and some information about the Mobile app- and Homey version you are using (both can be found under More -

[2022-11-21 16:48] runely commented on #270
An example can be found here: https://homey.app/f/iWx4ri

I have tested this with builtin flow triggers and triggers from my own apps, and in all cases the mobile app crashes!

1. Open the flow
2. Remove the trigger card (in this case Presence -> Someone came home)
3. Add a different trigger card (for example Flow -> This flow has been started) _(no matter which as long as it doesn't contain the t

[2022-11-23 16:27] regnerus commented on #270
@runely thanks for the information! A screen recording would be very helpful, I still cannot reproduce this error.

[2022-11-23 16:39] runely commented on #270
Here's a screen recording of two flows that crashes. The timeline notification action uses one of the tokens from the trigger in both flows:

https://user-images.githubusercontent.com/25814673/203600262-cb2633c8-0475-4c0a-8849-ff403fc97a48.mp4

[2022-11-25 10:01] Goran58 opened #271 "Icon color isn't in sync with the state of the toogle button"
In SDKv3 I have defined an own toggle button:
[code]
When using the button in the mobile App, the foreground color (white or green) isn't always in sync with the state of the button. It works in the web App.

Some example pictures:

![active_ok](https://user-images.githubusercontent.com/6393885/203966782-f4e78ccd-61da-4989-bcfa-c1c98e353902.png)
![active_wrong_icon_color](https://user-images.githu

[2022-11-28 09:05] RobinBol commented on #269
@OlivierZal this will be fixed in Homey v8.1.1, will be released in the coming weeks.

[2022-11-29 18:24] kraineff opened #272 "Zigbee "Repair View""
Hello! When I add "Repair View" for non-Zigbee driver it works as needed. But when I add same "reapar:" configuration in Zigbee driver manifest it shows me a "Repair" button in Frontend, but on click it shows me error:

https://192-168-1-10.homey.homeylocal.com/api/manager/drivers/pairsession
Request:
{
"type": "repair",
"deviceId": "88b22984-a066-4dc9-9961-b7078c22cd0e",
"driverUri": "homey:app:c

[2022-11-29 18:26] kraineff commented on #272
It looks like that Homey cannot create a PairSession for "repair" inside Zigbee device.

[2022-11-29 18:27] kraineff commented on #272
This feature is very necessary to display Custom Views, or it would be better if you added the ability to display Custom View using Maintenance Actions

[2022-11-29 18:28] kraineff commented on #272
https://user-images.githubusercontent.com/7906418/204615286-ce25b4cc-1f4b-40c9-9ee9-74307bb57d4e.mp4

[2022-11-30 08:36] RobinBol commented on #272
Hi @Kraineff , unfortunately it is not possible to create custom (re-)pair views for Zigbee drivers. This is because Homey already provides built-in pair views, as they are the same for all Zigbee drivers.

[2022-11-30 08:36] #272 closed, assigned to RobinBol