[2018-12-06 15:31] WeeJeWel opened #1 "Missing documentation for Speakers and Album Art."
This is known and will be solved a.s.a.p.

[2018-12-06 20:11] caseda opened #2 "Sensors (and probably more) sub capabilities (measure_***.sensor1) not assigned properly"
When a driver has sub capabilities
(like the fibaro binary sensor (FGBS-001), which has 2 general alarms (`alarm_general.input1` / `alarm_general.input2`) and 4 temperature sensor capabilities divided by a sub part `.sensor1`
they will not receive any values.
~and as the flow cards are also missing it most likely is just not assigned properly in the new homey app.~
flow cards do show up in 2.0.0 R

[2018-12-06 20:58] holkerveen opened #3 "Access to https://apps.athom.com/developer/dashboard denied"
Hi! I got a 403 error on `https://apps.athom.com/developer/dashboard`, and got redirected to `https://apps.athom.com/unauthorized?origin=https:%2F%2Fapps.athom.com%2Fdeveloper%2Fdashboard`.

Of course I was logged in at the time, and signing in via the provided link does not work. I got here by clicking on `My Apps` in `https://developer.athom.com/`

[2018-12-10 14:34] hive opened #4 "Homey.Device.setSettings() not assigning setting."
Using the code from the documentation

With in the app.json

[code]
Works correctly, displays 'Text value 1' as the **device** setting.

Once again from the documentation : device.js

[code]

**Expected** : text1 setting to be updated to "newValue"
**Experienced** : Setting retained its original value.

[2018-12-10 16:10] koktaildotcom opened #5 "FlowCardTriggerDevice not triggering in app"
On 2.0.0-rc-2 all the `FlowCardTriggerDevice` trigger cards won't trigger. The object don't throw an exception and the promise resolved like it should except that the flow not is triggered.

[2018-12-10 16:20] twendt commented on #5
I was just opening the same issue. So I will respond here now.

I created a Homematic app which uses FlowCardTriggerDevice in several drivers. This worked fine on v.15, but since the experimental update to v2 flows do not trigger anymore.

An example can be found here:
https://github.com/twendt/homey-matic/blob/master/drivers/HM-PB-4-WM/driver.js

[2018-12-10 17:17] koktaildotcom opened #6 "BLE discovery doesn't give `live` results."
I've tested by app `beacon` on v2.0.0. This app does a discovery of BLE beacons and check if the added devices are in that list to check if they are in/out range.

What do i expect:
`Homey.ManagerBLE.discover` gives a list of BleDevices that are in range.

What is the result:
`Homey.ManagerBLE.discover` gives a list of BleDevices that are not in range anymore, but where the first time the function

[2018-12-10 17:18] koktaildotcom commented on #5
Moving the `FlowCardTriggerDevice` `register` function from the device to the app didn't result in a working trigger.

[2018-12-10 17:44] koktaildotcom opened #7 "BLE connection gives an exception: Cannot read property 'localName' of undefined"
[code]

[2018-12-11 12:12] WeeJeWel commented on #7
Fixed in Homey v2.0.0-rc.3

[2018-12-11 14:28] TedTolboom opened #8 "A capability with state `null` should be greyed out, not triggering the battery alarm"
Follow-up of support ticket 9617, which was followed-up in https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/110

The behavior in V2 has been changed; in V1 the battery status with state `null` would show up as greyed out (which does make sense), in V2 it is marked as empty, triggering the alarm (also in homekit)...

See screenshots originating out of the above referenced issue:

In genera

[2018-12-11 14:39] TedTolboom commented on #5
I'm running into the same issue(s): but some fail and some don't

Example of the failing triggers; the runListener is never activated (when adding log to it)
device.js trigger: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/cube/device.js#L193
flowcard definition in device.js: https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/drivers/cube/device.js#L112

On the

[2018-12-11 15:46] WeeJeWel commented on #2
Fixed in v2.0.0-rc.3

[2018-12-11 15:46] #2 closed, assigned to nobody

[2018-12-11 17:29] Swiftnesses commented on #6
I wondered why my devices stayed connected!

[2018-12-11 17:30] koktaildotcom opened #9 "Error `Invalid serviceFilter` on BlePeripheral::write"
Documentation says:
(async) write(serviceUuid, characteristicUuid, data) → {Buffer}
Shorthand to write to a characteristic for given serviceUuid and characteristicUuid

Name | Type | Description
-- | -- | --
serviceUuid | string | The uuid of the service that has given characteristic
characteristicUuid | string | The uuid of the characteristic that needs to be written to
data | Buffer | The data t

[2018-12-11 17:46] koktaildotcom commented on #9
Same for `BleService::write` (resolves the same function because `BlePeripheral::write` looks a shorthand)

[2018-12-11 17:55] #9 closed, assigned to nobody

[2018-12-11 17:56] koktaildotcom commented on #9
Not reproducible anymore

[2018-12-11 21:08] TedTolboom commented on #5
@WeeJeWel Did some testing in my favorite app (Xiaomi Zigbee)

[code]
Note that the `Homey.app.triggerButton1_scene` was the only one working yesterday also.
Today I tested it again, but didn't work... Several PTP's and RROD's further and all of the sudden this trigger is working again.

[2018-12-12 02:51] Maxmudjon commented on #4
some problem

[2018-12-12 02:55] hive commented on #4
Thank god, I thought It was just me and I was loosing my mind.

:-)

[2018-12-12 02:59] Maxmudjon commented on #4
@hive please open topic here https://community.athom.com/c/developers

[2018-12-12 10:58] koktaildotcom commented on #7
This is not fixed in v2.0.0-rc.3

[2018-12-12 10:58] WeeJeWel commented on #7
Can you share more code when this happens?

[2018-12-12 11:01] koktaildotcom commented on #7
When i'm trying to find an BleAdvertisement from the ManagerBLE.

where let uuid = `<string>`
[code]

[2018-12-12 16:04] koktaildotcom commented on #7
Sorry. The update to rc3 was failed and i've retested it on rc2.

[2018-12-12 16:12] WeeJeWel commented on #7
No problem!

[2018-12-12 20:41] SailingDuck opened #10 "Dutch locale missing error"
All of a sudden got an error that the nl.json is missing. There was never one, only en.json. According to the docs that's the only one that is required. Image:
![image](https://user-images.githubusercontent.com/23644634/49897490-9da0be00-fe56-11e8-9a79-200fdb220961.png)

[2018-12-13 17:10] koktaildotcom opened #11 "BLE Characteristic gives an error: Cannot read property '....' of undefined"
I did a rewrite for the app `com.mi.flora` that can read out sensor information from the xiaomi mi flora devices. It all works fine except for the second (and all other) timeout to read sensor information again.

I've searched for hours through my code but it looks something in core. The second time i want the sensors to read (i've disconnected the BlePeripheral correctly the first time) i cannot

[2018-12-13 17:11] koktaildotcom commented on #11
Can this be related to: https://github.com/athombv/homey-apps-sdk-issues/issues/7 ?

[2018-12-14 16:46] WeeJeWel commented on #11
What ID is `00001a0000001000800000805f9b34fb`. Characteristic, service, etc?

[2018-12-14 16:47] WeeJeWel commented on #3
I cannot reproduce this issue. Closing this until someone else has the same issue.

[2018-12-14 16:56] WeeJeWel commented on #4
Fixed in 2.0.0-rc.4

[2018-12-14 16:56] #4 closed, assigned to nobody

[2018-12-14 17:00] WeeJeWel commented on #10
Cannot reproduce.

[2018-12-14 17:00] #10 closed, assigned to nobody

[2018-12-14 17:24] koktaildotcom commented on #11
Thats the data write characteristic.

[2018-12-14 17:26] koktaildotcom commented on #11
If you have a 'xiaomi mi flora' device you can try this branch: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/v2-rewrite?files=1

It accur the second time the sensor is read.

[2018-12-14 17:36] WeeJeWel commented on #5
Fixed in v2.0.0-rc.4. Thank you @TedTolboom for testing so thoroughly!

[2018-12-14 17:36] #5 closed, assigned to nobody

[2018-12-14 17:49] WeeJeWel commented on #8
The grey battery has been fixed in the newest app release.

I've debugged and the value sent to HomeKit is `false` ...

[2018-12-14 17:49] #8 closed, assigned to nobody

[2018-12-14 18:35] TedTolboom commented on #5
Nice, would be happy to test rc.4!

[2018-12-14 18:35] TedTolboom commented on #8
Thanks. Notice the change already in 234

[2018-12-14 19:40] davyrolink opened #12 "api.js ignoring public true"
I'm on 2.0-rc3 trying to create a app with a public api, but it seems to ignore the "public: true".

When opening `http://<my-homey-ip>/api/app/<my-app-id>/` I only get a 401 unauthorised response:
[code]
Same http 401 response when using `https://<cloudid>.connect.athom.com/api/app/<my-app-id>/`

Source of my api.js:
[code]

[2018-12-15 10:53] koktaildotcom opened #13 "Error `Invalid servicesFilter, expected Array` on BlePeripheral::discoverServices"
Trying to work around the issue: https://github.com/athombv/homey-apps-sdk-issues/issues/11

There is another issue i've triggered:

When calling:
[code]
(at line: https://github.com/koktaildotcom/homey-mi-flora/blob/29c34d9b7ec2153f2f1756405d32281449b6b6b7/lib/MiFloraDriver.js#L243)

I got a error:
[code]

I've added the code to reproduce in: https://github.com/koktaildotcom/homey-mi-flora/tree/f

[2018-12-15 11:13] holkerveen commented on #3
Oh, okay. That seems very unlikely, because it behaves that way on all my devices. It does not matter if I disable caches, turn on anonymus browsing/incognito mode, anything.

I cannot find any redirect headers or 302 status codes so it seems like a Javascript redirect. Also, I do see some flash of a dashboard before it redirects. Going through what I can see, It seems to redirect in a $stateChang

[2018-12-15 12:40] koktaildotcom commented on #11
I've tried the branch on rc3 with all devices removed. Thought there could be a difference. But the same error occur.

[2018-12-16 13:44] peterjohnsson commented on #4
Would be nice to use settings..

[2018-12-17 14:57] Maxmudjon opened #14 "Homey getSetting return null"
this.log(this.getSetting('ip') => null

this.log(this.getSettings()) => {"oldSettings":{"ip":"192.168.1.3"},"newSettings":{"ip":"192.168.1.3"},"changedKeys":[],"message":null}

[2018-12-17 16:43] Maxmudjon commented on #14
fixed in v2.0.0-rc.4

[2018-12-17 16:43] #14 closed, assigned to nobody

[2018-12-17 16:46] Maxmudjon opened #15 "Homey 2.0 capabilites icons not show"
![image](https://user-images.githubusercontent.com/23142922/50101572-c94fe980-0244-11e9-93c3-f142314321e3.png)
![image](https://user-images.githubusercontent.com/23142922/50101734-2f3c7100-0245-11e9-8845-5be45a35f422.png)

[2018-12-17 17:11] koktaildotcom commented on #6
Still an issue with rc4

[2018-12-17 17:15] koktaildotcom commented on #13
Still an issue on rc4

[2018-12-17 17:41] koktaildotcom commented on #5
Confirmed in rc-4

[code]

[2018-12-17 19:38] koktaildotcom commented on #11
Still an issue on rc4

[2018-12-18 12:19] bvdbos opened #16 "Cronjobs not working"
Something is wrong in registering Cronjobs (OpenWeatherMaps in this case)
2018-12-16 09:32:30 [log] [ManagerDrivers] [owmCurrent] [0] device init
2018-12-16 09:32:30 [log] [ManagerDrivers] [owmCurrent] [0] The task has not been registered yet, registering task: bas_25177
2018-12-16 09:32:30 [log] [ManagerDrivers] [owmCurrent] [0] problem with registering cronjob: SQLITE_CONSTRAINT: NOT NULL constr

[2018-12-18 12:22] SailingDuck opened #17 "Add posibility to show value in top right corner of device tile"
Currently thermostat devices show the temperature in the top right corner of the device tile. This is an ideal possibility to show other numeric values, like a temperature sensor or dimvalues.

At Slack it was allready discussed this area is restricted, but made this issue if we can open up this area for sensor values or dim values too.

![](https://files.slack.com/files-pri/T04E9KJ7T-FEW2LSDRR/im

[2018-12-18 12:52] daneedk commented on #17
And not only other numeric values. For Heimdall I want to be able to show an indicator on either or both the Surveillance Mode Switch and Alarm Off button that the alarm has been activated.
(This is consistent with how a motion sensors handles a detected motion)

[2018-12-19 10:32] koktaildotcom commented on #15
I can confirm this.

I've tried also with:
[code]
In the `"capabilities"` root

[2018-12-19 14:23] WeeJeWel commented on #16
Fixed in v2.0.0-rc.8

[2018-12-19 14:23] #16 closed, assigned to nobody

[2018-12-19 14:28] WeeJeWel commented on #12
Fixed in v2.0.0-rc.8

[2018-12-19 14:28] #12 closed, assigned to nobody

[2018-12-19 14:59] WeeJeWel commented on #15
Fixed in v2.0.0-rc.8 and the newest app.

A custom capability can now have an `icon` property, that's a path [String] relative to the app's root. Example: https://github.com/athombv/com.rituals/commit/7fb943ad479d2b9a4558c2892b0e12bcf51f34ae

[2018-12-19 23:04] SailingDuck opened #18 "Show dimvalue option for dimcontrol"
Better Logic had a device that used a slider to set a numeric value/variable. The former mobile card used a combination of a slider and a sensor value next to each other. The slider in the new layout isn't showing the actual value you are about to set. I can show it on another page but that way you have to check everytime what value you set.

Something like this:
![image](https://user-images.githu

[2018-12-20 07:26] koktaildotcom commented on #6
Still an issue with rc7

[2018-12-20 07:26] koktaildotcom commented on #13
Still an issue with rc7

[2018-12-20 07:26] koktaildotcom commented on #11
Still an issue with rc7

[2018-12-20 09:54] koktaildotcom commented on #15
I cannot find the example...

[2018-12-20 10:26] WeeJeWel commented on #15
Whoops, that was a private repo.

Example custom capabilitity:

[code]

[2018-12-20 12:03] WeeJeWel commented on #3
I think this happens because you haven't submitted your first app yet... does https://apps.athom.com/developers work for you?

[2018-12-20 14:03] SailingDuck commented on #3
Get the same redirect with this page:
![image](https://user-images.githubusercontent.com/23644634/50289172-558e2680-0468-11e9-9914-d625e258dc9b.png)
(signing in doesn't work)

https://apps.athom.com/developers is working for me

[2018-12-20 14:14] WeeJeWel commented on #3
`(signing in doesn't work)`

Please elaborate?

[2018-12-20 14:48] SailingDuck commented on #3
The sign in button could imply I'm not logged. Signing in again gives the same result.

[2018-12-20 17:18] Dijker commented on #3
I tried here from incognito letting the https://developer.athom.com/ linkt redirect me to  https://apps.athom.com/developers ....
Tried not loged in  and may developer account.
Almost gave up.

Incognito Window open https://developer.athom.com/
Log in with Athom -NON-Developer- Account
klik left column My Apps => that one opens https://apps.athom.com/developer/dashboard logged in to the store but

[2018-12-20 19:29] Maxmudjon commented on #15
I can set custom icons for alarm_motion (alarm_motion.vibrate) ?

[2018-12-21 08:33] koktaildotcom commented on #7
This issue is back at v2.0.0-rc.8

[2018-12-21 08:41] koktaildotcom commented on #7
I've added the code where this happens to: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/ble-advertisement-exception.

note: Due to compatibility to 2.0 i've added BLE permissions. They should be removed to be compatible with < 2.0

[2018-12-21 09:23] zwaardemaker commented on #6
Still an issue with rc8 and 9. Would be great if this issue will be resolved soon ;-)

[2018-12-21 13:58] WeeJeWel commented on #15
No you can't have different icons for sub-capabilities. You should create a capability `alarm_vibrate`.

[2018-12-21 13:58] #15 closed, assigned to nobody

[2018-12-21 18:47] WeeJeWel commented on #18
Thanks for the feature request, we'll consider it!

I'm closing this issue here as it's not an Apps SDK related issue.

[2018-12-21 18:47] #18 closed, assigned to nobody

[2018-12-22 09:47] alcsverige commented on #4
Settings doesn't work.. 2.0 Rc8.
App v2.0.208

[2018-12-22 20:11] daneedk opened #19 "Problem with retreiving device information rc9"
After updating to rc9 it is no longer possible to retrieve device information. This code:
[code]
produces this error:

[code]
```line 147 --> if ( device.data.id === 'sMode' ) { ```

[2018-12-23 09:59] SailingDuck commented on #19
Have trouble to after readding better logic devices too. Every last added device shows a triangle. If you add a new device the previous triangle goes away.

[2018-12-23 21:15] WeeJeWel commented on #19
I'll fix this in rc.10

[2018-12-25 10:25] rvmuilekom69 commented on #6
Indeed, eagerly waiting when this Will be resolved

[2018-12-26 13:26] aartse opened #20 "iOS app: callback arguments Homey.confirm in app settings is wrong"
the SDK documentation says "The callback's 2nd argument will be true when the user pressed OK.":
https://developer.athom.com/docs/apps/tutorial-App%20Settings.html

But with homey 2.0 in the ios app, the first argument of the callback is true or false, the second is undefined. The app settings simulator on https://developer.athom.com works as described in the documentation and uses the 2nd argumen

[2018-12-28 09:22] daneedk opened #21 "Custom label on a device with a boolean value"
In V1 it was possible to configure a custom label for a boolean value on a device. At this moment in V2 the standard values are `Yes` or `No`. For a lot of circumstances other descriptions would make more sense, for example `Active`/`Idle` or `Open`/`Closed` etc.
Ted Tolboom asked about this on slack [here](https://athomcommunity.slack.com/archives/C04SUGZ9E/p1545814617136100) and @weejewel respon

[2018-12-28 09:27] TedTolboom commented on #21
I think this is a must have if the goal is to provide the best user experience.

Users are used to this in the v1 app / environment, so showing only yes or no feels medieval to me.

[2018-12-28 09:36] robertklep commented on #21
I agree as well: it may break the UX for existing apps, and "Yes/No" doesn't always convey the proper meaning behind the capability.

As @daneedk states, for certain devices, "Open/Closed" makes much more sense, or "On/Off" (for instance, I'm using "On/Off" for a boolean "Verwarming").

[2018-12-28 10:59] daneedk opened #22 "Full screen area can not be utilized in app settings"
Please give an app developer access to the full screen width and height. It's difficult as it is to fit all in and not having access to all available pixels just makes it harder and isn't really giving a user the best possible experience.

![image](https://user-images.githubusercontent.com/16610696/50513413-f481d680-0a97-11e9-9b09-9d4254f4be21.png)

[2018-12-28 13:07] PeetersJan commented on #4
Does not work in RC9...

[2018-12-29 20:20] daneedk opened #23 "capabilitiesObj is null on creation of a device"
(V2 rc9)
The Heimdall code triggers on adding a device to Homey to see if the device qualifies to be used by Heimdall.

This code is run:

[code]

[code]
[full code here](https://github.com/daneedk/com.uc.heimdall/blob/793a111b52c1d1516669d97cbac0aa9d339c9965/app.js#L156)

and produces the following error:

[code]
This is the device information from the `console.log(device)` capabilitiesObj is nul

[2018-12-30 09:51] jghaanstra opened #24 "windowcoverings_set capability is invalid"
I'm trying to add the windowcoverings_set capability to a device (Shelly 2 Roller Shutter). When a user pairs a Shelly 2 as Roller Shutter the Homey.addDevice({}) is called but the device is not added with an error 'invalid capability'. My app.json looks like this:

[code]
And related code in device.js for this device is:

`this.registerCapabilityListener('windowcoverings_set', this.onCapabilityWi

[2018-12-30 12:59] robertklep commented on #23
@nhassink and I are running into a similar issue using this code:
[code]

For newly-created devices, it crashes on the call to `device.makeCapabilityListener`:
[code]

In other parts of the app, it crashes because `device.capabilitiesObj` (which, I assume, is being used by `makeCapabilityListener`) is `null`.

[2018-12-30 15:06] WeeJeWel commented on #23
It's by design that this object can be null in some scenarios. You should wait for a `device.update` event.

As for the crashing of athom-api, please report that issue here: https://github.com/athombv/homey-web-api-issues/issues

[2018-12-30 15:06] #23 closed, assigned to nobody

[2018-12-30 15:08] robertklep commented on #23
Can you elaborate on "some scenarios"?

[2018-12-30 15:10] WeeJeWel commented on #22
Sorry, but we won't allow this. It's essential that the style is consistent throughout the app, which also means the same background color everywhere.

I understand that you would like to use the entire space but we have to be very strict in maintaining a consistent UI.

[2018-12-30 15:10] #22 closed, assigned to nobody

[2018-12-30 15:27] daneedk commented on #22
I agree with you for 100% that users should get a consistent UI, but enforcing it in this way is nonsense. I truly can not understand how not giving us the full screen area is a way to achieve your goal.
You have an approval process for apps, you can enforce consistency there. You could give app developers some guidance on how you want it to look but you don't, you are limiting us in providing a b

[2018-12-30 15:51] daneedk commented on #23
Yeah, some documentation would be welcome....

[2018-12-30 15:54] SailingDuck commented on #22
Style is not consistent because the settings of the rest of the app can utilize that area, these pages also use a different background color for headers. I don't see why other developers can't do that.

Next to that there's the gradient for the most of the pages, white background for the settings and black for the apps.

[2018-12-30 15:55] daneedk commented on #23
Also, I don't need to know when a device is updated, I need to know when a new device is created.
I don't understand there is a message emitted when a new device is created but it isn't entirely created, you have to wait some more and then it will completely created. Why isn't the event emitted after the full, succesfull creation of a device. I'm no programmer, but that would make sense to me.

[2018-12-30 15:59] WeeJeWel commented on #23
A device's lifecycle is actually quite complex and some properties online exist when the device is `ready`.

As for the documentation, the Web API is still experimental and unfinished.

[2018-12-30 18:03] daneedk commented on #23
And how do I know if a device is ready?
This:
[code]
doesn't trigger...

[2019-01-01 08:31] TedTolboom commented on #15
@WeeJeWel if you accept the PR (of November 8th), then the capabilities (alarm_vibration, alarm_drop, alarm_tilt and measure_tilt) I defined for the Aqara Vibration sensor can be re-used by @Maxmudjon: https://github.com/athombv/node-homey-lib/pull/135

[2019-01-01 08:42] TedTolboom opened #25 "Re-enable option to use multiple pickers in 2.0.0 app; needed e.g. for several thermostat devices"
The 2.0.0 app (0.18.0.241) only shows 1 picker element (thermostat_mode), where for multiple thermostats 2 or 3 (fan_mode, fan_speed) are defined.
Example is the Remotec app (or many of my other apps): https://github.com/TedTolboom/hk.com.remotec/tree/development

Current view in 2.0.0 app (0.18.0.241):
![image](https://user-images.githubusercontent.com/17163431/50571385-0ec5f800-0da9-11e9-9c97-af

[2019-01-01 08:52] TedTolboom commented on #25
Affected apps (devices):
* Remotec (ZXT-120, ZXT-600)
* MCO Home (MH7)
* Daikin

[2019-01-01 09:10] TedTolboom opened #26 "Radio element in new app results in unreadable text"
The current implementation of the radio element in device (advanced) settings, results in un-readable text / options.

See examples of the Fibaro app (FGD-212, force_auto_calibration):
![image](https://user-images.githubusercontent.com/17163431/50571533-53ec2900-0dad-11e9-8305-01fb64af2e51.png)
https://github.com/athombv/com.fibaro/blob/beta/drivers/FGD-212/driver.settings.compose.json#L407

or th

[2019-01-01 20:35] irritanterik opened #27 "Auth scope for apps on HomeyAPI"
I'm udating the Candy app, but don't get permissions for not-readonly actions on HomeyAPI. App manifest has `homey:manager:api` permission, but executing `homeyAPI.apps.restartApp(...)` results in rejection 'Je hebt geen toegang om dit te doen'. I need documentation on how to add specific auth scopes like `homey.app` to an app?

`homey:manager:api` allows read only actions like `homeyAPI.apps.getA

[2019-01-02 16:48] WeeJeWel commented on #20
Thanks, this will be fixed in the next app release.

[2019-01-02 16:48] #20 closed, assigned to nobody

[2019-01-02 16:52] WeeJeWel commented on #27
That's correct, apps have been restricted in their scopes.

These are the app scopes:

[code]

[2019-01-02 16:52] #27 closed, assigned to nobody

[2019-01-02 16:56] WeeJeWel commented on #24
Have you tried pairing without `windowcoverings_set`? Does that work?

[2019-01-02 16:57] WeeJeWel commented on #21
You can start adding `titleTrue` and `titleFalse` as capability option, we'll make sure it gets displayed.

[2019-01-02 16:58] WeeJeWel commented on #21
Example:

[code]

[2019-01-02 16:59] #19 closed, assigned to nobody

[2019-01-02 16:59] WeeJeWel commented on #17
Thanks for the suggestion. We do not keep track of enhancements in this issue tracker, but it's definitely noted internally.

[2019-01-02 16:59] #17 closed, assigned to nobody

[2019-01-02 17:01] WeeJeWel commented on #25
A dropdown on top will be added for the following components:

* Picker
* Toggle
* Ternary
* Battery

[2019-01-02 17:04] jghaanstra commented on #24
Yup, setting the roller shutte with a percentage has been recently added to the Shelly 2 device with a firmware update. So I tried adding the windowscoverings_set capability to the existing Shelly 2 Roller Shutter driver so Homey can control the Shelly 2 with percentages as well. Before adding this capability the driver worked perfectly but after adding the capability it returns the invalid capabi

[2019-01-02 17:08] WeeJeWel commented on #3
Changed the link to https://apps.athom.com/search?author=$userid

[2019-01-02 17:08] #3 closed, assigned to nobody

[2019-01-02 17:08] irritanterik commented on #27
@WeeJeWel in that case I need some guidiance in how to rewrite Candy app to V2. This app needs update rights for apps, flows and system. App functions are not native available on Homey V2. Only alternative without proper api support is keeping the bearer token method in place.

[2019-01-02 17:11] WeeJeWel commented on #27
Unfortunately some of those functions are not available anymore due to security reasons.

Using a bearer token also wouldn't work because Homey v2.0 has improved security and the tokens are rolling (they change over time).

I understand that you want the functionality but we cannot continue to let users install apps that might be malicious.

Using the Web API, you can request more access, although

[2019-01-02 17:44] robertklep commented on #27
But Athom validates each app before it gets published, doesn't it? It should make sure that an app doesn't do anything malicious.

Is making network requests going to be banned in the foreseeable future too? Wouldn't want apps doing portscans or exploiting network weaknesses...

[2019-01-02 17:57] mruiter commented on #27
It’s up to the user to select the rights given to the app . So why not make them available anymore . There are those irrelevant always click yes boxes that show the rights.
Candy app is there for a reason . To solve a lot of problems that are caused by shortcomings or bugs in homey core .

[2019-01-02 21:52] irritanterik opened #28 "req object missing on args in api.js handler"
Issue on rewriting app to Homey V2 support.
api.js:
[code]
fails because `req` is missing on `args`

[2019-01-03 07:37] daneedk commented on #21
Thank you.

[2019-01-03 08:39] TedTolboom commented on #21
Thanks.
Updated 3 of my apps with it; waiting for app store approval ;-P

[2019-01-04 09:40] Olof007 commented on #27
Athom, please implement the reboot function as a solution into the Homey app that can be triggered by a flow. At least I need to reboot several times a week my Homey to keep Z-wave and Zigbee working stable. Candy was the way to do that but if that is not longer allowed in v2, please find a solution for this.

[2019-01-04 11:04] WeeJeWel commented on #28
Because Homey v2.0 is transport layer agnostic (meaning it can get request over HTTP but not exclusively) we've had to remove the req object altogether.

[2019-01-04 11:04] #28 closed, assigned to nobody

[2019-01-04 11:07] robertklep commented on #23
I'm also interested to hear how to determine _when_ (not so much _if_) a device is ready. Right now, we're using a workaround by waiting for the first `device.update` event from each device, but that feels like a hack.

[2019-01-04 11:13] WeeJeWel commented on #19
Update: this is fixed in rc.12

[2019-01-04 11:16] irritanterik commented on #28
In that case I need some guidance on how to implement IP-filtering / origin address filtering for the HTTP App.
A workable solution would be to return an object `origin` on args with `{type: "http", address: "192.168.0.10"}`

[2019-01-04 11:19] WeeJeWel commented on #15
I will in an update later than Homey v2.0, first we want to focus on getting that to stable.

[2019-01-04 18:09] koktaildotcom commented on #7
@WeeJeWel any idea when you can take a look at this issue?

[2019-01-04 18:09] koktaildotcom commented on #11
@WeeJeWel any idea when you can take a look at this issue?

[2019-01-04 18:10] koktaildotcom commented on #6
@WeeJeWel any idea when you can take a look at this issue?

[2019-01-04 18:19] rvmuilekom69 commented on #6
I think this issue is solved in firmware rc11, or is this another problem?

[2019-01-04 18:20] koktaildotcom commented on #6
This issue still exist on rc11

[2019-01-05 00:28] irritanterik opened #29 "polling greenwave nodes"
I'm not allowed to report issues on repo https://github.com/athombv/com.greenwavesystems
Major function of the greenwave powernodes is 'realtime' power consumption monitoring. It seems this is removed since V2 rewrite. Energy values on devices are not updated for 7 days now (based on V2 android app). So my homey is still thinking my TV is on and lights are off. (based on situation 7 day's ago).

[2019-01-05 07:04] jghaanstra commented on #28
I have the same issue with two of my apps (DoorBird and Sonarr/Radarr app). I have now removed the check on origin IP address making the apps less secure but at least they work again.

@WeeJeWel, I can't believe that this is what Athom wants for their product. Hopefully the origin IP can be made available again or supply us with a different secure method that would still allow devices to communica

[2019-01-05 07:48] robertklep commented on #28
@weejewel at some point, everyone that needs this functionality is going to run their own HTTP server on Homey. How desirable is that?

And in terms of security, it's a step back, because now developers can't implement white-/blacklisting based on IP anymore.

I agree with what @jghaanstra suggests, at least expose an origin IP.

[2019-01-05 09:34] irritanterik commented on #28
@jghaanstra the non whitelist endpoint can be made public by the existing setting for dis/enabling authorisation.
If there will not be a solution available within the sdk I'll make an option to run a http server like @robertklep suggested

[2019-01-05 09:44] WeeJeWel commented on #28
I strongly advice against ip whitelisting because within a LAN it's very easy to spoof.

However if you insist, then running your own webserver is a fine solution.

[2019-01-05 09:51] robertklep commented on #28
I would pose that in 99,9% of the cases, Homey's are part of a LAN that can be trusted.

IP whitelisting is mostly meant to whitelist _external_ IP-addresses (for instance, webhook calls from cloud services).

[2019-01-05 09:54] irritanterik commented on #28
@WeeJeWel thanks for your prompt response. I'll ask the community if they appreciate whitelisting on LAN/WAN considering the spoofing risk there.
I'm still hoping Homey APP SDK will one day expose the api.js origin in one way or another.

[2019-01-05 10:08] WeeJeWel commented on #28
If you want to validate a WAN IP I'd suggest you create a webhook. You can check the origin IP there.

[2019-01-05 10:13] robertklep commented on #28
Can apps dynamically create webhooks?

[2019-01-05 10:21] irritanterik commented on #28
Think so

Op za 5 jan. 2019 11:13 schreef Robert Klep <notifications@github.com:

[2019-01-05 10:25] jghaanstra commented on #28
But webhooks use the cloud right? Defeats the purpose of local communication between devices

On 1.5.x the app API was reachable through WAN as well using the cloud URL. Checking on IP whitelist was a simple extra security measure if the app API needed to be available without token.

[2019-01-05 10:29] irritanterik commented on #28
I'll knutsel what and decide on best solutions that are configurable, understandable and max cloud independend.

[2019-01-05 10:41] WeeJeWel commented on #29
This is not a bug but intended. The greenwave device doesn't follow the Z-Wave spec (it doesn't report), and as result we noticed that many Z-Wave networks became unstable due to the polling of the device, resulting in angry users and a ton of support issues. That is why we made the decision to remove the polling functionality.

You can ofcourse sideload a previous version of the app, the code is

[2019-01-05 10:41] #29 closed, assigned to nobody

[2019-01-05 10:44] WeeJeWel commented on #28
Creating a request to Homey from an external server requires the Cloud anyway, if you're using https://<id>.homey.athom.com (or https://<id>.connect.athom.com on Homey v2.0). So using webhooks would be the preferred approach here, because those are defined as HTTP-capable.

In the scenario you're using LAN request, checking the IP is not secure due to the risk of spoofing. But it's arguable that a

[2019-01-05 10:50] irritanterik commented on #29
Is there a way to request a power consumption update by flow? I had no troubles with these devices in my large (60+ nodes) leave network. Had an poll interval of 5-10 minuten.
Will install the old version indead, is that one compatible with Homey V2?

[2019-01-05 10:53] mruiter commented on #28
Worried about op spoofing on local lan , what a Joke. Just worry about the alian attack in Enschede . Thats more likely to be a Security issue .

Bogus Security

[2019-01-05 11:02] jghaanstra commented on #28
I understand the point of view for requests from the WAN.

But using the app API with no extra security measures on the LAN is better than doing an extra IP origin check because that might be spoofed?

[2019-01-05 11:39] WeeJeWel commented on #28
Rationally speaking it doesn't matter. Checking the IP might _feel_ more secure but it simply isn't.

[2019-01-05 11:40] WeeJeWel commented on #29
There's no functionality like that currently built in the greenwave app. And the old one works on Homey v2.0.

[2019-01-05 12:07] robertklep commented on #28
Because sure, who else uses IP-checking nowadays anymore (apart from firewalls, SMTP spam lists, every major HTTP server, every major database server, ...)

[2019-01-05 12:42] irritanterik opened #30 "Inform/warn/instruct message on app upgrades"
I'd like an option to add migration instructions to end users on upgrading apps.
So when a braking update is published (x.0.0) automatic update is blocked and a message before or after install is shown with changed or removed functionality.
Without it testing and looking for appstore.md files is needed after every app update, while most app updates are minor non breaking changes.

[2019-01-05 18:36] notabene00 commented on #6
Yep, same here

[2019-01-05 23:06] cbho commented on #28
And this kind of expose that the approach of increasing dependence of something that requires cloud connection is making the system prone to being not secure...
As far as I can figure out, Homey was able to be the core of a system independent of internet access before, but is now increasingly more dependent on cloud access - and thereby losing a major advantage to other products on the market...
T

[2019-01-05 23:17] WeeJeWel commented on #28
Unfortunately you're wrong. A local system is insecure to begin with when looking at the communication on a LAN network.

Homey is still very independent off the cloud but if a developer is using a remote service that operates outside of the user's network then obviously Homey becomes cloud dependent for that specific device.

[2019-01-06 18:03] daneedk commented on #30
Great suggestion!

[2019-01-07 19:23] notabene00 commented on #6
rc12, still the same behaviour

[2019-01-07 19:43] zwaardemaker commented on #6
Very annoying! Not much magic behind this

[2019-01-08 08:07] zwaardemaker commented on #6
RC13, still the same behaviour

[2019-01-08 12:26] PeetersJan commented on #4
RC13, still no cigar...
App v2.0.208

[2019-01-08 12:28] WeeJeWel commented on #4
I tested this and it works here. Could you elaborate what doesn't work exactly?

[2019-01-10 09:17] konradwalsh opened #31 "Homeyduino - Adding Device Fails - SDK 2"
Adding a device crashed the v2 app or returns without adding the device.

Latest Homeyduino installed
Latest SDK 2 installed

[2019-01-10 12:01] WeeJeWel commented on #31
This is not a developer issue, please report it on support.athom.com.

[2019-01-10 12:01] #31 closed, assigned to nobody

[2019-01-11 15:28] koktaildotcom commented on #11
Still an issue with 2.0.0

[2019-01-11 15:29] koktaildotcom commented on #13
Still an issue with 2.0.0

[2019-01-11 15:29] koktaildotcom commented on #7
Still an issue with 2.0.0

[2019-01-11 15:29] koktaildotcom commented on #6
Still an issue with 2.0.0

[2019-01-11 17:18] rvmuilekom69 commented on #6
I am not going to update if this does not get fixed 😕

[2019-01-11 17:24] zwaardemaker commented on #6
@WeeJeWel will athom look at this issue?

[2019-01-11 20:57] Strike2001 commented on #27
i also used candy for the problem that caused when the Bosch/siemens app stopped update the changes from the cloud , otherwise add the option
-  restart homey
-  restart controllers (Zwave , Zigbee , ...)
-  restart of an app
-  enable / disable controllers
-  enable / disable app

in the flows to the "when" , "then" section

[2019-01-12 08:28] koktaildotcom commented on #11
The issue is verified by multiple alpha users.

[2019-01-12 08:29] Maxmudjon commented on #1
in device.js

[code]

console.log(avtoRadioLogo)
[code]

this.setAlbumArtImage(avtoRadioLogo, true)

not worked

[2019-01-12 11:54] WeeJeWel commented on #11
We will address this issue in a 2.x release. Sorry for the delay!

[2019-01-12 12:03] Maxmudjon commented on #1
it's decided

[2019-01-12 12:04] WeeJeWel commented on #1
Please include more details than 'not working'.

[2019-01-12 12:04] #1 closed, assigned to WeeJeWel

[2019-01-12 12:06] Maxmudjon commented on #1
[code]

on some function

[code]

[2019-01-12 12:09] WeeJeWel commented on #27
If you guys have some patience we will have some good news for you in a future update :)

[2019-01-12 12:10] WeeJeWel commented on #6
Yes. All BLE issues: We will address this issue in a 2.x release. Sorry for the delay!

[2019-01-12 12:16] rvmuilekom69 commented on #6
So waiting until 2020 before upgrade to version 2.x?

[2019-01-12 12:17] irritanterik commented on #27
Considering API scope or native functions?

[2019-01-12 12:17] WeeJeWel commented on #6
By 2020 v2.x is definitely available.

[2019-01-12 12:17] WeeJeWel commented on #27
Native Flow cards.

[2019-01-12 12:25] Strike2001 commented on #27
eta. time we must wait for this features?
its a priority  problem and must solved asap .

Von meinem iPhone gesendet

[2019-01-12 12:54] rvmuilekom69 commented on #6
I know you/athom probably have more pressing issues to solve, but is this one of the more high priority issues or does it have a low(er) priority?
Thanks 😉

[2019-01-12 13:47] zwaardemaker commented on #6
high priority!

[2019-01-12 19:00] irritanterik opened #32 "debug module conflict? difference between local install and app install"
I just published the com.internet app and received a lot of app crashes immediatly from auto install users.
One of my dependencies (follow-redirects) depends on module debug.
On local `athom app run` and `athom app install` everything goes well.
On app store install (same version) the app crashes on startup:
[code]
Module `debug` is in my source: https://github.com/irritanterik/homey-http-request-

[2019-01-12 19:15] irritanterik commented on #32
My fault. Did not included proper nested package.json

[2019-01-12 19:15] #32 closed, assigned to nobody

[2019-01-13 16:57] ArjanKranenburg opened #33 "It is not possible to set a custom icon for multiple (onoff) Capabilities"
In V2 it is no longer possible to set an icon for a capability.
I use this in a Multi-Mode Virtual Device and such a device is paired like this:

[code]
I've also tried capabilitiesOptions, but that didn't help. How to do this?

[2019-01-14 18:07] ArjanKranenburg opened #34 "'athom app run' disconnects often at start"
Not sure if you can do anything with this.
On V2, when running my app (VD) from cli, it often (>80% of the time) disconnects right after the start:
[code]
The line 'Virtual Devices App is initialized' comes from the app.js. All onInit() in driver.js and device.js start with a log-line, but that is not displayed.
For testing, I have about 53 Virtual Devices, 9 Modes, and 12 Multi Modes. Perhaps tha

[2019-01-14 19:07] ArjanKranenburg opened #35 "Device with Capability dim is not triggered when capability is changed in other flow"
I have 2 flows. In the first flow a device called 'main_dimmer' with capability dim is set to a value.
A second flow is triggered when the device is changed (and then sets the dim-value of 2 other dim-devices).
When changing the 'main_dimmer' manually, the second flow is triggered as it should and the 2 other dimmers are set as well.
However when the first flow is triggered, the 'main_dimmer' is u

[2019-01-14 20:11] ArjanKranenburg opened #36 "Device with 4 onoff capabilities can be toggled, but that does not make sense"
I have a device with multiple onoff capabilities: onoff.opt1, onoff.opt2, etc.

That device is also toggle-able from the device-tile. That does not make sense and I would like to turn that off with a setting when pairing. How can I do that?

[2019-01-16 03:58] killvn opened #37 "trigger flow capability "thermostat_mode" is not run Homey v2.0"

[2019-01-16 12:04] Eternity-again commented on #6
Bump :-)

[2019-01-16 13:11] WeeJeWel commented on #37
Please provide more context.

[2019-01-16 13:11] #37 closed, assigned to nobody

[2019-01-16 13:11] WeeJeWel commented on #36
You cannot. I advice to use a custom capability instead of onoff.

[2019-01-16 13:11] #36 closed, assigned to nobody

[2019-01-16 13:12] WeeJeWel commented on #33
Correct. You can however set an icon for a custom capability using the `button` component.

[2019-01-16 13:12] #33 closed, assigned to nobody

[2019-01-17 07:14] irritanterik opened #38 "race condition on api.js flow triggers"
Api.js endpoints are available before all flow triggers are initialized resulting in crashes during app install process when api's are called from automated processes, but flow triggers are not available yet, while flow triggers are registered on app init.
I receive these crashes since Homey V2.0 from time to time soon after publised app updates.

[code]

[2019-01-18 09:30] WeeJeWel commented on #38
You should use the reference you got, e.g.

[code]

[code]

[2019-01-18 09:30] #38 closed, assigned to nobody

[2019-01-18 09:33] WeeJeWel commented on #34
I think this is an unstable Wi-Fi connection. Try running the app with Homey's USB connected to your computer!

[2019-01-18 09:33] #34 closed, assigned to nobody

[2019-01-18 09:33] WeeJeWel commented on #30
Thanks for the suggestion, I've noted it internally for consideration.

Closing this issue now because we want to keep this tracker issue-only.

[2019-01-18 09:33] #30 closed, assigned to nobody

[2019-01-18 09:34] WeeJeWel commented on #21
Added in Homey v2.0.1.

[2019-01-18 09:34] #21 closed, assigned to WeeJeWel, Christian-Athom

[2019-01-18 09:35] WeeJeWel commented on #24
Hm okay, thanks for letting me know. If it happens on v2.0+ again and you can reproduce it, let me know!

[2019-01-18 09:35] #24 closed, assigned to nobody

[2019-01-18 09:37] WeeJeWel commented on #35
Can you post a few screenshots of your Flows? I find it very hard to understand the actual issue.

[2019-01-18 09:38] Christian-Athom commented on #21
This will be available in the Mobile App version 2.0.3.247

[2019-01-18 09:38] Christian-Athom commented on #26
This will be available in the Mobile App version 2.0.3.247

[2019-01-18 09:39] #26 closed, assigned to Christian-Athom

[2019-01-18 18:28] irritanterik commented on #38
Thanks, this improves error handling and prevents app crashing, but race conditions still apply. If the api is called before the register process is ready the api returns error 500.
Could be solved by explicitly init api.js from app.js

[2019-01-20 19:25] ArjanKranenburg commented on #35
If you value my feedback than don't close issues like #33 and #34 before I can properly respond. The USB cable didn't work either (same issue) and the icons could be set before, so there are now lot's of users with a multi-mode that do not know which mode is which. Would the custom capability allow them to set the icon when pairing?

Now, for this issue:
The first flow:
![image](https://user-image

[2019-01-20 20:32] SailingDuck opened #39 "Insight data not showing up"
Busy fixing a bug in creating an insight log I get stuck in at logging data. The function createEntry (https://apps.developer.athom.com/InsightsLog.html) always says:

[code]

Corresponding code is in the SDK2 branch of Better Logic. Link to the actual function:
https://github.com/PatrickSannes/BetterLogic/blob/SDK2/lib/variablemanager.js#L121

Can someone explain what is going on?

[2019-01-21 09:15] kevinhab opened #40 "Need pollInterval to feedback status on ZigBee Device"
Hi All,
I 'm build an app for ZigBee Device.
If it want to update status from ZigBee Device, it must have **pollInterval** function (don't have pollInterval function, no feedback status ZigBee Device)
Example code:
`const ZigBeeDevice = require('homey-meshdriver').ZigBeeDevice;`

`class WallSwitch2 extends ZigBeeDevice {`

	async onMeshInit() {

		// Register onoff.1 capability
		this.registerCapa

[2019-01-21 13:12] Shadowz7 commented on #6
beacon is the best presence app, please fast!

[2019-01-21 13:24] WeeJeWel commented on #39
This is due to a bug. Fixed in v2.0.1-rc.3.

[2019-01-21 13:24] #39 closed, assigned to nobody

[2019-01-21 14:17] irritanterik opened #41 "suggestion: show device store & settings on https://developer.athom.com/tools/devices"
showing actual content of the device store and device settings on https://developer.athom.com/tools/devices would help me develop and debug apps faster.

[2019-01-21 15:43] WeeJeWel commented on #41
I've added `Settings` to a device. Store is not returned using the Web API because it can contain sensitive information such as OAuth2 access tokens etc.

[2019-01-21 15:43] #41 closed, assigned to nobody

[2019-01-21 16:31] irritanterik commented on #41
Thanks!

[2019-01-21 22:13] ljsvv commented on #35
Sorry for my brutal disturbance.
First flow is a bit different, it adds a relative dim % to a virtual device.
After this, the value of that dimmer becomes a value with a lot of digits... so for example dim value was 0,5 add 10%, dim gets 0,55000001. When this value has a lot of digits, the second flow does not bring over that tag value to the actual devices. Only a value with 2 digits after the co

[2019-01-21 22:38] SailingDuck opened #42 "Setting capabilitiesOptions during pairing not working for dim (slider)"
Better logic numslide device is currently using 0 and 1 as min and max values for the slider. The capabilitiesOptions do not seem to be set. Tried numerous variations none of them seem to work. Even moved to a custom capability as it seemed dim is hardcoded to 0-1, also no luck.

Can someone take a look at what is happening here?

Example:
https://github.com/PatrickSannes/BetterLogic/blob/SDK2/dri

[2019-01-22 09:23] ArjanKranenburg commented on #35
I've updated the comment above, since the 3rd screenshot was not correct.

Because of ljsvv's comment, the first thing I tried was with a fixed dim-value (58%), but that does not work either.

[2019-01-22 11:19] irritanterik opened #43 "checkbox on settings screen looks disabled when unselected"
I had some questions about this checkbox on the app settings screen regarding its actual state.
It looks disabled when unselected.
![image](https://user-images.githubusercontent.com/15232724/51532180-c77ad680-1e3f-11e9-8798-d9f2b32d4823.png)

[2019-01-22 13:22] WeeJeWel commented on #42
This will be fixed in the next Homey app release.

It has already been fixed on developer.athom.com.

[2019-01-22 13:22] #42 closed, assigned to Christian-Athom

[2019-01-22 21:28] SailingDuck commented on #42
Tested this by pairing on developer.athom.com. Good thin is, the values can be set.
Weird thing is I can't get the slider fully down anymore. I set it from 100-200. Below screenshot is a console log when I drag it to the max and down to the min. As seen in the screenshot is the lowest I can drag it too. Does it require an app update to apply the options to the slider?

![image](https://user-images

[2019-01-22 22:15] SailingDuck commented on #42
Also thermostat seems to use 0-40 where I set 0-100.
![image](https://user-images.githubusercontent.com/23644634/51569052-93cd9a00-1e9b-11e9-9721-499665bfff8c.png)

[2019-01-23 09:56] Christian-Athom commented on #42
The issue with the slider min / max will be fixed in version 2.0.4 of the mobile application. For the thermostat i have created an internal issue.

[2019-01-23 11:32] StefanIndustries opened #44 "Device as argument crashes"
https://community.athom.com/t/device-as-argument-in-flows-broken-on-homey-2-0/7009
Using device as argument in flow actions/conditions is crashes app on Homey v2.
[code]

Homey app crashes when trying to pick a device from the device list.
This was working on Homey 1.5.3 (and still is)

[2019-01-23 14:10] gerrit1968 commented on #11
@WeeJeWel any idea when the problem with the BLE will be solved?

[2019-01-25 14:34] daneedk commented on #43
I've solved this by using sliding switches:

![image](https://user-images.githubusercontent.com/16610696/51751881-47aa7180-20b6-11e9-9ab9-2eab1b23ed93.png)

html:
https://github.com/daneedk/com.uc.heimdall/blob/26b2a423a00285e7acfe5b8053a031225ea60e3b/settings/index.html#L138

css:
https://github.com/daneedk/com.uc.heimdall/blob/26b2a423a00285e7acfe5b8053a031225ea60e3b/settings/styles.css#L481

[2019-01-25 14:45] daneedk opened #45 "Capability automatically creates flowcards"
In Homey 2.0 having a certain capability (in this case homealarm_state) automatically creates flow cards. Is there a way to prevent the automatically creation of flow cards?

I ask this because there are undesired flow cards for the  **Surveillance Mode Switch** in **Heimdall**. This is undesired because **Heimdall** has the option to delay the arming so a user has time to leave the house for exam

[2019-01-25 15:25] WeeJeWel commented on #45
This is intended behavior and generally shouldn't be changed.

However, you can create a capability with the same ID and properties, and the Flow cards will disappear.

[2019-01-25 15:25] #45 closed, assigned to nobody

[2019-01-25 16:19] daneedk commented on #45
Great, that works!

For future reference or anyone else who needs this:

Go to https://developer.athom.com/docs/apps-reference
and click on the dots behind the required capability to see the full capability configuration.

[2019-01-28 14:40] mrquincle commented on #6
Required for Crownstone (https://github.com/crownstone/crownstone-homey) as well.

[2019-01-28 14:44] mrquincle commented on #6
Do you have Crownstones at Homey? We can send a few samples if this would make the debugging process of BLE faster.

[2019-01-29 05:56] bvdbos opened #46 "ManagerMedia removed"
With 2.0.2RC ManagerMedia was removed from the API, now the radio-app crashes. I'd like to keep one version both for 1.5.x and 2.x Homey's so please keep this in Homey.
https://github.com/bvdbos/com.sasteren.radio/blob/9eaa3d05d5331e2857bf0500306553d3f0c52877/app.js#L39
![afbeelding](https://user-images.githubusercontent.com/1064079/51887133-ed99fc80-2392-11e9-83a1-8a901de6ff96.png)

[2019-01-29 06:08] bvdbos commented on #46
Threw all ManagerMedia code in a `if (Homey.ManagerMedia){ ... }` block, works....

[2019-01-29 06:08] #46 closed, assigned to nobody

[2019-02-02 11:03] irritanterik commented on #27
@WeeJeWel Will Homey.ManagerLogic be available in SDK? It will be a nice replacement for the BetterLogic  AppApi. You mentioned `homey.logic`, but `Homey.ManagerLogic` is undefined within an app and permission `homey:manager:logic` is not available.

[2019-02-03 16:45] nlrb opened #47 "Overriding device `onSettings` always shows an error"
For security reasons, the Visonic alarm panel app only allows changes to device settings to users that know the panels installer pin code.
The way this was achieved in the past (before v2), was to add a pin code (password) field in the device settings and check this before updating the settings. By overriding `onSettings`, this enabled to save all fields -except the pin code!- when the code was OK

[2019-02-03 21:02] SailingDuck opened #48 "Disable tag input in text argument"
Since 2.0 several people tried to add tags in one of the cards of Better Logic.  Unfortunately this does not give me the tagnames but the values. So there's no way to see what tags where used. Is it possible to disable the tag selector with an option?

Issues where this happened:
- https://github.com/PatrickSannes/BetterLogic/issues/36
- https://github.com/PatrickSannes/BetterLogic/issues/32
- htt

[2019-02-04 14:47] WeeJeWel commented on #27
You can interact with ManagerLogic using the Web API: https://api.developer.athom.com/HomeyAPI.ManagerLogic.html

We will not add ManagerLogic support for the Apps SDK because there is no 'owner' of a variable, which would be the app.

[2019-02-04 15:12] irritanterik commented on #27
Yes I figured the Web API route would be the desired method. Thanks for your response again.

[2019-02-04 15:56] WeeJeWel commented on #48
I see your problem but it's not something we want to fix by hiding the tag field. That would only make it less consistent and therefore more confusing.

You could try to find a way by using an `autocomplete` field.

[2019-02-04 15:56] #48 closed, assigned to nobody

[2019-02-04 15:57] WeeJeWel commented on #47
Are you saving settings programmatically in `onSettings`? That's not supported and might trigger your error.

[2019-02-04 16:58] Christian-Athom commented on #44
Hi,

i tried to reproduce your problem but was unable to do so.

Is is possible that you can invite me to your Homey so i can diagnose this problem?

Greetings,
Christian

[2019-02-04 18:26] nlrb commented on #47
No, that doesn't trigger the error - that would give another error (something like 'cannot update the settings while....'). The settings are updated after the callback.

[2019-02-05 11:23] StefanIndustries commented on #44
Yes that certainly is possible. How would you prefer to get in contact?

[2019-02-06 09:37] Christian-Athom commented on #44
Hi, you can send the invite to christian - at - athom.nl. Also please add the name of the the specific device in question

[2019-02-06 15:14] Christian-Athom commented on #44
Hi,
i have located the problem, and this will be fixed in a upcoming version of the Homey app.
Thank you for helping us diagnose this problem, i have removed myself from your Homey.

Greetings,
Christian

[2019-02-06 19:22] jghaanstra opened #49 "Image flowtag not working anymore on firmware 2.x"
Two of my apps (DoorBird and Android IP Webcam) use the image flowtag functionality as documented here: https://apps.developer.athom.com/tutorial-Images.html

This worked reasonably well on firmware 1.x although there was an issue with registering multiple image flowtags from the same app. With firmware 2.x this functionality no longer works at all. My code is conform the documentation but I still

[2019-02-08 15:31] JSti opened #50 "ManagerCron registerTask does not correctly keep track of run event handler"
It seems the registerTask method of ManagerCron returns a new CronTask instance with a run event handler reference shared among all registered tasks instead of keeping track of one for each registered task. I don't think this is intended.

Steps to illustrate/reproduce problem:

[code]

Expected output:
[code]

Actual output:
[code]

Another example, resulting in a disappearing handler:

[code]

E

[2019-02-09 08:45] abaretta opened #51 "set_volume/dimmer slider in V2 interface goes to 0 or 100% when - or + is pressed"
In the mobile interface the set_volume slider has a speaker with a '-' and a '+' sign on the bottom and the top of the slider. This suggests volume_up / volume_down will be called when pressing the '+' or '-' sign. This is not the case, the volume either directly goes to '0' or, and this can be problematic in case of an amplifier, directly to 100%!

The dimmer for lights has the same behavior, how

[2019-02-09 12:19] irritanterik opened #52 "Suggestion: do news ticker effect on longer string capabillity values"
There is little space for string type capabillities.
Will you consider to show strings that do not fit the value space with a news ticker effect?

Example issue: adress as a capabillity:
![image](https://user-images.githubusercontent.com/15232724/52520732-4740d780-2c6d-11e9-9a60-6bddb2069daa.png)

[2019-02-09 16:46] irritanterik opened #53 "Security risk: app settings pages are served without authentication"
App settings pages are served from a Homey without requesting authentication.
Applicable on local and cloud access.
Allthough api access from the settings pages requires authentication, i don't like the world te be able to access these pages.

[2019-02-10 17:00] nattlip commented on #27
i can see the use of the api to access values outside an app but why o why do i have to use the api to acces  app owned values . things like the capability object in particular and the driver and devices properties in general should be made accessible through the app SDK read only, what harm could that give.

[2019-02-10 17:17] irritanterik commented on #27
@nattlip Own values are available within the SDK
[code]

[2019-02-10 17:42] nattlip commented on #27
but not the capabilitiyObject properties etc

[2019-02-10 17:51] irritanterik commented on #27
Are these not available on `Homey.manifest`?

[2019-02-10 18:26] robertklep commented on #27
`capabilitiesObj` can be created by combining the output of `device.getCapabilities()` with `device.getCapabilityValue()`.

[2019-02-11 12:02] WeeJeWel commented on #49
Could you simplify your code to a reproducible piece?

[2019-02-11 12:03] WeeJeWel commented on #53
Those pages never include secure content and are practically open-source because your app already is, so it's not a security issue.

[2019-02-11 12:03] #53 closed, assigned to nobody

[2019-02-11 12:03] WeeJeWel commented on #52
Thanks for the suggestion. It's been noted internally!

[2019-02-11 12:03] #52 closed, assigned to nobody

[2019-02-11 12:05] WeeJeWel commented on #51
This is actually intended behavior to min/max the slider. I'll see internally if we can find a better icon.

[2019-02-11 12:05] #51 closed, assigned to nobody

[2019-02-11 12:06] jghaanstra commented on #49
I see I linked to the wrong file. But here is the code related to the issue.

[code]

[2019-02-11 12:09] WeeJeWel commented on #49
Thank you. After executing which piece are you getting the error?

[2019-02-11 12:11] jghaanstra commented on #49
The error pops up when starting the app, I assume when it tries to register the image token.

[2019-02-11 12:14] WeeJeWel commented on #49
It would help a great deal if you could isolate the issue to a specific call!

[2019-02-11 12:26] jghaanstra commented on #49
Yep, it happens when registering the image token. In my code example in `doorbirdSnapShotToken     .register()` . The promise is not resolved or rejected.

[2019-02-11 12:27] WeeJeWel commented on #49
Ah I see. You don't need to create a Homey.FlowToken, you can simply pass the `Image` instance in the `tokens` object in `FlowCardTrigger.trigger()`

[2019-02-11 12:28] WeeJeWel commented on #49
Best practice:

* Create one image and register it that always returns the latest snapshot
* Update this image when you know it has changed, and:
* Reference this image when triggering a Flow

[2019-02-11 12:30] jghaanstra commented on #49
Ok, thnx. You might want to update the docs for this as well: https://apps.developer.athom.com/tutorial-Flow-Tokens-Image.html

[2019-02-11 12:32] WeeJeWel commented on #49
Hm sorry, I think I was too fast — you weren't triggering a Flow. I'll try if the example works and if not fix it.

[2019-02-11 13:53] ljsvv commented on #35
@WeeJeWel is someone from Athom willing to answer this developer?

[2019-02-11 18:26] nattlip commented on #27
thats not true i cant get all the capability properties that way only the value not the lastUpdated for instance
https://developer.athom.com/docs/api/HomeyAPI.ManagerDevices.Device.html

[2019-02-11 18:26] WeeJeWel commented on #27
Why would you need these @nattlip ?

[2019-02-11 18:28] robertklep commented on #27
Yeah, why not just track the last updated value in your own app?

[2019-02-11 18:29] nattlip commented on #27
i am only interested in the lastUpdated property , to check  the time elapse, so i can decide if a device is connected or not
, and to use the whole webapi just for that is a bridge to far

[2019-02-11 18:30] WeeJeWel commented on #27
Just track it yourself, the property is not guaranteed to be second-accurate anyway.

[2019-02-11 18:32] robertklep commented on #27
This makes no sense. Your device implementation should know if a device is connected or not.

[2019-02-11 18:32] nattlip commented on #27
i always thought souble code is a kind of waste. if it is there why invent the wheel again ?

[2019-02-11 18:35] nattlip commented on #27
how to know if a device is connected with unilateral connection then to wait for an update of
 the capailities i wonder ?  magic code ?

[2019-02-11 18:39] robertklep commented on #27
How do you think `lastUpdated` is actually implemented?

[2019-02-11 18:54] irritanterik commented on #27
`setUnavailable` in device.js and check availabillity in other parts of the code could be a workaround for you

[2019-02-13 09:48] jghaanstra commented on #49
I just tested this with the [Image Grabber app](https://github.com/jordenc/image.grabber) from Jorden Chamid. It has the same issue as my DoorBird and Android IP Webcam app but might be easier to use reproduce it.

Just grab any snapshot from a camera with the Image Grabber app and try to send it to Slack using the send image card. Be sure to grab the global token which is registered by the Image

[2019-02-13 18:49] bvdbos commented on #6
Couldn't this just be a typo in creating an array ?

[2019-02-14 21:41] specialcircumstances opened #54 "HomeyAPI.ManagerDevices.Device.CapabilityInstance setValue() triggers listeners function"
SDKv2. Latest stable Homey.

Documentation indicates:

listener | function | A function to invoke when the capability is changed by anything other than the returned capabilityInstance

When I use the setValue() method of the returned capabilityInstance the listener function is triggered.

Creation of instance:
[code]

Trigger of method:

`await thisDevice.cInst.target_temperature.setValue(targetTe

[2019-02-14 22:21] specialcircumstances opened #55 "Intermittent Permissions Error"
**Sometimes** when I am debugging my app using "athom app run" I get the following permissions error:
[code]

The code causing the exception is this:

[code]

The error occurs intermittently, so it looks a bit like a bug.

My app permissions are as follows;

`  "permissions": [ "homey:manager:api", "homey:app:nl.scanno.mqtt" ],`

This is SDKv2, on current stable v2 Homey.

[2019-02-15 07:30] StefanIndustries commented on #44
The app no longer crashes, but I was using the complete device argument that was passed in. I was able to use the args.slave.getSettings() for example, this is no longer possible since only the icon and name of the device are passed on as argument. Is this intentional?

[2019-02-17 07:22] TedTolboom opened #56 "[Z-wave core] S2 inclusion incomplete - missing command classes - unable to register capabilities"
When trying to include several (certified) S2 devices, inclusion / interview of supported command_classes (specifically of multichannel nodes) is incomplete or not matching new S2 standards.

Example is the Heatit Z-TRM2FX: https://products.z-wavealliance.org/Search/ProductDetails?productId=3065

Which has on MultiChannelNode 2-4 the individual temperature sensor representations, as reflected in b

[2019-02-17 07:27] TedTolboom opened #57 "[Z-wave core] Add ability for add S2 DSK keys to bring Homey security level on par for S2"
Currently, Homey Z-wave core does not support to add the S2 Device Specific Key (DSK) to bring Z-wave security to the S2 specifications.

Please add the option to request the DSK key from the user to the Z-wave inclusion process.

[2019-02-17 07:36] TedTolboom opened #58 "Add option to override uiQuickAction of default capability"
Please add an option to override the uiQuickAction of a default capability to the generic capabilityOptions available for all capabilities.

There is no option (working) to override the uiQuickAction available to the developer

[2019-02-17 07:39] TedTolboom opened #59 "Device with multiple onoff capabilities toggles device state representation in the app incorrectly"
Currently, with a Zigbee device that has two `onoff` capabilities (Zigbee does not support multiChannelNodes), the state of the device (in the app) is toggled based on the state of one of the capabilities; which is incorrect.

The deivce state change in the Homey app should not change when multiple `onoff` capabilities are present. Or the developer should get the option to disable this state repre

[2019-02-17 08:09] TedTolboom opened #60 "[Z-wave] No compatible app found - added as Basic Z-wave device - still all capabilities of selected device shown in app"
When trying to add a Z-wave device which has ID's not available in any of the apps, it should be added as a Basic Z-wave device with not capabilities / settings etc.

When using the "choose a device" option, the inclusion will result in the correct error (added as Basic device):
![img_2001](https://user-images.githubusercontent.com/17163431/52910109-f9daf080-3292-11e9-88a3-396212b380bf.PNG)

Howev

[2019-02-18 12:35] hive commented on #58
I too would find this really useful,

it would allow us to no longer need to create custom capabilities and would give us more control of which capability should have the uiQuickAction.

[2019-02-18 14:52] irritanterik opened #61 "App settings screen is flickering because page is shown before Homey.ready()"
Homey v 2.0.2

I'm hiding settings page elements (like Bootstrap alert warnings) in the `function onHomeyReady( Homey ){` function before calling `Homey.ready();`.
Docs say :

But I'm getting a lot of flickering (once for the homey.js loading which change font sizes, once with elements visable and final layout.

[2019-02-18 15:10] biemond commented on #50
yep , I see the same issue https://community.athom.com/t/2-device-crontasks-and-latest-added-one-is-run-twice-1st-is-ignored/9350

+1

[2019-02-18 22:15] FricoRico opened #62 "Button-bar still visible even without buttons"
I'm having a long page with instructional content during my device pairing. However, although I don't use the default `nav` buttons, the bar is still visible and taking up precious screen space. See the screenshot for a better explanation.

![image](https://user-images.githubusercontent.com/1057823/52978808-2138d700-33d3-11e9-9fe3-39d6ee5b217c.png)

[2019-02-19 09:13] mapulu commented on #60
I would call it a feature not a bug.

[2019-02-20 10:53] carp3-noctem opened #63 "no Icon for SDK App is shown"
When a custom svg item is used, it is not displayed as App icon. Both on iOS and Android it show an empty dot instead of the Item.
When used an "existing" Icon (e.g. Kodi, Log app) it works fine, but as soon as something changes (e.g. remove one square form the kodi logo) it refuses to work.

Allready contacted you for a custom icon over here: https://github.com/athombv/homey-vectors-public/issues

[2019-02-20 11:04] abaretta commented on #63
Same issue with svg icons for capabilities. Custom icons that were added earlier work, newly added icons (even 'known good' icons) do not display, instead a rotating ('loading') icon is displayed (see screenshot below).

![image](https://user-images.githubusercontent.com/25007256/53087475-90174c80-3507-11e9-8c3a-23ff499c369a.png)

[2019-02-20 14:08] jordenc commented on #49
Only works when using the local tag, indeed, otherwise the image is null indeed. I receive mails about the same error very often with Telegram and email-sender apps.

[2019-02-21 09:56] jordenc commented on #49
A "PS" from my side. I always create a new image token in my apps, which I probably shouldn't do. When I go to https://developer.athom.com/ and login, under "Tools -> Images", I see multiple images.

I probably should just create a new image token in the start of the device or app (depends on what kind of app it is... for a Synology webcam I want one image per device, in ImageGrabber I should just

[2019-02-21 16:52] jghaanstra commented on #49
@jorden You should register a global image token for each image token you wish to use. The image buffer from a global image token is updated everytime it's requested. This means Homey only keeps one image buffer in memory per registered image token. An app can ofcourse have multiple global image tokens for different purposes. For instance, in my DoorBird app I register three global image tokens: a

[2019-02-22 09:16] #44 closed, assigned to Christian-Athom

[2019-02-22 09:19] StefanIndustries opened #64 "Device as argument only passes icon and name of device as parameters"
In Homey 1.5 the complete device was passed on which made it possible to call the methods of the device. This is no longer possible because only the icon of the device and the name of it are passed on.

Is this intentional?

[2019-02-22 14:54] FricoRico opened #65 "Some capabilities do not have flow triggers"
Some capabilities such as `volume_up` and `volume_down` do not have the flow triggers as `onoff` or `volume_set` capabilities do.

For example:
`onoff` has `Turned on` and `Turned off` triggers by default.

Triggers I'm specifically missing:
- volume_up
- volume_down
- volume_mute
- channel_up
- channel_down

[2019-02-22 15:03] Dijker opened #66 "Download file (generated Log) from Settings in mobile App"
Apps like Papertrails or Simple Log want to provide a download of the Logs.

This is done using a client-side in memory generated log that users where able to download from the settings.

Something like in both the Apps or as seen here:
- http://danml.com/download.html
- https://ourcodeworld.com/articles/read/189/how-to-create-a-file-and-generate-a-download-with-javascript-in-the-browser-without-a

[2019-02-22 15:03] FricoRico opened #67 "Device warnings are not implemented in front-end"
The `setWarning` SDK function does not actually trigger a warning in the front-end. This is the documentation for the function: https://apps.developer.athom.com/Device.html#setWarning

My application heavily relies on authorization with the device, so upon authentication failure (when user changes pre-shared key in settings), I have no way to notify the user.

[2019-02-22 19:02] Brendvm commented on #47
@WeeJewel, any news on this issue? Waiting on submitter isn't the correct status anymore. Kind regards!

[2019-02-24 13:05] ricott commented on #63
Same problem for me, my icons only displays on the add device list screen on iOS. On all other screens icons are missing (except for device detail page where the loading spinner is shown).

[2019-02-25 17:13] WeeJeWel commented on #67
You should use setUnavailable in this case — the user will still be able to change the device's settings.

[2019-02-25 17:13] #67 closed, assigned to nobody

[2019-02-25 18:21] WeeJeWel commented on #63
Could you attach the svg's to this issue please?

[2019-02-25 18:22] WeeJeWel commented on #62
This is intended behavior. If we wouldn't do this, content would jump around during transitioning between views.

[2019-02-25 18:22] #62 closed, assigned to nobody

[2019-02-25 18:23] WeeJeWel commented on #58
Could you provide some examples when this would be really useful?

[2019-02-25 18:24] WeeJeWel commented on #55
As this never happens elsewhere I am fairly confident that you're making a call somewhere that requires a permission. It's most likely not related to cron as well.

[2019-02-25 18:24] #55 closed, assigned to nobody

[2019-02-25 18:25] WeeJeWel commented on #55
If you provide a clear reproducible path I'll definitely look into it.

[2019-02-25 18:27] WeeJeWel commented on #54
Please re-create this issue here: https://github.com/athombv/homey-web-api-issues/issues

[2019-02-25 18:27] #54 closed, assigned to nobody

[2019-02-25 18:28] WeeJeWel commented on #64
Please specify where this is happening. In a Flow, etc.

[2019-02-25 19:02] abaretta commented on #63
Hi Emile,

I have attached a zipfile with the icons. The icon sunriseGH.svg has been checked/edited by Ivo Derksen and should work (but doesn't). I have also included Real-tux_mono.svg which is another 'known-good' icon which does not work when added to the app.

Note that other custom icons that were added to the app before V2 do work, for instance clouds.svg. I have also included wind_angle.svg,

[2019-02-25 19:07] FricoRico commented on #62
I see, but can I at least bind my own functions to the buttons in the button bar then? Couldn't find this in the documentation

[2019-02-25 21:19] ricott commented on #63
This icon in Tesla app doesn't display, shows a loading spinner
https://github.com/irritanterik/homey-tesla.com/blob/master/drivers/ev/assets/distance.svg

[2019-02-25 21:25] ricott commented on #63
In my local app that I'm developing the attached icon displays on list devices screen (when listing devices to add them), but not on device tab (after they are added).
[icon.svg.zip](https://github.com/athombv/homey-apps-sdk-issues/files/2902659/icon.svg.zip)

[2019-02-26 00:54] wzhick commented on #6
still not work

[2019-02-26 09:31] Christian-Athom commented on #66
Hi,

unfortunately at the moment it is not possible to support this functionality.
The mobile Android application crashes because there is no support for the data: url's see: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

Greetings,
Christian

[2019-02-26 14:29] WeeJeWel commented on #66
I advice you to create a Web API application so users can visit it in their browser.

[2019-02-26 14:29] #66 closed, assigned to Christian-Athom

[2019-02-26 14:29] carp3-noctem commented on #63
Ok, my Icon was allready added from @ricott , thanks for that.
BTW: Releasing the App on Alpha Channel also doesn't show the Icon for the App.

[2019-02-26 14:30] WeeJeWel commented on #65
These are capabilities that can only be set, so the device cannot report that these have changed. That's why they do not have a trigger.

[2019-02-26 14:30] #65 closed, assigned to nobody

[2019-02-26 14:38] carp3-noctem opened #68 "Appstore Markdown is not correctly displayed"
As far as i can tell, the Markdown file is not correctly handled in the App store, are there any Guidelines to make it look good for the Appstore (maybe seperatly)?
I've saw that i can greate a special file styled as Markdown to be visible in the Appstore that has other Content then in the GitHub README, but the Interpreting doesn't change.

Here is a Screeshot of the GitHub Version (fully styled

[2019-02-26 14:42] WeeJeWel commented on #61
You are right. This has been fixed on developer.athom.com.

@Christian-Athom Please also fix this in the Homey app.

[2019-02-26 14:43] WeeJeWel commented on #57
Thanks for the suggestion. As we do not track feature requests in this tracker I will now close this issue.

[2019-02-26 14:43] #57 closed, assigned to nobody

[2019-02-26 14:45] WeeJeWel commented on #43
Using switches for checkbox items is a better idea. The checkmark symbol is mainly used in lists within Homey.

[2019-02-26 14:45] #43 closed, assigned to nobody

[2019-02-26 16:48] WeeJeWel commented on #50
Fixed in v2.0.5. Thank you for reporting.

[2019-02-26 16:48] #50 closed, assigned to WeeJeWel

[2019-02-26 16:49] WeeJeWel commented on #68
Could you link to the app store page where this goes wrong?

[2019-02-26 16:50] WeeJeWel commented on #59
What are the exact capability ID's you're using?

[2019-02-26 16:53] WeeJeWel commented on #47
@nlrb Could you provide me with a small reproducible example that triggers the same problem? I really have no clue how you implemented this hack.

Settings are really not meant to be not saved.

[2019-02-26 17:04] WeeJeWel commented on #60
Fixed in Homey v2.0.5. Thank you for reporting.

[2019-02-26 17:04] #60 closed, assigned to WeeJeWel

[2019-02-26 17:05] WeeJeWel commented on #40
Duplicate of https://github.com/athombv/node-homey-meshdriver/issues/123

[2019-02-26 17:05] #40 closed, assigned to nobody

[2019-02-26 17:06] WeeJeWel commented on #25
This has now been implemented.

[2019-02-26 17:06] #25 closed, assigned to Christian-Athom

[2019-02-26 17:07] WeeJeWel commented on #56
It seems like the device is not telling Homey which command classes it has during pairing, because Homey does not support S2 yet.

I don't think there's a workaround available at this point but wait for S2 to work.

[2019-02-26 17:08] WeeJeWel commented on #56
@TedTolboom What you can try: create a Diagnostics Report after the device has reported a value that Homey didn't parse. Maybe I can forward it to the right app.

[2019-02-26 18:37] carp3-noctem commented on #68
It is this Link (alpha Version of the App):
https://apps.athom.com/app/eu.carp3-noctem.enigma2
link to github:
https://github.com/carp3-noctem/eu.carp3-noctem.enigma2

[2019-02-26 19:11] FricoRico commented on #65
Same could be set about `onoff` and `volume_set` without custom reporting back both of these features are fire and forget.

Or are you referring to the visual feedback inside the app? Where volume sliders show an X value and power button has a state?

[2019-02-26 21:19] PeterEIER commented on #63
Same issue for me, attached icon will only show in the "Select the devices you..." dialog during paring.

[icon.svg.zip](https://github.com/athombv/homey-apps-sdk-issues/files/2907556/icon.svg.zip)

![img_0672 2](https://user-images.githubusercontent.com/25422313/53446990-78aef680-3a14-11e9-8075-a8510bac273c.jpg)

![img_0671](https://user-images.githubusercontent.com/25422313/53446998-7d73aa80-3a1

[2019-02-27 06:57] AdyRock commented on #63
I have the same issue. Spent hours trying different editors. The icons appear in the select devices screen during pairing but not on the tile once added.
Also general app icon is not displayed after I replaced the default one with my own. The icons display fine in all other editors I have tried (4 now) and in IE and Chrome.

[2019-02-27 14:37] hive commented on #58
I created an app which contained 6 buttons, each on related to an action on an Alexa device. - Say the weather, tell me my daily travel time, whats my news briefing, stop, etc.

Rather the being able to just define that either 'stop' should be the default action or in the end I decided that there should be no default action.   I had to create custom capabilities for all buttons.

I am also conside

[2019-02-27 17:16] carp3-noctem commented on #63
I just found, that the icon is correctly displayed in the Simulator Icon. Just for your Info

[2019-02-27 22:44] irritanterik commented on #63
Strange, icon is ok on my cli installed version

[2019-02-28 09:10] irritanterik commented on #63
Ok, I have the same issue now on 2.0.4. When adding new icons to an app, like for capabillities, these are not shown in the (android) app.

[2019-02-28 13:35] StefanIndustries commented on #64
Issue is related to https://github.com/athombv/homey-apps-sdk-issues/issues/44

Basically, flows with action cards have the option to pass a device as argument.

On homey 1.5 this passed in the complete device class. Now this only passes on the icon of the device and the name. This makes it impossible to do something like this on Homey v2:
`
        {
          "id": "create_zone_with",

[2019-02-28 14:10] WeeJeWel commented on #64
That definitely doesn't sound right. Could you try to save the Flow using https://flow.homey.app and see if it also occurs there? This might be a mobile app related issue.

[2019-02-28 14:22] StefanIndustries commented on #64
Same result. "Promise is not defined". Off-topic, that flow editor looks neat 👍

[2019-02-28 14:32] WeeJeWel commented on #68
Fixed, thank you for reporting!

[2019-02-28 14:34] carp3-noctem commented on #68
@WeeJeWel Nearly...
The last line of the original file is still missing, the Markdown indeed now is correctly interpreted.
Sorry :-)

[2019-02-28 14:39] WeeJeWel commented on #63
Thanks guys, we can reproduce the issue and @Christian-Athom will look into it.

[2019-02-28 14:40] WeeJeWel commented on #58
This is not a use case we will support because it's _very_ custom.

[2019-02-28 14:41] WeeJeWel commented on #68
![screen shot 2019-02-28 at 15 41 31](https://user-images.githubusercontent.com/319873/53574179-54b3f800-3b6f-11e9-91bf-d830adc1e019.png)

It's shown correct here. Which browser?

[2019-02-28 14:44] carp3-noctem commented on #68
Firefox 65.0.1 (64-Bit) used on Mac OSX 10.14.3
If i copy and Paste the last lines, everything is there, so it seems an issue with the scroll ending to early.

[2019-02-28 14:54] WeeJeWel commented on #64
This has been fixed in Homey v2.0.5. Thank you for reporting!

[2019-02-28 14:54] #64 closed, assigned to WeeJeWel

[2019-02-28 15:44] WeeJeWel commented on #63
This issue has been resolved and should work immediately.

[2019-02-28 15:44] #63 closed, assigned to Christian-Athom

[2019-02-28 16:55] WeeJeWel commented on #49
This has been fixed in Homey v2.0.5. Thank you for reporting the issue!

[2019-02-28 16:55] #49 closed, assigned to WeeJeWel

[2019-02-28 17:12] WeeJeWel commented on #35
I've read the issue multiple times but really have a hard time understanding it.

@ArjanKranenburg Maybe you can create a simple Homey app with only this functionality so I can reproduce the issue myself?

[2019-02-28 17:41] WeeJeWel commented on #6
Fixed in Homey v2.0.5. BLE discover results now expire after 45s.

[2019-02-28 17:41] #6 closed, assigned to WeeJeWel

[2019-02-28 17:47] WeeJeWel commented on #7
This has been fixed in Homey v2.0.5. Thank you for reporting!

[2019-02-28 17:54] WeeJeWel commented on #13
I think the error is wrong because you should be getting `Invalid characteristicsFilter, expected Array`.

Anyway, the method is async, so providing a method as first argument makes it throw this exception.

[2019-02-28 17:54] #13 closed, assigned to nobody

[2019-02-28 17:55] WeeJeWel commented on #13
See docs for reference: https://apps.developer.athom.com/BlePeripheral.html#discoverServices

[2019-02-28 18:27] WeeJeWel commented on #11
This issue has been resolved in Homey v2.0.5. Thank you for reporting!

[2019-02-28 19:09] carp3-noctem commented on #68
@WeeJeWel I've redone the Markdown to a (in my eyes) better look, there are still some "features" missing. Is it possible to build them into your Appstore, or should i do an extra Appstore file?
If you check the current Version 0.0.6 and the display in the App Store, the Markdown Task List is wrongly interpreted.

[2019-03-01 07:49] irritanterik opened #69 "Docs realtime example error"
Realtime example on https://apps.developer.athom.com/tutorial-Web%20API.html says:
[code]
But should be
[code]

[2019-03-01 10:06] WeeJeWel commented on #69
Thanks, fixed!

[2019-03-01 10:06] #69 closed, assigned to nobody

[2019-03-03 11:57] FricoRico opened #70 "iOS keyboard push on input fields contain render issues"
When implementing the `login_credentials` pairing template, as [shown here](https://apps.developer.athom.com/tutorial-Drivers-Pairing-System%20Views-Credentials%20Login.html), a black bar is visible on the bottom of the page.

I experience the same issues with my custom templates and this only occurs on iOS devices. Both Android and developer pairing simulator work fine. Tested on iPhone X.

[2019-03-03 12:04] FricoRico commented on #70
![brokenlogin](https://user-images.githubusercontent.com/1057823/53694870-da74b500-3db4-11e9-9047-accccf8933df.png)

[2019-03-04 07:36] Christian-Athom commented on #70
This issue was solved in version Mobile app version 2.1.0

[2019-03-04 08:05] #70 closed, assigned to Christian-Athom

[2019-03-04 08:14] koktaildotcom commented on #11
This is still an issue on Homey v2.0.5

[2019-03-04 08:15] koktaildotcom commented on #7
This is still an issue on Homey 2.0.5

[2019-03-04 08:20] koktaildotcom opened #71 "Error: Cannot read property 'getPeripheral' of undefined"
Think there is missing an is null check or the cache is cold at this point.
Scenario is in branch: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/master-cannot-read-from-null
[code]

[2019-03-04 08:20] WeeJeWel commented on #71
Which Homey version?

[2019-03-04 08:23] koktaildotcom commented on #71
Homey v2.0.5-rc.2. I'll try a PTP before submitting more issues.

[2019-03-04 08:27] koktaildotcom commented on #11
Sorry, wrong issue.

[2019-03-04 08:28] koktaildotcom commented on #11
This issue: https://github.com/athombv/homey-apps-sdk-issues/issues/7 is still a problem

[2019-03-04 08:38] koktaildotcom commented on #11
Now i encounter this issue on Homey v2.0.5 (after PTP and reboot twice)

The log "already in realtime mode" is a test log to don't break on the error but notify that the service is cached and already in realtime mode. Can this be the problem? I can imagine that if you store an service in cache the state is static. But the BLE service of the Mi Flora is changed because you need to set the device in

[2019-03-04 13:28] TedTolboom commented on #56
@WeeJeWel see Diagnostics Report: 0675542B30

After the device reported through:
<img width="684" alt="schermafbeelding 2019-03-04 om 14 27 40" src="https://user-images.githubusercontent.com/17163431/53736339-b59e4180-3e89-11e9-8177-a2463dc0ce37.png">

[2019-03-04 15:19] carp3-noctem commented on #68
@WeeJeWel any Updates for this topic?

[2019-03-04 15:57] TedTolboom commented on #59
I'm using `onoff` and `onoff.1`

[2019-03-04 15:58] TedTolboom commented on #59
See e.g. https://github.com/TedTolboom/com.xiaomi-mi-zigbee/blob/master/config/drivers/ctrl_neutral2.json

[2019-03-05 10:50] WeeJeWel commented on #71
Fixed in v2.0.5-rc.3

[2019-03-05 10:50] #71 closed, assigned to WeeJeWel

[2019-03-05 10:51] WeeJeWel commented on #47
Closed due to inactivity.

[2019-03-05 10:51] WeeJeWel commented on #35
Closed due to inactivity.

[2019-03-05 10:51] #35 closed, assigned to nobody

[2019-03-05 10:51] WeeJeWel commented on #58
Closed due to inactivity.

[2019-03-05 10:51] #58 closed, assigned to nobody

[2019-03-05 10:53] WeeJeWel commented on #59
This is not something we'll change anytime soon. You can use a custom capability, or create two devices if it's a dual-switch, for example.

[2019-03-05 10:53] #59 closed, assigned to nobody

[2019-03-05 10:53] WeeJeWel commented on #7
Can you provide a reproduction path?

[2019-03-05 10:57] ljsvv commented on #35
Really? It took 22 days to respond from Athom side and now you’re Not even giving a dev more than 5 days to respond????

[2019-03-05 12:19] WeeJeWel commented on #56
In Homey v2.0.5-rc.3, a ZwaveNode can emit an `unknownReport` event where the first parameter is a `Buffer` with the entire payload.

[code]

[2019-03-05 12:19] #56 closed, assigned to WeeJeWel

[2019-03-05 13:15] daneedk commented on #68
@WeeJeWel please see this one too:
https://github.com/athombv/homey/issues/2055

[2019-03-05 13:25] WeeJeWel commented on #65
Yes, the latter.

[2019-03-05 14:12] WeeJeWel commented on #68
Don't count on the extra features being added anytime soon.

[2019-03-05 14:41] carp3-noctem commented on #68
OK, thanks for the Update. Then I will go ahead and make a Appstore file so it will look nice.

[2019-03-05 20:21] nlrb commented on #47
Wow, first you call my implementation a hack and then you close the issue as I did not create separate example code within 7 days... Why do I even put effort into Homey apps?

[2019-03-05 22:20] Javiast commented on #47
@WeeJeWel could you please reopen this ticket to allow nlrb to create the example you have requested?
Thanks in advance

[2019-03-06 03:38] carp3-noctem opened #72 "Homey Flow Webeditor - Flowcard Text space gets deleted"
Using the Following:
- MacBook Air with Mac OSX 10.14.3
- Mozilla Firefox 65.0.1 (64-Bit)

When Typing Text into a Flowcard using the Format "1|10|Hello World!" the space between Hello & World will be deleted when the "W" is typed.
It is the same when an other Format is used and a space is in the Text. The Issue is not linked to one app, it is in different Apps.

using Safari it is working fine. D

[2019-03-06 06:53] koktaildotcom commented on #11
I've been searching for a sollution for hours yesterday, but i've always get this exact error. I've tried to change the strategy into the 'foreach characteristic`.

It looks like internally the `service` is saved but the service of the device is changed. The first iteration of the update sequence works 100% of the time. The seconds one fails 100% of the time.

Can you have a look at the core if yo

[2019-03-06 06:56] koktaildotcom commented on #11
[code]

At this point the `service` is a data service from the discovery. The `realtime characteristic` cannot be found on the object once it is stored internally so it looks to me.

[2019-03-06 08:55] WeeJeWel commented on #72
Could you create a screencast of the issue happening?

[2019-03-06 08:56] WeeJeWel commented on #47
When a reproducible example has been provided I will re-open the issue of course.

[2019-03-06 10:56] rhannink commented on #47
Hallo,

Can we please re-open this Problem? I really need the Visonic app.

I guess @nlrb has to provide Some Example code?

[2019-03-06 16:56] Brendvm commented on #47
Please reopen @WeejeWel and give @nlrb some more time. There are people who really need the visonic app and has allot of flows depending on it.

[2019-03-07 01:19] carp3-noctem commented on #72
Done it, you can find the file over here:
https://www.dropbox.com/s/6b4fvy69xfung3v/Homey%20Flow%20Editor.mov?dl=0

[2019-03-08 10:32] koktaildotcom opened #73 "BLE connection gives an exception:Cannot read property 'startHandle' of undefined #7"
In process of trying to make the update of the device work the seconds iteration (and all iterations after) i've found another issue.

I've tried to rewrite all the promises to async await to prevent the callback hell in promises.

The issue looks related to: https://github.com/athombv/homey-apps-sdk-issues/issues/11 https://github.com/athombv/homey-apps-sdk-issues/issues/7

[code]

I've commited

[2019-03-08 10:33] koktaildotcom commented on #11
Looks related to: https://github.com/athombv/homey-apps-sdk-issues/issues/73

[2019-03-08 10:33] koktaildotcom commented on #7
Looks related to: https://github.com/athombv/homey-apps-sdk-issues/issues/73

[2019-03-08 10:39] koktaildotcom commented on #7
1. Checkout: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/ble-advertisement-exception. and run the code.
1. Set the update interval to 1000 here: https://github.com/koktaildotcom/homey-mi-flora/blob/ddac6bebc3417fc00733065b2df2d4a012eadb49/lib/MiFloraDriver.js#L61 (otherwise you need to wait it out)
1. Add a new device
1. Wait until the second iteration kicks in, this is the point

[2019-03-08 10:41] koktaildotcom commented on #73
1. Checkout: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/v2-async-await-strategy and run the code.
1. Add a new device (or use an existing)
1. Wait until the second iteration kicks in, this is the point the error occur.

[2019-03-08 14:46] WeeJeWel commented on #7
Thank you! That helped a lot. I'm 100% sure I found the issue and fixed it in Homey v2.0.5-rc.5.

[2019-03-08 14:46] #7 closed, assigned to WeeJeWel

[2019-03-08 14:53] WeeJeWel commented on #11
I cannot seem to reproduce the issue. Could you please point me to a branch of your repository where this does occur?

[2019-03-08 15:01] WeeJeWel commented on #73
Heads-up: This is an error from noble so can take a while to fix.

[2019-03-08 15:23] koktaildotcom commented on #73
Thanks for looking into this issue

[2019-03-08 15:27] koktaildotcom commented on #11
1. Checkout: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/v2-rewrite?files=1 and run the code.
1. Add a new device (or use an existing)
1. Wait until the second iteration kicks in, this is the point the error occur.

In lib/MiFloraDriver.js you van change the update interval (search for interval)

[2019-03-08 16:51] WeeJeWel commented on #56
Fixed in Homey v2.0.5-rc.5 for both root and multichannel nodes.

[2019-03-10 09:11] plsth opened #74 ""Find my location automatically""
Gets a position several km away from my real position.

[2019-03-10 21:17] carp3-noctem opened #75 "App Manifest Doku - Contributors Translator crashes app"
In the Dokumentation the Translator Spec is written as:
` "contributors": {
        "translators": [
            {
                "name": "Klemens Kohlmann"
            }
        ]`
but when used it stops the app with the following error during cli handling:
`✖ [
    {
        "keyword": "additionalProperties",
        "dataPath": ".contributors",
        "schemaPath": "#/properties/contributors/

[2019-03-11 10:43] WeeJeWel commented on #75
You should update athom-cli :)

[2019-03-11 10:43] #75 closed, assigned to nobody

[2019-03-11 10:43] WeeJeWel commented on #75
I'll publish a version that forces the latest node-homey-lib in a sec.

[2019-03-11 10:48] WeeJeWel commented on #74
Homey determines your location by looking at neighbouring Wi-Fi networks. If there are too little or no data is known, then the accuracy might be off. Then you can set it manually.

[2019-03-11 10:48] #74 closed, assigned to nobody

[2019-03-12 10:39] koktaildotcom commented on #73
Did you mean this issue: https://github.com/noble/noble/issues/141? Isn't this related to the issue https://github.com/athombv/homey-apps-sdk-issues/issues/11. It always triggers the second iteration and looks to me that the state of the device cache isn't updated properly or is invalid.

[2019-03-12 19:54] nlrb commented on #47
Attached requested reproducible example and screenshot behavior on 1.5.13 and 2.0.x.
[silly_demo.zip](https://github.com/athombv/homey-apps-sdk-issues/files/2958552/silly_demo.zip)
![Device_save_v1_vs_v2](https://user-images.githubusercontent.com/11725674/54231561-073d7080-4509-11e9-992a-c5e0c258679c.jpg)

[2019-03-15 13:16] Christian-Athom commented on #61
This issue was fixed in mobile app version 2.1.2

[2019-03-15 13:16] #61 closed, assigned to Christian-Athom

[2019-03-17 11:42] Ziglar1 commented on #73
@WeeJeWel any chance on a fix ?

[2019-03-19 15:12] vWijngaardenR commented on #73
+1

[2019-03-20 01:13] DiedB opened #76 "Subcapability documentation and front-end display is lacking"
https://apps.developer.athom.com/tutorial-Drivers-Capabilities.html mentions:

When using this feature, I receive an `invalid_capability` error. Defining the capability (including its identifier) in app.json does not help either.

[2019-03-20 01:38] DiedB commented on #76
Never mind, including it in app.json works, but devices that were added before the app.json change have to be re-added. It would be more clear if the documentation mentions that each subcapability has to be registered in app.json, not just the main capability.

Another problem: there is no way to distinguish different subcapabilities:
![IMG_D9F9F3735137-1](https://user-images.githubusercontent.com

[2019-03-20 22:56] WeeJeWel commented on #76
You can use `capabilitiesOptions.measure_power.title` to overwrite the title! :) Add this in your app.json or during pairing.

[2019-03-20 22:56] #76 closed, assigned to nobody

[2019-03-21 05:56] koktaildotcom opened #77 "BleManager `discovery` promise won't resolve"
Since Homey 2.0 the app: beacon exits without exception and without a specific time that the app is running.

This app integrate the basic flows for BLE beacons into Homey. Once the app is installed it will do a discovery of BLE devices, after a short adjustable timeout it wil keep discovering. After each discovery the app compares the found devices with the one paired. If the beacon is not found

[2019-03-22 05:49] koktaildotcom commented on #77
Looks like the discovery function freezes for a long time

[2019-03-23 08:20] koktaildotcom commented on #77
I've investigated the issue. The `discovery` timeout of the BleManager does not result in an timeout exception. Looks like there is something missing.

[2019-03-23 09:13] koktaildotcom commented on #77
device 1 is in range
device 2 is not in range

calling BleManager ::find
device 1 result in an Advertisement
device 2 result in an Advertisement (looks like Homey is caching this for a long time)

calling BleManager ::discovery
device 1 result in a Peripheral
device 2 result in that the app is not responding anymore

[2019-03-23 09:22] koktaildotcom commented on #77
After some time the BleManager won't respond to the `discovery` anymore. A full reboot is needed to get the BleManager connecting again. See comments above.

[2019-03-25 13:18] StefanIndustries opened #78 "Device as argument not working for flows created in the Homey App (android)"
Issue is related to #44 and #64.

Device as argument is passed on as Null when action card is created in the mobile app. When using the webbrowser flow editor everything is working fine.

Please see the 'error' reports below:
https://community.athom.com/t/bose-soundtouch/3775/28?u=slicinghaunt

https://community.athom.com/t/bose-sound-touch/10979/13?u=slicinghaunt
https://community.athom.com/t/bos

[2019-03-25 13:19] SlicingHaunt commented on #78
Is actually related to #64

[2019-03-25 15:17] StefanIndustries commented on #78
[code]

[code]

[2019-03-26 16:23] WeeJeWel commented on #77
Can you post a snippet of code that shows these symptoms?

[2019-03-26 16:25] WeeJeWel commented on #68
Closing this because most features are github-only and not standardised.

[2019-03-26 16:25] #68 closed, assigned to nobody

[2019-03-26 16:40] koktaildotcom commented on #77
1. Instal the beacon app
2. Add a generic BLE device
3. Keep the app running for half an hour

Then the BLE connect won't resolve at some time.

[2019-03-26 16:41] koktaildotcom commented on #77
I cannot provide a snippet, because it is over time that the app freezes

[2019-03-27 21:48] jwikman opened #79 "Update Zigbee to support different alarm sensors"
We are still waiting for support for different zigbee alarm sensors. Eg. water alarm, intruder alarm etc.

Please read https://github.com/athombv/homey/issues/2005 (in the now archived repo) for details.

What is the plan for this? We've been waiting on this for quite some time now...

(Btw, why won't you migrate the open issues from https://github.com/athombv/homey/issues/ to this new repo?)

[2019-03-27 21:50] jwikman commented on #79
related issues:
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/26
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/27
https://github.com/TedTolboom/com.xiaomi-mi-zigbee/issues/28

[2019-03-28 11:42] koktaildotcom commented on #73
This issue is still not resolved in v2.1.0-rcx.

[2019-04-02 13:39] koktaildotcom commented on #73
This issue is still not resolved in v2.1.0.

[2019-04-02 13:40] koktaildotcom commented on #73
This issue is still not resolved in v2.1.0.

[2019-04-02 13:40] koktaildotcom commented on #77
This issue is still not resolved in v2.1.0.

[2019-04-04 09:42] Christian-Athom commented on #78
This issue is solved in Mobile App version 2.2.0

[2019-04-04 19:54] mauricesundermann commented on #79
Yes, this would be great!

[2019-04-04 20:28] mannri commented on #79
+1

Protocol limits and deficiency should really have high priority as it blocks whole rage of products. If anything at least athom could give us rought estimate when this deficiency will be resolved.

[2019-04-10 23:39] DiedB opened #80 "socket.on() error callback not working"
On calling the callback function passed to a socket using `Homey.emit()` from a custom pairing view with an error, the error is not correctly passed back to the pairing view.

The response from the emit endpoint is the following:
[code]
The error I'm passing from my socket is inside the `error` key of the object. The error that the socket is receiving (in the first argument of the callback) is ins

[2019-04-11 13:59] notabene00 commented on #6
What am I doing wrong?
Still the same behaviour.
I have code like this:
[code]
But the `serviceData` attribute of `advertisement` is the same data every single time.
Explanation: I'm developing app for Mijia Hygrothermographs, which sends data to every thing around 'em. There are battery, humidity and temperature data in this serviceData. And it was working till 2.0.

[2019-04-11 15:09] WeeJeWel commented on #80
As it's a websocket, which serializes your data to JSON, an `Error` instance is not supported. I suggest you send a string as first argument, e.g. `callback( err.message || err.toString() );`.

[2019-04-11 16:57] DiedB commented on #80
Sorry for being unclear, I am already passing a plain string as the first argument to the callback. This worked fine in SDK v1, but it stopped working in SDK v2 (presumably).

I am not sure if this is working like you intended it to work. Just tried passing an `Error` instance, and this time around it actually does work:
```{"code":500,"error":"Login details incorrect","error_description":"Login d

[2019-04-11 18:08] carp3-noctem commented on #72
@WeeJeWel Any fixes in line of sight?

[2019-04-11 18:44] WeeJeWel commented on #72
Yes, this is a known issue but only seems to occur in Firefox so it's not very high-priority.

[2019-04-12 10:53] WeeJeWel commented on #80
Hm this might indeed have changed. But passing a string as 1st argument does not work in Homey `>=v2.0.0`?

[2019-04-12 11:11] DiedB commented on #80
Nope, you get the behaviour I described in the first post here. The string goes into the `error` field of the response and is never available to the pairing view (as the `error_description` field seems to be passed as argument).

[2019-04-17 11:43] rutgerpuntnet commented on #79
+1
Come on Athom, the original issue was raised 1,5 year ago. Time for some progress.

[2019-04-17 16:07] #78 closed, assigned to Christian-Athom

[2019-04-17 16:14] WeeJeWel commented on #47
I've inspected your example (thanks for that!). You are returning an error in the onSettings method, which shows the error to the user. This behavior will not change because it's correct.

If you want to do it anyway I suggest you remove the PIN in a `process.nextTick` using `Device.setSettings({ pin: '' })`

[2019-04-17 16:14] #47 closed, assigned to WeeJeWel

[2019-04-19 21:36] denniedegroot opened #81 "Bluetooth: notification and indication support"
The Fluxo light sends data back via a indication after a write has been done.
Currently this is not possible in Homey. Can this be implement?

Also see:
https://github.com/noble/noble#characteristic-1

characteristic.subscribe([callback(error)]);
characteristic.on('data', callback(data, isNotification));

[2019-04-21 19:08] jeroenvano commented on #73
This is still an issue in v2.1.1, when will this be resolved?

[2019-04-25 12:22] WeeJeWel commented on #77
Fixed in Homey v2.1.2-rc.4

[2019-04-25 12:22] #77 closed, assigned to WeeJeWel

[2019-04-25 12:29] koktaildotcom commented on #77
Thanks! What did you find?

[2019-04-25 12:30] WeeJeWel commented on #77
A 🐛

[2019-04-25 18:09] WeeJeWel commented on #11
Fixed in v2.1.2-rc.4

[2019-04-25 18:09] #11 closed, assigned to WeeJeWel

[2019-04-25 18:23] WeeJeWel commented on #73
Fixed in v2.1.2-rc.4

[2019-04-25 18:23] #73 closed, assigned to nobody

[2019-04-25 18:37] WeeJeWel commented on #73
Note that this error occurs when you have disconnected from a device, and then tries the short-hand method of reading/writing to a characteristic.

After disconnecting a device, you should discover the services & characteristics again using `discoverServices()` respectively `discoverCharacteristics()`.

In Homey v2.1.2-rc.4, an appropriate error is thrown (e.g. `Could not find service with UUID 00

[2019-05-06 21:22] ekouters commented on #73
Worth adding as a note to [BlePeripheral.assertConnected()](https://apps.developer.athom.com/BlePeripheral.html#assertConnected)

[2019-05-31 12:06] Danne-J commented on #79
+1 to this.
1,5 years is a long time of waiting

[2019-06-11 12:45] merolen commented on #79
This is actually a show stopper for me and I am considering abandoning this platform. It seems a bit half-finished. I admit I bought the Athome Homey without doing a lot of research, I am regretting that now.

[2019-06-11 12:46] WeeJeWel commented on #79
We are aware of the zigbee issues and will work on them in the near future. I do not have a timeline to share yet, but when I do I'll definitely share it here.

[2019-06-19 07:24] hive opened #82 "Driver showView breaks list_devices flow."
I have an application which loads the 'list_devices' template, then if the  app has been authorised, it will gather the devices and then load the 'devices_add' template - This flow works as expected.

However, the app may not already have been setup with an account. So its important to catch this and then allow the user to login. I have struggled to do this with in the current flow and consequentl

[2019-06-19 16:32] hive commented on #82
I was able to use the socket.on('showView') upon the loading template, AFTER force resetting the app. Prior to the force restart the app while triggering the event listener did not show the actual view.

[2019-06-20 09:22] hive opened #83 "Battery Charging"
A lot of devices (more every day) either use rechargeable batteries or can be used both in battery and power modes.

Multi Sensors, Cameras, Laptops, Cars, Remotes, Alarms, Watches, Lights, etc.

It would be great if we had a built in way to handle this common occurrence both from a UI perspective as well as flows. (Device is charging, device is charged)

Whether this be upon the measure_battery o

[2019-06-25 03:16] hive commented on #83
I will be adding this as a custom capability in the mean time, this is the icon which has been supplied.

<img width="200" src="https://raw.githubusercontent.com/athombv/homey-vectors-public/master/com.arlo/battery%20icon/capability_battery_charging.svg?sanitize=true">

[URI](https://github.com/athombv/homey-vectors-public/blob/master/com.arlo/battery%20icon/capability_battery_charging.svg)

[2019-07-15 08:10] jghaanstra opened #84 "animation.registerScreensaver() generates error on firmware 2.4.0"
I have an personal app which adds a couple of custom screensavers. Firmware 2.x introduced a racing condition which required a small work around to get the screensavers to register but firmware 2.4.0 seems to have completely broken it. When the app starts and the screensavers are registered the following error is generated from somewhere within Homey core.

[code]

The code which can be used te re

[2019-07-15 12:29] WeeJeWel commented on #84
Fixed in Homey v2.4.1. Thanks for reporting!

[2019-07-15 12:29] #84 closed, assigned to nobody

[2019-07-15 12:54] WeeJeWel commented on #84
P.S. I've also fixed the race condition :)

[2019-07-29 14:22] notabene00 opened #85 "Homey.ManagerBLE.discover() gives results with the same advertisement.serviceData all the time"
Been asked three months ago.
Here: https://github.com/athombv/homey-apps-sdk-issues/issues/6#issuecomment-482125893
Still not working as expected at Homey 2.5.0 firmware.

[2019-08-06 13:08] nklerk opened #86 "Homey.ManagerBLE caching keeps connected state."
After finding a bluetooth peripheral the state is cached as connected. even after a disconnect.
this results in devices that can't reconnect after a disconnect.

doesn't mather if the disconnect is caused by code (.disconnect()) of the device is turned off/on.
the only solution in such a case is restarting the app.

current workaround i'm using is bypassing the cache:

[code]

[2019-08-06 13:43] nklerk commented on #85
Have you provided a service UUID? As for my app the discovery works.

https://github.com/nklerk/nl.nielsdeklerk.XiaomiYeelightCandela/blob/master/drivers/candela/driver.js

[2019-08-06 14:32] notabene00 commented on #85
@nklerk discovery works. But the same `advertisement.serviceData` every time. Inside of this `serviceData` Mi Hygrothermograph sends temperature, humidity and battery data. They're remain the same between app restarts.

[2019-08-06 16:14] nklerk commented on #85
That’s what I see as well. Sorry for misunderstanding.

[2019-08-08 19:38] jghaanstra opened #87 "Hitting next button on login_credentials template breaks pairing with SQLITE_CONSTRAINT"
The pairing system view "login_credentials" has two buttons when there is next navigation template defined. A green one with the text "Log In" and a grey one with the text "Next".

When hitting the green button after entering the credentials all is ok but when hitting the next button the pairing wizard breaks and the user is presented with the error "Error: SQLITE_CONTRAINT: NOT NULL constaint fai

[2019-08-10 08:45] WeeJeWel commented on #87
This sounds like you're calling a `Homey.createDevice({})` somewhere without a `name` property.

The next button can be removed by removing it from the `navigation` object in your app.json's `driver.pair`. The `login_credentials` view will automatically go to the next view when the username & password have been validated.

[2019-08-10 08:45] #87 closed, assigned to nobody

[2019-08-19 11:03] onnlucky opened #88 "The Ikea Dimmer doesn't work so well [patch]"
The dimmer is already a very imprecise device, but the old implementation makes it behave much more erratic than needed.

It can be made to work even more precisely if the driver would pass on timestamps, instead of handling timings all the way up in javascript land.

[code]

[2019-08-24 13:04] lucasvdh opened #89 "ZigBee device manufacturer name issue"
I wrote a PR for the new IKEA blinds and the open/close remote that comes along with it.
https://github.com/athombv/com.ikea.tradfri/pull/74

The new driver I wrote for the blinds works just fine, but I'm experiencing some strange issues when trying to get the remote working.

I've added the remote as a generic ZigBee device, the config I got from it was as follows:
[code]

## The issue
When I con

[2019-08-26 16:10] lucasvdh commented on #89
Further investigation reveals that the `manuName` has a value of `"\u0002KE"` instead of `"KE"`.

The device as listed in the zigbee state:
[code]

[2019-08-26 16:43] mapulu opened #90 "Missing [[device]] in flow.actions[0].titleFormatted.de"
I have to add [[device]] in to titleformatted in all languages except english.
When I add [[device]] into english then I got Invalid [[device]] in flow.actions[0].titleFormatted.en.titleFormatted

[[device]] got translated to an empty string

[2019-08-26 17:33] mapulu commented on #90
This was present in athom-cli@2.1.98
and is fixed in athom-cli@2.1.99 ...

[2019-08-26 20:10] mapulu commented on #90
No error still appear after Installing the app

[2019-08-27 11:06] WeeJeWel commented on #90
This error has been solved and the fix will be included in the next Homey version. Sorry for the inconvenience!

[2019-08-27 11:06] #90 closed, assigned to nobody

[2019-08-30 10:12] lucasvdh commented on #89
Has there been any progress and is there anything I can do to help?

[2019-08-30 19:05] henrikrox commented on #89
@jeroenvollenbrock @WeeJeWel

[2019-09-02 13:51] Maxmudjon opened #91 "setCapabilityOptions()"
when add this function ?

[2019-09-02 15:22] Maxmudjon opened #92 "Homey thermostat_mode values not set"
`capabilitiesOptions = {
          thermostat_mode: {
            values: [
              {
                id: "auto",
                title: {
                  en: "Automatic"
                }
              },
              {
                id: "heat",
                title: {
                  en: "Heat"
                }
              },
              {
                id: "off",

[2019-09-03 12:02] WeeJeWel commented on #91
Homey v3.0.0.

[2019-09-03 12:02] #91 closed, assigned to nobody

[2019-09-03 12:02] WeeJeWel commented on #92
You cannot overwrite the thermostat modes.

[2019-09-03 12:02] #92 closed, assigned to nobody

[2019-09-03 12:03] Maxmudjon commented on #91
release date known ?

[2019-09-03 12:07] WeeJeWel commented on #91
Soon :)

[2019-09-04 08:12] jeroenvollenbrock commented on #89
We are aware of the issue and are working on a solution, but cannot give any time estimates.

[2019-09-05 07:09] JirLap opened #93 "Driver.onMapDeviceClass does not wok properly - settings issue"
I am working on an app for system with bridge (eQ-3 MAX) and i would like to add all the devices connected to bridge (outside Homey) at once after discovery - like it works in OpenHAB.
But in Homey, I can only "pair" the specific device - in my case the discovered bridge, but it does not matter, I tried extend common driver with no success.

Issue 1: I tried to use Driver.onMapDeviceClass(device)

[2019-09-16 08:32] lucasvdh commented on #89
Any news?

[2019-09-16 21:42] emilohman commented on #81
[Plejd](https://www.plejd.com/en) (swedish smart light) also send all data back as notifications, so it isn't possible to get state changes back to Homey.
Do you have any plans for bringing this feature to Homey? If so, whats the current status?

[2019-09-24 07:45] pimviergever opened #94 "[com.tado] Flow action do not include tags"
Homey FW: 2.5.2
tado app V.3.0.3

When creating a flow I would like to set the tado thermostat temperature according to a tag (until the SmartSchedule changes).
Now I can only set it to fixed temperatures at steps of 5 degrees Celsius.

Can you change the input to tags and number input?

[2019-09-24 12:25] lucasvdh commented on #89
Could you maybe at least tell me if this will be fixed before v3 or if we're going to have to wait until the new version is released?

[2019-09-27 09:14] ronald2404 commented on #79
HI Athom, is there any news yet? Looking forward for the zigbee rewrite after waiting a very long time....

[2019-09-27 09:16] ezwep commented on #79
I am also very curious. I have 7 water leakage sensors connected to a Xiomi Home gateway. But I prefer to connect this to my Homey!

[2019-10-07 08:03] WeeJeWel commented on #94
This issue tracker is meant for developer issues. Please report your problem to Homey Support.

[2019-10-07 08:03] #94 closed, assigned to nobody

[2019-10-07 08:46] nerdtechse opened #95 "Device class "Garage port""
Isnt it time for a device class named "Garage port"?  All apps now uses device class "lock" instead and that wont play well with for example homekit.

[2019-10-10 21:21] lucasvdh opened #96 "Missing presence flow condition"
There's currently a flow condition for checking if someone is sleeping. This can also be inverted to check if nobody is sleeping.

## Someone is awake
There is currently no condition to check if someone is awake or if nobody is awake and it would be great if it was added.

### Why?
This condition would take care of a lot of duplicate flows or at least simplify them. For example, I currently have f

[2019-10-14 09:36] WeeJeWel commented on #96
Thank you for your feature request. This is a developer-only issue tracker for Apps SDK issues.

Please submit your feature request here: https://go.athom.com/request-homey-feature

[2019-10-14 09:36] #96 closed, assigned to nobody

[2019-10-15 09:22] lucasvdh commented on #96
Thanks, didn't know there was a dedicated place for this.

[2019-10-16 09:46] denniedegroot commented on #81
I know it's only been 6 months but is there any progress on this?

[2019-10-16 19:18] aartse opened #97 "energy.batteries possible value CR14250 is missing"
app.json device config energy.batteries does not accept the value CR14250.
the zipato device VS-ZD2301.EU has this type of battery according to the manual:
https://doc.eedomus.com/files/vs-zd2301-Zipato-4-in-1-Multisensor-User-Manual-v1.0.pdf

[2019-10-17 09:51] DiedB opened #98 "Removing old custom capabilities"
I wrote a small migration script to upgrade old devices to 3.0 for the Solar Panels app and stumbled upon an issue. Each device has two or four custom capabilities currently. I'd like to migrate them towards the built-in `measure_power` and `meter_power` capabilities.

In order to do this, I removed the custom capabilities from `app.json` (they would never be used in the app anymore), and wrote a

[2019-10-21 10:54] KrakenTyio commented on #81
Many of ble devices communicating by indicators and notifications, for power save reasons.

This is now hard to try workaround.

I see many issues here
- notify command not present
- indicator command not present
- write without response not sure if work
- cannot optain correct descriptor (always stack in command line)
- noble lib not work bc. missing linux lib for communication

Someone could res

[2019-10-21 15:12] KrakenTyio opened #99 "await BleCharacteristic.discoverDescriptors() struck"
Im not able obtain `BleDescriptor` from `await BleCharacteristic.discoverDescriptors()`, it always stuck.

Also when im debugging with node inspector, its never go through this command and stoped on 60 second timeout of not interacting with BlePeripheral.

[2019-10-22 03:13] korkmazk commented on #79
Same here, any updates from Athom? Would love to add some flood and smoke detectors...

[2019-10-22 09:49] WeeJeWel commented on #97
You can use LS14250 for this as they’re interchangeable.

[2019-10-22 09:49] #97 closed, assigned to nobody

[2019-10-22 09:50] WeeJeWel commented on #98
Thank you for your issue. For now, please keep the capabilities in your JSON because Homey has no way of knowing that those will be programmatically removed. I cannot think of a better solution at this time.

[2019-10-22 09:50] #98 closed, assigned to nobody

[2019-10-22 09:53] WeeJeWel commented on #82
You should start with a view using the ‘loading’ template and move to list_devices from there when the user is authenticated.

[2019-10-22 09:53] #82 closed, assigned to nobody

[2019-10-22 09:54] WeeJeWel commented on #93
You cannot change the driver during or after pairing. So if you really want to add all devices at once, use a single driver.

[2019-10-22 09:54] #93 closed, assigned to nobody

[2019-10-22 10:13] JirLap commented on #93
With different settings?
How?
Thanks.

[2019-10-22 10:52] WeeJeWel commented on #93
In that case you should indeed create different drivers.

[2019-10-22 11:11] WeeJeWel commented on #95
Could you give an example how it doesn't work well with Homekit?

[2019-10-22 11:37] WeeJeWel commented on #97
But I've added it regardless. The voltage differs so maybe some devices won't like that :)

https://github.com/athombv/node-homey-lib/commit/877ab0fbefddaa1abf3b1c644a18945ec1e7097b

[2019-10-22 11:40] nerdtechse commented on #95
There is a device class in Homekit just for Garage port. And if the homey is pass it as lock you will miss the graphics of garageport but also the features in Carplay when you arrive at home it puts a button on the car stereo for opening the garageport.

[2019-10-23 16:56] pellz0r commented on #89
Still no news?

[2019-10-24 10:45] lucasvdh commented on #89
We'll just have to be patient I guess..

@pellz0r I think I figured out a way to get the buttons working until this is fixed though. Just create a driver for both manufacturer names :sweat_smile: If I manage to get them working I'll prob post something to the [ikea app repo](https://github.com/athombv/com.ikea.tradfri)

[2019-11-03 20:14] Maxmudjon commented on #86
some problem

[2019-11-03 20:33] Maxmudjon opened #100 "[BLE] Support for "notify" characteristics"

[2019-11-05 23:01] aartse opened #101 "node.on('online') is not fired when COMMAND_CLASS_WAKE_UP is received"
When a device is battery powered, the devices sends frequently a COMMAND_CLASS_WAKE_UP signal. In homey developer tools (https://developer.athom.com/tools/zwave) the device is briefly marked as online and homey can send changed configsettings or can ask for measure_battery value for example. but the event node.on('online') is never fired so the homey-meshdriver `ZwaveDevice::_registerCapabilityGet

[2019-11-06 09:33] WeeJeWel commented on #101
This should definitely work, and has 100% sure worked in the past. We will investigate if this is an issue.

[2019-11-07 16:38] satoer opened #102 "Bug Mi-light: Some parameters of the Mi-light capabilitiesObj are not stored"
**Bug**
A couple of Mi-light app firmware updates ago the (new registered) Mi-light bulbs are registered in a new way with new capabilitiesObj parameters. Sadly some of these parameters do not get stored. And it’s impossible to retrieve the current status of the lights using homey script.

**Why do I want to get the current status?:**
I want to store the status (on / off / white mode / color mode

[2019-11-11 10:03] deetmo opened #103 "Thermostat capability issue [iOS app]"
I’m trying to develop driver to support my Heat Pump.
I get some issues when adding multiple “measure_temperature” capabilities connected with “target_temperature”…

When I have X (let’s say 5) “measure_temperature” it working great, but when I want to add one more “target_temperature” my device after clicking on it hangs whole iOS app and I have to kill it.

Im using latest version of iOS app.

S

[2019-11-16 17:30] satoer commented on #102
Serious Athom, I’ve tried to contact you with this bug trough Email, the user support forum, I’ve filled in a Google form and now in this issue tracker on Github… Got 0 response. I really don’t know what else I can do to get some response. For month’s I’m trying to make this bug get noticed but I’m really out of options right now. At least tell me something. Is this bug valid, isn’t it important e

[2019-11-16 21:54] WeeJeWel commented on #102
Because the milight bridge is stateless, these values are not available. This is a choice made in the milight app to deliver the best experience.

For your use case, you’re best off storing them yourself in a Logic variable using Flow.

Because this is not an SDK issue I am closing this issue.

[2019-11-16 21:54] #102 closed, assigned to nobody

[2019-11-16 21:56] WeeJeWel commented on #100
Duplicate of #81

[2019-11-16 21:56] #100 closed, assigned to nobody

[2019-11-17 08:39] jghaanstra opened #104 "Alarm_battery capability initially null instead of false"
I have added the alarm_capability to one of my apps using the addCapability() method. As it's a boolean I'd expect it to be false (or perhaps even true) but instead it was null. Seems like a bug to me, it should initially be a valid boolean. Havent checked if this is the case with other capabilities as well but I can image it's not limited to the alarm_battery capability.

[2019-11-17 09:03] WeeJeWel commented on #104
All capability values are initially null so this is actually expected behavior.

[2019-11-17 09:03] #104 closed, assigned to nobody

[2019-11-18 11:41] guestus commented on #79
Need this too. Will be good to know release date.

[2019-11-18 14:46] Christian-Athom commented on #103
I have tried to reproduce this problem, but after going through the steps i cannot reproduce your crash.
In the device i see the thermostat page for the measure_temperature and target_temperature, and the measure_temperature.other, measure_temperature.other2, etc are all visible on the sensor page.

[2019-11-18 16:55] deetmo commented on #103
Christian,
I will try to reproduce it again on my side with latest sdk/app.
Hopefully tonight.

[2019-11-18 21:34] deetmo commented on #103
I have managed to get some minimal setup with issue.
I have created one good device and one with issue.
Only difference is with capabilities:
Good one is using:
`[ "measure_temperature", "target_temperature" ]`
While one with issue:
 `[ "measure_temperature.t1", "target_temperature.t2" ]`

See attached project and shared movie from iOS app:
https://streamable.com/59tz0
[com.deetmo.issue-1.zip](htt

[2019-11-19 08:21] Christian-Athom commented on #103
I your case the error is with the fact that there is no 'target_temperature' just the 'target_temperature.xxx'. The dot notation is for multiple capabilities of the same type, but in this case there is only one.

But taking it a step back, what is the scenario you are trying to implement?, e.g. multiple thermostats within 1 device?

Greetings,
Christian

[2019-11-19 08:53] deetmo commented on #103
Remark:
I have just found an typo in my previous comment.
Capabilities with issue have same name after dot (attached project is correct) not t1 and t2:
`[ "measure_temperature.t1", "target_temperature.t1" ]`

Same issue happens, when I have two pairs of measure/target temperature:
`[ "measure_temperature.t1", "target_temperature.t1", "measure_temperature.t2", "target_temperature.t2" ]`

I'm trying

[2019-11-19 09:00] Christian-Athom commented on #103
Does this device have have 2 separate circuits for target/measure temperature, or are you trying to combine multiple devices into 1 device for Homey?

[2019-11-19 09:03] deetmo commented on #103
This is one physical device.
It's common case, that Heat Pumps have 2-4 separate circuits + 1 for hot water.

[2019-11-19 09:24] Christian-Athom commented on #103
Do you have the name of the device?

[2019-11-19 10:28] deetmo commented on #103
Don't get it why this is needed.
Please check any heat pump on market how it works.

[2019-11-19 11:55] Christian-Athom commented on #103
What you can do is when you are adding the device, create a separate device for every circuit.
The user can then select the circuits he/she wants to add. Then each circuit has it's own device in the overview, and can be controlled individually with regards to temperature etc.

[2019-11-19 12:32] deetmo commented on #103
I totally understand this approach, but I consider it as an workaround rather than a final solution.
Heat Pump has also measure_voltage, measure_current, measure_power, etc. that are summed up with all circuits.

Anyway... we are going deep inside driver architecture rather that finding solution to actual issue.
So again...
Do Homey support multiple thermostats inside one device?
How to do that?

[2019-11-19 12:33] WeeJeWel commented on #103
No, Homey does not support multiple thermostats in one device.

[2019-11-19 12:33] #103 closed, assigned to Christian-Athom

[2019-11-23 12:32] gizmodok commented on #79
Last time I’ve heard from Athom @WeeJeWel   about een issue regarding the app that they are maintaining ( Fibaro ) and the issues with z-wave I’ve waited 8 months and they were aware of the issue too... I’ve decided to buy different controllers because nobody was doing anything. Like they say it in Dutch slappe zakken.... they just sell the product and the are NOT interested about the issues after

[2019-11-26 11:44] MiteZZ commented on #79
Yeah it is a pitty..  At the moment looking for an other Home Controller, more and more issues are starting to pop up and no 'real' innovative new features. or improvements..

[2019-11-26 11:46] WeeJeWel commented on #79
Hey guys, we're aware of these issues and I can assure you our team is working on it very actively!

[2019-11-27 15:11] kof opened #105 "Emulating recorded signal doesn't do anything"
Hi,

I am recording and emulating using the tool (https://developer.athom.com/tools/signals). It's a 433,92MHz remote  (Jarolift Funkset Eco).

The recording does work, I get results like this for example, the receiver device also reacts to the signal from the original remote.

[code]

but emulating the same signal from the tool doesn't make the receiver react at all.

I am not sure where to start

[2019-11-30 22:44] jghaanstra opened #106 "Devices dont show in list devices pair template when using specific device ID"
When using the onPairListDevices() function to show discovered devices some devices are not shown in the list even though they are part of the devices callback object from this function. I was able to track it down to the device ID used (data.id) for these devices. For instance a device with the id `0x0000000007d13b3e` will for some reason not show up in the list of discovered devices. Having the

[2019-12-01 14:37] robertklep opened #107 "Device ID clash causes `list_devices` not to show certain devices paired with a different app."
Demo repo here: https://github.com/robertklep/homey-duplicate-id-test

Tested on v3.1.0

The repo contains two different apps that each have a driver that emits a new device entry for pairing, using the same device ID in both apps, namely `this-is-a-duplicate-id`.

When a device entry has been created with demo app #​1 and you try to pair a device with app #​2, the device entry will not be shown i

[2019-12-01 14:41] jghaanstra commented on #106
The ID is fine but apparently the device ID needs to be unique across apps as reported here https://github.com/athombv/homey-apps-sdk-issues/issues/107

[2019-12-01 14:41] #106 closed, assigned to nobody

[2019-12-01 15:04] jeroenvollenbrock commented on #107
Confirmed and fixed in the next Homey release.

[2019-12-01 15:04] #107 closed, assigned to nobody

[2019-12-02 10:58] jeroenvollenbrock commented on #105
This is correct behaviour. Signal emulation emulates the supplied signal towards Homey, eg, it pretends it just received the supplied signal and attempts to deliver it to apps. Making homey transmit raw data is not possible without having an app which registered a signal.

[2019-12-02 10:58] #105 closed, assigned to nobody

[2019-12-13 16:51] Shakesbeard opened #108 "setEnergy() Does not update the values if once set"
This is rather cumbersome if you introduced wrong values in a software version.
If it was set by the app in the first place, it should be possible to be set again by the app as well.

[2019-12-23 12:03] bk147 commented on #101
I'm also experiencing this and has been for quite a while. Unfortunately I haven't gotten around to reporting it yet!

[2019-12-31 09:42] Cross-roads commented on #81
Anybody who can confirm this is in fact not possible atm?

[2020-01-07 08:48] lucasvdh commented on #89
v4?

[2020-01-08 12:20] Shakesbeard opened #109 "AppApi is not working"
Following the example of the SDK here: https://apps.developer.athom.com/ApiApp.html
I am unable to successfully call the remote api endpoint. The host app is not receiving anything.
However, calling that GET endpoint in the web browser works and the result is as expected.
When doing it from the test app however, I keep getting this permission error:
─────────────── Logging stdout & stderr ────────

[2020-01-09 10:12] cmd85 commented on #101
Any update on this ? Makes my zipato RFID report wrong numbers and doesn't work atm at all.

[2020-01-13 11:46] CaspiePi commented on #79
Hi Athom, any progress on this zigbee issue? We all look forward to be able to connect our devices to the homey! Still stuck with all these other hubs, because of this. Thank you

[2020-01-13 11:59] WeeJeWel commented on #79
There's a lot of progress we hope to release soon :)

[2020-01-20 20:16] Thalassa47 opened #110 "P1 monitor reports return energy as solar energy"
I’ve a SolarEdge converter connected with the solar panels and a smart grid meter.
Homey get the smart meter data via P1 monitor and the solar data via Zonnepalen app with the SolarEdge API key.

In the overview Homey makes in my opinion the wrong calculation.
Homey adds up the solar energy and the energy supplied!

[2020-01-21 09:30] WeeJeWel commented on #110
Most likely the solar panels are reporting their value as a negative number. They should provide a positive number, e.g. `1000` (W).

[2020-01-21 09:30] #110 closed, assigned to nobody

[2020-01-21 09:49] Thalassa47 commented on #110
In my opinion is there a simple solution for this issue.
In the app P1 monitor under the tag P1-meter Verbruik ->settings->advanced settings there is the option “Bring energy in total yes / no”

I would also like this option for the P1-meter Teruglevering

[2020-02-07 08:29] j0bro opened #111 "i18n translation is not working for capabilities of type enum"
1) Assume an `app.json` that defines a capability as below:
[code]
2) Then also assume a Homey device like the following, which may receive a `fruit` event that has a `type` property which may be set to one of `['apple', 'orange']`:
[code]
3) Expected behaviour: Homey automatically translates device values into the applicable translated i18n strings.
4) Observed behaviour: Homey does not translate

[2020-02-07 20:49] Thorarin commented on #101
I can confirm that this isn't working (Homey 3.2.1).

This also means that `getOnOnline: true` of homey-meshdriver for example is broken.

Edit: still not working on 4.0.0-rc6

[2020-02-10 19:41] Thorarin opened #112 "Using addCapability / removeCapability crashes Android App"
While developing my Homey App, I was experimenting with dynamically adding/removing capabilities from devices (for compatibility reasons). I've noticed the Android app is doesn't deal with this very well. Specifically, I frequently get completely white screens. I'm assuming this means something unexpected happened, because using the phone's "back" button caused the app to close as well.

Adding or

[2020-02-11 12:48] WeeJeWel commented on #112
Thank you for reporting this issue, we'll try to reproduce and fix it a.s.a.p.

[2020-02-11 12:51] Christian-Athom commented on #112
Hi Thorarin,

Is it possible for me to test your application to see what the exact problem is?

[2020-02-11 13:01] Thorarin commented on #112
Yes, although you would need a Strips Guard/Comport/Drip to run the exact code.

To place it into context:
What I was trying to do, is to make capabilities depend on device settings. Strips Comfort and Drip share a Z-Wave product ID, so they got added as a "hybrid" device with all the capabilities. I wanted to give users the option to hide the capabilities they may not be using.

This is my work-i

[2020-02-11 13:50] Christian-Athom commented on #112
Are you trying to add/remove maintenance actions?

[2020-02-11 18:24] Thorarin commented on #112
Removing maintenance actions is one of the things that triggers it. Normally I wouldn't remove them, but HomeyKit gets confused by them (https://github.com/swttt/com.swttt.homekit/issues/187), so I wanted to give users the option of removing them if they use HomeyKit*.

However, removing maintenance actions is not my only use case. See the explanation about Strips Comfort/Drip. Also devices that w

[2020-02-12 08:31] Christian-Athom commented on #112
Hi,
I tested the add/remove of capabilities in the app, but i cannot reproduce your problem.
Is it possible that you DM or Email me an invite to your Homey so i can diagnose this problem?

Greetings,
Christian

[2020-02-13 22:05] Thorarin commented on #112
The currently installed version of the app only changes the capabilities when the app starts, perhaps that is why. That particular crash happens less often, but still easily over 50% of the time for me.

1. Go to the device settings of Strips Drip/Comfort
2. Toggle maintenance actions on or off
3. Save
4. Return to the home screen
5. More → Apps → Sensative → gear icon
6. Choose Restart app
7. Aft

[2020-02-16 15:27] Shakesbeard opened #113 "Unwanted: setCapability dim calls onoff capability (auto generated flowcards only)"
For some strange reason if a dim value is set Homey automatically calls the onoff capability with true.

This is not be desired in a lot of cases.
Like if users want to reconfigure lights depending on daytime without turning them on.

**Use Cases:**
Entering Evening time: All lights should be dimmed to a certain level, regardless if on or off as onoff is controlled by room activitiy.
Entering Nigh

[2020-02-16 17:30] Shakesbeard commented on #113
I learned, this can be worked around by setting the capability option onDim to false. Very good. Hope this stays the way it is then :D

[2020-02-16 17:30] #113 closed, assigned to nobody

[2020-02-20 09:17] RobinBol commented on #111
Hi! I tried to reproduce your issue, but without success:

![image](https://user-images.githubusercontent.com/5762579/74918839-fdcfb000-53c9-11ea-944f-04c3143daea4.png)

I used your exact example with:
[code]

I used the latest Homey firmware version (v4.0.0). Could you provide more information on your expectations and observations?

[2020-03-02 09:50] prfafa commented on #81
So what's going on with this?

[2020-03-06 16:38] MichalFoksa opened #114 "Signal strength and signal quality capability"
Good day,

I would like to suggest a new capability to display signal strength and/or signal quality.

Signal strength measured in `db` and signal quality in percentage.

What do you think?

[2020-03-09 07:59] prfafa commented on #81
@WeeJeWel ?

[2020-03-09 08:00] WeeJeWel commented on #114
I don't think this is very useful as a system capability, but you can add it to your app yourself. Example:

[code]

[signal_strength.svg.txt](https://github.com/athombv/homey-apps-sdk-issues/files/4305321/gardena_wireless_quality.svg.txt)

[2020-03-09 08:00] #114 closed, assigned to nobody

[2020-03-09 08:15] WeeJeWel commented on #81
As usual we cannot say anything about ETAs but adding notification support to the BLE API is on our radar.

[2020-03-09 08:49] prfafa commented on #81
@WeeJeWel how can something be "on the radar" for 2 years..? This has been notified to you in different threads since 2018.

[2020-03-09 08:50] WeeJeWel commented on #81
It's _on_ our radar ;)

[2020-03-09 08:52] prfafa commented on #81
lol, sorry, typo. Yeah, _on_ your radar. I mean, seriously, this is pretty much an important implementation feature; so will it be _on_ your radar for another 2 years or what..?

[2020-03-09 08:53] WeeJeWel commented on #81
I surely hope shorter than that! :)

[2020-03-09 09:48] prfafa commented on #81
..and I guess there's no way in hell you'll announce any form av gossip when this can be released? :)

[2020-03-15 09:46] MichalFoksa commented on #114
Thank you for hint!

[2020-03-20 10:18] prfafa commented on #81
no @WeeJeWel ? ;)

[2020-03-20 10:37] ludwich commented on #79
@WeeJeWel any better time frame? Alot of us devs have more time now to work on side projects when working remote.

[2020-03-20 11:02] RobinBol commented on #79
We are making progress, soon we will contact the current Zigbee Homey App developers for an internal beta period in which they can give us feedback and prepare their apps for the update. I understand it is difficult to keep patient after all this time, but we are getting there!

[2020-03-20 12:01] psy0rz commented on #79
btw i love the new widget feature in the homey app. it was something i really missed. :)

[2020-04-09 14:43] Shakesbeard opened #115 "Add support to programmatically disable a capability"
So this is not quite an issue as that as the implemented functionality is working as designed.
It is more a design problem.
I noticed this when implementing the bose app.
Depending on the state of the device some features are enabled or disabled.

It would be very good if there was an option to temporarily disable buttons in the speaker UI,
Here the usecase.
Whilst the device plays a user defined

[2020-04-09 14:47] Shakesbeard opened #116 "Speakers' speaker_duration & speaker_position are not showing in the UI"
Despite the capabilities being defined for the device and the values being updated accordingly the playback progress is not showing in the UI.

[2020-04-20 16:18] notabene00 commented on #81
Happy birthday 🥇
Any updates on this?

[2020-04-30 06:59] koktaildotcom opened #117 "Cannot connect to advertisement in BLE manager (Mi Flora App)"
With the latest firmware (v4.2.0-rc5+) i cannot connect to the advertisement anymore. It gives a timeout.

[code]

Expect behaviour:
I get the peripheral from the advertisement.

Current behaviour
I got a BLE Timeout:

[Error: BLETimeout
   at Remote IPC Process
] {
  message: 'BLETimeout'
}

[2020-05-01 12:29] koktaildotcom commented on #117
Looks link the `peripheral.disconnect()` doesn't work and that the seconds time the connection is made the peripheral is still connected and that `advertisement.connect()` result in a timeout.

@WeeJeWel can you verify that?

[2020-05-01 13:40] koktaildotcom commented on #117
Ignore that.
After a reboot of homey the sensors are connected correctly the first time. Looks like Homey keep some reference to the device.

[2020-05-04 08:17] mrquincle commented on #81
[Crownstone](https://github.com/crownstone/bluenet) also uses notifications. We truly want to support Homey, see this [plugin](https://github.com/crownstone/crownstone-homey). It's not for a lack of trying.

[2020-05-06 17:00] Joolee opened #118 "Diverse issues with SDK documentation"
1. It's not described anywhere where device icons should be defined
2. The list below "Capability options" is a mess
3. Also, it's not listed whether options are optional or not
4. With composer enabled by default, the capabilities documentation should be updated to reflect that
5. There is a mention of updateCapabilityValue but it's not a function listed in the Device class function list
6. Reall

[2020-05-07 09:10] WeeJeWel commented on #118
There are all great points and we'll be sure to address them a.s.a.p.. Thank you!

[2020-05-08 05:51] prfafa commented on #81
So @WeeJeWel , soon 2 months. And no update on this? What's going on? Some transparency would be appriciated!

[2020-05-09 08:18] luuk97h commented on #79
Any more info on this topic/release date?

[2020-05-10 21:19] Joolee commented on #118
https://apps.developer.athom.com/ManagerI18n.html#__
Link isn't formatted properly: "@{link Homey#__}"

[2020-05-11 08:41] WeeJeWel commented on #118
Fixed, sharp!

[2020-05-11 14:35] Joolee commented on #118
In the setViewStoreValue help text, it's described you can set a device for the system view 'add_devices'. That's not described in the help page of that system view however. Are there other hidden options only known to Athom?
Homey.setViewStoreValue('add_devices', 'devices', devicesArray);

[2020-05-11 14:48] WeeJeWel commented on #118
Would be better to document it there, yes. For now you can find an example here: https://apps.developer.athom.com/tutorial-Drivers-Pairing-Custom%20Views.html

Keep up your great feedback! It's so hard to write great documentation when you're blind because you know your own system too well!

[2020-05-14 19:21] Joolee commented on #118
On the capabilities page, the documentation for registerCapabilityListener doesn't do anything with promises or callbacks. As far as I understand, you need to return whether the action was successful or Homey will assume it wasn't.

[2020-05-15 18:12] koktaildotcom commented on #117
I've made a custom branch for tracking the issue. You can find it here: https://github.com/koktaildotcom/homey-mi-flora/tree/feature/ble-timeout-issue.

Steps to reproduce:
1. Restart homey without any `xiaomi mi flora` app installed.
1. Wait until homey is booted properly.
1. Run the App.
1. Install one xiaomi mi flora sensor. (the first update sequence starts)
1. Wait until the second update seq

[2020-05-15 18:13] koktaildotcom commented on #117
**At the last update sequence there is an error:**
[Error: Peripheral is not connected (state is disconnected)
   at Remote IPC Process
] {
  message: 'Peripheral is not connected (state is disconnected)'
}

[2020-05-18 15:33] WeeJeWel commented on #108
This is expected behavior. These are stored as user-configurable settings. Otherwise your app could constantly overwrite what the user provided for themselves!

[2020-05-18 15:33] #108 closed, assigned to nobody

[2020-05-19 09:29] ArturasTaskauskas opened #119 "Z-Wave Security S0 multi endpoint device issue. Z-Wave SDK 6.7+"
It appears to me that Homey does not include necessary updates in inclusion process when dealing with Z-Wave devices build on Z-Wave SDK 6.7+

During inclusion/pairing is secure mode Homey sends Security Commands Supported Get to the root device (That's great and this gets the list of supported CommandClasses by root device), then later  Homey sends Multi channel end point get and receives the num

[2020-05-19 10:20] Joolee commented on #118
"Flow Editor's sidebar." is mentioned in the Flow → Devices page. We don't have that anymore with the unfortunate migration to mobile-only.

[2020-05-21 13:39] drme opened #120 "Cannot POST /oauth2/callback/ message when using callbacks after end-user logged in with Apple Id"
in our homey app end-user can login with apple Id
unfortunately, it does not work, as in the authentication flow we have to provide call back URL that apple will call after successful end-user login.
however apple do POST instead of GET and your server just  shows error page.
Do we need new sdk, homey firmware, can be anything fixed on your side?

here is app in question: https://developer.athom.c

[2020-05-21 13:42] WeeJeWel commented on #120
So Apple does `POST https://callback.athom.com/oauth2/callback/?code=3b78HyqRDDD1fPJXhd1Ir0fuLSWMpQ&state=null`?

[2020-05-21 13:44] drme commented on #120
yes

[2020-05-21 13:57] WeeJeWel commented on #120
Should work now!

[2020-05-21 13:57] #120 closed, assigned to nobody

[2020-05-21 14:02] drme commented on #120
thanks, It works

[2020-05-24 14:49] Joolee commented on #118
The compose plugin node-homey uses gives us a lot more options than just the documented $extends. I can see it being used in Athom's own apps and the source at https://github.com/athombv/node-homey/blob/840792bd929bc5cfbb2a12f90c20cdbe09b36f53/lib/AppPluginCompose/index.js leads me to believe the documentation on that subject is far from complete.

[2020-05-25 07:19] guestus commented on #79
Has it started yet?

[2020-05-25 14:06] Joolee commented on #118
The mandatory "images" section for drivers is not documented anywhere. Also, neat tricks like {{driverAssetsPath}} are not documented.

[2020-05-26 11:37] Joolee commented on #118
Might want to document the hidden feature of the 'SimpleClass' class as used here: https://github.com/athombv/node-homey-rfdriver/blob/62b090922d07808295ee761e528905d932e53776/lib/PairDevice.js#L18

Makes logging much more easy.

[2020-05-26 12:32] Joolee commented on #118
Link to "Device~settingsCallback" is dead on the Device.html page.

[2020-05-28 18:19] Joolee commented on #118
The "duration" parameter for 'dim' and similar capabilities is not documented in the references of those capabilities (see: https://github.com/athombv/node-homey-lib/blob/87c628e7f15ace71731e0b56b469821105efb69c/assets/capability/capabilities/dim.json) or any other location in the docs. There appears to be a reference to them in the ZigBee Meshdriver documentation though... (https://athombv.github

[2020-05-30 10:16] Joolee commented on #118
Internationalization: "Possible languages are: en and nl. Support for more languages will be added in the future." Same page says that's not true.
Also, README files in other languages are not documented.

[2020-06-07 18:56] koktaildotcom commented on #117
This is still an issue. Have you test it on an Homey 2016? Looks like all complains are 2019 or Pro's.

[2020-06-07 19:04] robiebab commented on #117
I have a homey from 2016 and have sometimes a timeout, if i restart the app it gives a message timeout 30000. The only way foe me to fix it, is to reboot homey. Then it works for a few min or a few days. If you need more information, just ask :)

[2020-06-07 20:00] shaarkys commented on #117
`

nodeVersion | "v12.16.1"
-- | --
homeyVersion | "4.2.0"
homeyModelId | "homey3s"
homeyModelName | "Homey (Early 2019)"

`

[code]

This happens right after **connect** attempt :
`const advertisement = await Homey.ManagerBLE.find(device.getAddress(), 10000).then(function (advertisement) {
                return advertisement;
            });
const peripheral = await advertisement.connect(); `

T

[2020-06-07 20:05] shaarkys commented on #117
**With the test build (tested not after reboot however)**

[code]

[2020-06-09 12:34] #101 closed, assigned to WeeJeWel

[2020-06-10 14:54] koktaildotcom commented on #117
@WeeJeWel would you investigate this issue with additional informatie please? Can you try to keep the app running for some time. Looks like it can work for some time. Can it be related to the node update?

Any change i can test something?

[2020-06-11 11:04] shaarkys commented on #117
Just if that would help - here is how it behaves after daily reboot - for some time it reads values and then BLETimeout occurs.

![obrazek](https://user-images.githubusercontent.com/14859895/84378228-19163380-abe4-11ea-811e-63344a8593fe.png)

[2020-06-16 08:07] klim123123 commented on #89
Still no update for TRADFRI open/close remote?
I just tried it in 4.2.0. Doesn't work.

[2020-06-16 09:01] klim123123 commented on #89
Just tried to add TRADFRI open/close remote using  lucasvdh/com.ikea.tradfri,
getting message: No compatible Homey App has been found for this device. It has been added as Basic Zigbee device.

[2020-06-16 11:28] koktaildotcom commented on #117
The community did some testing. If you disable all flows (“when value is below set value”) it looks like the BLE timeout isn't kicking in that quick. However with some tests after 21 updates with an interval of 15 minutes the BLE timeout kicks in again.

[2020-06-17 09:55] lucasvdh commented on #89
@klim123123 I think this requires the ZigBee rewrite which Athom has been working on for a while.

[2020-06-17 13:40] Joolee commented on #118
The Flows documentation is full of references to the old web-interface and the "required" option for arguments is not documented at all.

[2020-06-17 15:12] Joolee commented on #118
.homeyignore files are not documented

[2020-06-18 12:19] Maxmudjon opened #121 "MaxListenersExceededWarning"
How to increase limit on Homey API for makeCapabilityInstance()

(device.setMaxListeners(Infinity) did not help)

MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 connect_error listeners added. Use emitter.setMaxListeners() to increase limit
    at /node_modules/athom-api/dist/index.js:1:1257420
    at o.value (/node_modules/athom-api/dist/index.js:1:1257700)
    at o.va

[2020-06-21 09:44] Joolee commented on #118
Device trigger flow card filters are poorly documented. Missing 'capabilities', 'driver_uri' (why would you use this one?) and the using of pipes (|) as 'or'.

[2020-06-21 10:40] Joolee opened #122 "Flow triggers for custom capabilities documentation wrong"
The documentation states:

The tag name should be (for this example) ```measure_my_number``` and _not_ ```value``` as written in the documentation. Otherwise, the cards will not be triggered.

[2020-06-26 21:19] Joolee commented on #118
The fact that /tmp is writable is not documented. Only /userdata is mentioned in the documentation.

[2020-06-30 03:53] koktaildotcom commented on #117
When do this issue get some love? I've got a lot of complains here. I cannot do anything about it.

[2020-06-30 04:37] homeyjoenka commented on #117
Hi

every day homey loses contact with the flower, we restart homey en dan connect he for couple of hours

[2020-07-05 18:17] cgHome opened #123 "ManagerDevices > deleteDevice() not working - Error: "missing_scopes: You have no access to do this.""
I try to delete self created devices in my APP and get the following "nothing meaningful" error messages:  "missing_scopes: You have no access to do this."

Here is my code:

app.json
[code]

device.js
[code]

[2020-07-05 19:34] WeeJeWel commented on #123
Hey Chris,

Adding or removing devices is not allowed from within an app.

[2020-07-05 19:34] #123 closed, assigned to nobody

[2020-07-12 06:38] cgHome opened #124 "Capabilitie-button with "double click" and "long press" functionality"
Please implement a "double click" and "long press" functionality in the capabilitie-button

[2020-07-14 19:42] smizaden opened #125 "Curtain switch control problem / BUG"
Hello, I'm having problem with compatibility app function ( opening and closing Blinds through app) . It's products compatible with homey. I'm having trouble to move blinds up and down with the app. I think there is problem with the application or coding because the Curtain controller (made by company NEO Coollcam) is physically working. I hope this description is clear. If you have some questions

[2020-07-15 15:58] WeeJeWel commented on #125
Hi @smizaden!

I'm sorry to hear you're having issues with your NEO Coolcam app.

However, this issue tracker isn't the right place, it's for SDK-issues only, where developers can submit issues they're having while developing a Homey app.

I suggest you take your issue to the developer of the NEO Coolcam app.

Good luck!

[2020-07-15 15:58] #125 closed, assigned to nobody

[2020-07-15 16:03] WeeJeWel commented on #122
You're absolutely right, it has been corrected!

[2020-07-15 16:07] WeeJeWel commented on #116
That's correct, and we don't have any short-term plans to show them.

Showing a progress bar is a tricky thing to do when the speaker doesn't emit realtime events. And in our experience, most devices don't. So for now I'll close this issue, but thanks for reporting!

[2020-07-15 16:07] #116 closed, assigned to nobody

[2020-07-15 16:09] WeeJeWel commented on #115
If we were to do this, we'd make a generic `Device.setCapabilityEnabled(id, enabled)` or so. But for now it isn't planned.

[2020-07-15 16:09] WeeJeWel commented on #111
Closed due to inactivity.

[2020-07-15 16:09] #111 closed, assigned to nobody

[2020-07-15 16:12] #122 closed, assigned to nobody

[2020-07-15 16:12] WeeJeWel commented on #124
And then? :)

[2020-07-15 16:12] #124 closed, assigned to nobody

[2020-07-15 16:14] WeeJeWel commented on #121
It's an internal EventEmitter so for now you can't. Luckily it's just a warning, which is there for good purposes :)

[2020-07-15 16:14] #121 closed, assigned to nobody

[2020-07-15 17:26] smizaden commented on #125
Thank you for your answer.
Best regards

Denis Smizansky

On Wed, Jul 15, 2020, 18:12 Emile Nijssen <notifications@github.com> wrote:

[2020-07-15 23:21] StefanHolst opened #126 "Multiple `termostat` UI Component Support"
I'm currently experimenting with creating support for an oven in homey. This device has a thermostat for the oven itself and a temperature prope that activates an alarm when a target temperature is reached.

Ideally this device would use these capabilities:
- `target_temperature.oven`
- `measure_temperature.oven`
- `target_temperature.probe`
- `measure_temperature.probe`

This however, is not supp

[2020-07-16 08:46] RobinBol commented on #79
Minor update; yes the internal beta started, some selected Zigbee developers are currently working with the new ZIgbee engine. We hope to make this available to the experimental channel in a couple of weeks time.

[2020-07-16 11:00] ricardovanlaarhoven opened #127 "Crons are runned twice"
Homey npm version: `2.5.1`

[code]

results in
[code]

[2020-07-16 11:01] ricardovanlaarhoven commented on #127
Even weirder:
[code]
results in the same 2 tasks every time

adding this at after that code
[code]
results in no task is ever runned

[2020-07-16 11:10] robertklep opened #128 "ManagerCron.getTasks() interferes with running tasks"
Firmware 4.2.0

Example code:
[code]

This never logs `Running XXX`, so I assume that either the task doesn't run at all, or the `run` event isn't being fires.

When removing the call to `getTasks()`, it _does_ log.

[2020-07-19 18:56] Joolee commented on #118
The method for making device specific tokens is not very clear from the docs. The only way I could find to do that is by making a (custom) capability with `uiComponents` set to null.

The only hint to this in the documentation is _"By default a device's capability are registered as global tokens."_ [here](https://apps.developer.athom.com/tutorial-Flow-Tokens.html)

It would be a good idea to amend

[2020-07-22 21:05] chrisboer opened #129 "Home Easy v1.5.2 SDK issue"
Error message SDK version is not supported.

After update to Homey 5.0.0. rc17

[2020-07-22 21:32] dudz40 opened #130 "SDK3 createwebhook does not recognise .on event"
let rachioWebhook = this.homey.cloud.createWebhook(this.settings.webhookId, this.settings.webhookSecret, this.data);
            rachioWebhook
                .on('message', args => {
                    this.triggerDevicesFromWebhook(args.body)
                })

gives:

Unable to initialize app TypeError: rachioWebhook.on is not a function
    at RachioApp.onInit (/app.js:18:18)
    at SDK._ini

[2020-07-23 07:33] WeeJeWel commented on #130
You should await createWebhook. Now you're trying to call .on() on a Promise. :)

[2020-07-23 07:33] #130 closed, assigned to nobody

[2020-07-24 13:10] WeeJeWel commented on #129
This app is probably using Apps SDK v1, which has been removed in Homey v5.0.0.

[2020-07-24 13:10] #129 closed, assigned to nobody

[2020-07-24 14:02] chrisboer commented on #129
It is an app created by Athom ? so why is this not updated !

[2020-07-24 14:42] chrisboer commented on #129
Ik zie dat deze EOL is deze app maar wel vreemd dat iets door Athom b.v. ontwikkeld niet gecontinueerd wordt of herschreven wordt met nieuwe SDK werkte prima tot 5.0.0.0

[2020-07-24 16:15] akrug42 commented on #117
Hi
Any Progress on this issue. I have the same issue.  After couple updates from the sensor the update process seams to be stuck.
Is there anything I can do to help speeding up the bug fixing process?

[2020-07-25 10:36] dudz40 opened #131 "SD3K onPair(session) oronPairListDevices keeps giving cannot read property name of undefined"
tried many ways, cannot get new devices in the app, it keeps giving cannot read property 'name' of undefined.

    onPair (v3session) {
        this.log('Pairing');

        v3session.setHandler('list_devices', async (data) => {
            let session = this.homey.settings.get('auth');
            await rachio.getDevices(session).then( (controllers) =>{
                Object.entries(controllers)

[2020-07-25 10:38] WeeJeWel commented on #131
Hey! You almost got it working. Simply return the devices array from the handler function, instead of emitting it!

[2020-07-25 11:10] dudz40 commented on #131
-->Sorry forgot to put that piece of code back to what is was, tried to see if this made a differnce, it used to be: return devices, with the same result

[2020-07-25 13:29] dudz40 commented on #131
devices map assignment has to be outside the setHandler event code.  Then it works.

[2020-07-25 13:29] #131 closed, assigned to nobody

[2020-07-27 11:12] RobinBol commented on #89
Hi all, we have recently released Homey v5.0.0 to Experimental which supports com.ikea.tradfri@1.7.3 (currently available in test: https://homey.app/nl-nl/app/com.ikea.tradfri/IKEA-Tr%C3%A5dfri/test/). This combination allows pairing an open/close remote. We did not experience any of the issues described here, so these are probably fixed in the Zigbee engine update. I'll close this issue for now,

[2020-07-27 11:12] #89 closed, assigned to RobinBol

[2020-07-27 17:59] klim123123 commented on #89
Resolved! Thank you! I just tested 'Up/Down Remote Control' on 5.0.0-rc.18. It's just works!

[2020-07-28 07:36] Christian-Athom commented on #126
Hi Stefan, i have created an internal issue for this so we can discuss how this can be implemented in the future.

[2020-07-28 07:39] StefanHolst commented on #126
Hey @Christian-Athom, great. Looking forward to a solution.

[2020-07-28 10:15] DiedB opened #132 "meter_power kWh unit misspelled"
See the screenshot in https://github.com/DiedB/Homey-SolarPanels/issues/110#issuecomment-664237413

Might be only in the Dutch translation, but the `meter_power` capability uses `KWh` as a unit, should be `kWh`.

https://en.wikipedia.org/wiki/Metric_prefix

[2020-07-29 14:48] WeeJeWel commented on #132
You're absolutely right, thanks, it has been fixed and will be shipped in a future Homey release!

[2020-07-29 14:48] #132 closed, assigned to nobody

[2020-07-30 13:37] davidhalford commented on #117
Just installed the app and have 1 unit (not the pot, the other thing). Same issue; initial connect works, nothing after that. If you need any info from my side, please let me know, as I'd like to keep my plant alive :)

[2020-08-04 19:29] RobinBol commented on #101
This issue is resolved as of homey v5.0.0.

[2020-08-04 20:42] polischuk16 opened #133 "Homey Danalock App"
Hello. I wasn't sure where to write this but here it goes:

The existing Danalock app doesn't support new Danalock v3 models with s2 security protocol. Could this be fixed? I bought a lock without knowing this and now stuck with only bluetooth.

[2020-08-05 09:45] RobvandeGoor commented on #117
I am using a Homey Pro and not able to read the sensor data anymore. Reboot Homey several times and also the app. 1 sensor is working sometimes and from the 2nd sensor I do not receive any data. It is also not possible to add new sensors (received today) 😔

[2020-08-05 10:31] homeyjoenka commented on #117
We have to same problem its not fine

[2020-08-06 11:50] #133 closed, assigned to nobody

[2020-08-07 11:07] Raycokes2000 commented on #117
Same here too, sensor status looks frozen even after several reboots of homey early19 pro, Flora app and even battery change of sensors do not work

[2020-08-08 09:25] niekvugteveen commented on #117
Same here. After restart I get one reading, then nothing. This is taking too long. It makes devices unusable.

[2020-08-13 17:57] fmvdb commented on #117
Just received 3 Mi Flora Sensors today and ran into this issue. Data is update in Homey one time. On the smartphone the data is read flawless with the app from Mi (Flower Care).

Looking forward to a fix!

[2020-08-14 09:15] maxinminax opened #134 "Black screen when use sub-capability of target_temperature"
As the title, the Homey App will show device detail as black screen when I use sub-capability of target_temperature (exp. target_temperature.freeze) without any message in mobile app or dev console

[2020-08-18 19:19] carp3-noctem opened #135 "SDK Ducumentation issue - Pairing System Views"
Under the Documentation Page of the Pairing and the Topic System Views the links are not the same as provided via the Menubar when access the System views menu item:

http://developer.athom.com/docs/apps/tutorial-Drivers-Pairing.html

![grafik](https://user-images.githubusercontent.com/28244954/90555803-3513f380-e198-11ea-9b82-b729d3de5672.png)
![grafik](https://user-images.githubusercontent.com/2

[2020-08-20 19:05] tilcoating commented on #117
Three sensors, once updated upon install... Please solve, Athom. Bluetooth is quite useless in this way.

[2020-08-22 15:21] nattlip opened #136 "SDK2 app works in homey 4.2.0 but not in homey 5.0.0"
the app plugwise.jilles.com.2 https://github.com/nattlip/com.jilles.plugwisesource.2 crashes soon after starting the app in homey version 5.0.0 r23 . it works on homey 4.2.0

the problem in homey 5.0.0 is that the cirlce driver is invalid. i foiund this with the ecxellent post https://community.athom.com/t/debug-app-code/33516 where you can debug the code on homey so you dont have to makea logging

[2020-08-22 17:20] WeeJeWel commented on #136
What exactly is why it crashes? Do you have a crashlog?

[2020-08-22 17:31] nattlip commented on #136
TypeError: Cannot read property 'length' of undefined
    at MyApp.contains (/app.js:501:31)
    at MyApp.transports (/app.js:457:19)
    at MyApp.TranslateAppliancesToAppDevices (/app.js:431:46)
    at /app.js:309:18
    at Parser.<anonymous> (/node_modules/xml2js/lib/parser.js:303:18)
    at Parser.emit (events.js:311:20)
    at SAXParser.onclosetag (/node_modules/xml2js/lib/parser.js:261:26)

[2020-08-22 17:32] nattlip commented on #136
and strange , it looks like the circel driver is initated twice, also in homey 4.2.0

[2020-08-22 17:43] nattlip opened #137 "athom cli doesnt give correct sdk on homey with sdk 3"
![homey api 2 version 5 ](https://user-images.githubusercontent.com/7040452/90962367-bd9fd600-e4af-11ea-9831-c770b87d18f3.jpg)

[2020-08-22 17:56] nattlip commented on #136
![IMG_20200822_195347](https://user-images.githubusercontent.com/7040452/90962587-964a0880-e4b1-11ea-8479-44dca601154d.jpg)

[2020-08-23 17:37] nattlip opened #138 "homey still thinks he is sdk 2 after updating to firmware 5.0.0 -rc23 and restarting homey"
tried to update an app to sdk 3 but

 Pre-processing app...
✓ Validating app...
× Homey App did not validate against level `debug`:
[
    {
        "keyword": "maximum",
        "dataPath": ".sdk",
        "schemaPath": "#/properties/sdk/maximum",
        "params": {
            "comparison": "<=",
            "limit": 2,
            "exclusive": false
        },
        "message": "should be <= 2

[2020-08-23 18:16] nattlip commented on #138
used athom cli not homey

[2020-08-23 18:16] #138 closed, assigned to nobody

[2020-08-23 21:34] runely opened #139 "Homey Flow Webeditor - Cursor moves to end"
When there is a quote (") in the text field, all new characters is moved to the end of the text field. The mouse cursor is also moved to the end of the text field no matter where the cursor is placed in the text field.

**To recreate it:**
1. Put in some gibberish text in a text field in a flow card.
1. At the end, in the middle or at the beginning of this text, put in a quote character (")
1. No

[2020-08-26 08:31] Christian-Athom commented on #134
@maxinminax What is the app repo you are working in?, so we can test this issue and see where the problem is located.

[2020-08-26 11:04] nattlip opened #140 "additions to changelog sdk3"
in device   the function getDriver() is changed in property driver

[2020-08-26 11:40] nattlip opened #141 "new error in sdk3 "invalid device or driver'"
if the driver or device isnt instantiated the error invalid driver or invalid device occurs.  the live debugger gives undefined which is much clearer.

[2020-08-26 13:45] #140 closed, assigned to nobody

[2020-08-31 11:33] tjallingt commented on #136
Mhh this seems to be caused by an internal change where we used to ready all drivers before require-ing `app.js` but now we require `app.js`, then ready the drivers and then call `App#onInit()`, I recommend to update your `app.js` to do the following in `onInit()`:

[code]

and now you should be able to use `this.driverCircle` and `this.driverLight` in all places where you now use `driverCircle` a

[2020-08-31 14:18] tjallingt commented on #135
Thanks for reporting! Sorry for the slow reply, this will be fixed soon (whenever the next documentation deploy happens) :)

[2020-08-31 14:18] #135 closed, assigned to tjallingt

[2020-09-01 11:49] dbuekenh commented on #117
Same problem here with 2 sensors on a homey with latest release

😕

[2020-09-01 17:00] nattlip commented on #136
@tjallingt  that works indeeds. now the app is undermy microscope i made a sdk3 version aswel , but there it doesnt work , but this works well but cant be the intention of sdk 3 async and await doesnt work ether
`
onInit() {

` setTimeout(() => {
           this.driverCircle = this.homey.drivers.getDriver('circle')
           this.driverLight = this.homey.drivers.getDriver('light');
       }, 1000

[2020-09-01 17:02] tjallingt commented on #136
Mhh the setTimeout should definitely not be necessary... There might be a race condition there though, I'll look into it tomorrow!

[2020-09-02 09:25] tjallingt commented on #136
Ah sorry I got confused, it is correct that SDK v3 behaves differently than SDK v2.
In SDK v3  your apps `onInit` is called before the drivers and devices get created.

The order is:

[code]

The idea is that your driver/devices can always access your app when they are created.

so instead of calling `this.homey.drivers.getDriver('circle')` from your `app.js` you can call your app methods from you

[2020-09-02 09:28] tjallingt commented on #136
`5.0.0-rc27` should have fixed the SDK v2 issue, and the SDK v3 is an intended change so I'll close this issue.
I'll update the SDK v3 docs to make this change to the order of `onInit` a bit clearer 👍
If you have questions about the SDK v3 behaviour feel free to reach out on Slack (maybe in Dutch?)

[2020-09-02 09:28] #136 closed, assigned to tjallingt

[2020-09-02 12:28] tjallingt commented on #137
This is actually the web api version which isn't the same as the SDK version.
However this is somewhat confusing and not very helpful information so we're removing it :)
See: https://github.com/athombv/node-homey/pull/69

[2020-09-02 12:28] #137 closed, assigned to nobody

[2020-09-03 06:25] koktaildotcom opened #142 "Add support for batteries 'C'."
I've a device that uses 'C' batteries. I cannot add them in the energy properties because they are not valid.

[2020-09-04 19:44] WeeJeWel commented on #142
Thanks, we’ll add it. In the meantime, you can use OTHER.

[2020-09-09 07:58] RobinBol commented on #79
The new Zigbee engine is currently released in Experimental and we expect it to be available to all users shortly. As far as we know there is no limitation to implementing various alarm sensors. Therefore, I will close this issue. Thanks for reporting!

[2020-09-09 07:58] #79 closed, assigned to RobinBol

[2020-09-09 08:12] RobinBol commented on #88
Hi @onnlucky , apologies for the late reply and thank you for reporting your issue. Since you created this ticket, the Ikea Tradfri code base has changed a bit (https://github.com/athombv/com.ikea.tradfri/blob/master/drivers/remote_rotating_dimmer/device.js). This looks like a good suggestion, if you could open a PR on https://github.com/athombv/com.ikea.tradfri/ we'd appreciate it and will consid

[2020-09-09 08:12] #88 closed, assigned to RobinBol

[2020-09-11 14:17] MadMonkey87 opened #143 "Bug: Access device in registerAutocompleteListener"
Hi, I have the following situation:

- I have a device, this device has an internal api identifier in it's settings
- I have an action card that has an autocomplete arg
- The otpions for the autocomplete dropdown needs to be fetched from an external api and for this, the Id of the device is needed.

This is how the action looks like in the app.json:
    {
      "id": "recall_scene",
      "title":

[2020-09-11 14:18] MadMonkey87 opened #144 "Bug: registerRunListener() accesses the wrong device"
Hi, I have the following situation:

- I have a device, this device has an internal api identifier in it's settings
- I have an action card that has an autocomplete arg
- The otpions for the autocomplete dropdown needs to be fetched from an external api and for this, the Id of the device is needed.

This is how the action looks like in the app.json:
    {
      "id": "recall_scene",
      "title":

[2020-09-11 14:20] MadMonkey87 opened #145 "Bug: wrong units for PM2.5 capability"
According to the doc the unit for the capability PM2.5 should be μg/m3 -> https://developer.athom.com/docs/apps-reference

Unfortunately this is not the case as it is rendered as "ppm" which is wrong

Note: pm2.5 is an official capability while pm10 is a custom one with the correct units

![Screenshot_20200911-162044_Homey](https://user-images.githubusercontent.com/29612400/92936784-d403d680-f44a-

[2020-09-11 15:51] robertklep commented on #144
@MadMonkey87

I think this is because a `FlowCardAction` can only be registered once during the lifetime of a driver, which means it will be registered for the first device that calls this code (and hence will only call that particular handler). That's why it's typically registered in `driver.js`, not `device.js`.

I don't know specifically about autocomplete listeners, but if you want to pass dev

[2020-09-11 16:17] MadMonkey87 commented on #144
I tried exactly that and it kind of works, but it not what a user would expect: you choose a action card by selecting the device, then you have to select the device again in the flow card params.

Or in other words: inside the registerRunListener, how can I access the device the acrion card depends on?

[2020-09-11 16:33] robertklep commented on #144
@MadMonkey87 can you explain how you think the action card can know on which device it depends? The user somehow needs to be able to set the device the action card is applied to.

[2020-09-11 17:07] WeeJeWel commented on #144
Are you using driver.flow.compose.json? If so, then you do not need to add a device argument yourself, Homey CLI compose does it for you.

If you’re using compose, you can access the device with args.device.

[2020-09-12 13:23] #143 closed, assigned to nobody

[2020-09-24 08:23] MadMonkey87 commented on #144
I've learned a few things now;)
First, as mentioned above, the action card already has a hidden device arg. This can be used to access the selected device. Do not add this arg manually as you then kind of overwrite this and you then have a device selector in the action card (what you do not want as you already selected the device).
Furthermore it is absolutely required that the listener gets regis

[2020-09-24 08:23] #144 closed, assigned to nobody

[2020-09-24 08:41] WeeJeWel commented on #144
@tjallingt what about a warning  in the console when you're overwriting a FlowCard run listener?

[2020-10-02 03:10] koktaildotcom commented on #117
@WeeJeWel is there any progress on this issue? It's been there for half a year. I still get a lot of complains about it.

[2020-10-02 05:51] shaarkys commented on #117
Btw, I can confirm the same happening as well on v5.0.0-rc.34 (which is understandable as Bluetooth stack hasn't been touched), yet just for the record.

[2020-10-03 11:49] tobias-theobald opened #146 "Some typings for BLE-related classes are wrong"
The typings for `ManagerBLE` at https://github.com/athombv/node-homey/blob/master/sdk/manager/ble.d.ts suggest that the functions `find` and `discover` run synchronously and directly return `BleAdvertisement` or an array thereof.

This is not correct though. My experiments show that they return a promise of the mentioned values. Therefore

[code]

should be

[code]

Of course the JSDocs would also

[2020-10-06 08:15] MadMonkey87 opened #147 "Bug: Adding maintenance capability for unavailable device does not work"
I've just added a maintenance action to my app as described here: https://apps-sdk-v2.developer.athom.com/tutorial-Drivers-MaintenanceActions.html

As this also should work with devices created before my app update I did this not in the app.json but by code, i.e

				this.addCapability("button.repair")
				this.setCapabilityOptions(
					"button.repair",
					{
						"maintenanceAction": true,

[2020-10-06 13:46] denniedegroot commented on #81
I know it's only been 18 months but is there any progress on this?

[2020-10-07 16:11] WeeJeWel commented on #147
This is by design. We think a device should auto-heal and a single button press is something that can be done programmatically in an interval as well!

For actual repairing where using input is required (e.g. a new pincode or pressing a button), there's the 'repair' views.

[2020-10-07 16:11] #147 closed, assigned to nobody

[2020-10-08 08:58] robertklep opened #148 "MAC discovery relies on broadcast pings that not all devices respond to"
From what I know, MAC Address discovery relies on broadcast pings to find devices on the local subnet (at least for firmware up to v5, I don't know if this has changed in v5).

This depends on devices responding to these pings in order to be found, but there are plenty of devices that don't respond to them. In my local network, devices that don't respond include a Synology NAS, Ubiquiti Edgerouter

[2020-10-08 09:00] WeeJeWel commented on #148
Homey indeed does a broadcast ping, then looks at the ARP table.

What would be a solution that would work for those devices too?

[2020-10-08 09:02] xristiaan commented on #148
Just want to second that, I just spend two days trying to get MAC discovery to work until I found out (thanks Robert) that it does NOT work with ESP8266.

[2020-10-08 09:12] robertklep commented on #148
@weejewel all the aforementioned devices respond to regular pings ([`ping-subnet`](https://github.com/ubcent/ping-subnet)), or use specialised tools like `arp-scan`, `arpping` or `nmap`.

[2020-10-08 09:40] WeeJeWel commented on #148
I assume these modules brute-force ping x.x.x.{1-254}? I'm not sure how routers will respond to that behavior when it happens continuously, that requires extensive testing.

[2020-10-08 09:59] robertklep commented on #148
For regular pings, it will indeed ping every single IP address on the local subnet. The `arp*` tools will send ARP requests for each IP-address.

I don't think routers really care (otherwise I would have expected them to have issues with broadcast pings too), but indeed it would warrant some testing.

[2020-10-11 19:14] jonasbkarlsson opened #149 "Add support for ZCLDataTypes.array"
I have a Zigbee device from Ubisys that have attributes of the type `array`, ZCL data type 0x48. The current implementation of `Cluster.readAttributes()` and `Cluster.writeAttributes()` in `zigbee-clusters` doesn't support this attribute type.

[2020-10-14 05:53] robertklep commented on #81
@denniedegroot my request for support for these (in the currently-closed-or-removed `athombv/homey` repository) is from July 4th 2018. So we passed the 2-year mark a few months ago already 😉

[2020-10-14 06:33] shaarkys commented on #81
So happy anniversary to everybody ! ;-)
But to stay on topic, does anyone knows which kind of devices/functionality this prevent to implement and get supported by Homey ?

[2020-10-14 08:32] robertklep commented on #81
@shaarkys notify functionality is used by a lot of sensor devices to push state changes to the controller, so for instance a temperature sensor would notify the controller when the temperature has changed, as opposed to the controller having to poll the device periodically to check what the current temperature is.

[2020-10-14 09:40] shaarkys commented on #81
So such fully basic stuff...thank you.

[2020-10-18 08:05] nattlip commented on #136
clear .

[2020-10-24 06:53] robertklep commented on #148
FWIW, some routers mistake the broadcast pings for [Smurf attacks](https://community.athom.com/t/e-mail-from-my-homey/36424).

[2020-10-24 09:48] geurti64 commented on #117
![F597670B-D907-4406-B3F6-A8CAF8A5A4AF](https://user-images.githubusercontent.com/44948016/97078678-0548f800-15ee-11eb-9999-4bace8d9a5d5.jpeg)
My Homey 2018 got every week a reboot to make sure I get the plant updated again. As you can see in the screenshot not all the updates are 6 days old. Some are much older and one last update is even two months old.
I wonder if it's only a BLE problem. But I

[2020-10-24 09:49] flits commented on #117
Worked without any problem. But looks like it stopped working 4 days ago. Status is not being updated. Only one synch after a Homey reboot and then it stops updating.

[2020-11-02 10:20] MadMonkey87 opened #150 "unable to publish"
Hi, it seems publishing to the store is currently not possible anymore, I only get the following error:

![image](https://user-images.githubusercontent.com/29612400/97857003-63b45b80-1cfd-11eb-9c5c-e7dbcf090142.png)

I already tried with logging in again but had no success so far

Edit: it seems to do something in the store but doesnt look right:

![image](https://user-images.githubusercontent.com

[2020-11-09 08:18] WeeJeWel commented on #150
This has been solved last week. Thanks for reporting!

[2020-11-09 08:18] #150 closed, assigned to nobody

[2020-11-09 10:58] Christian-Athom commented on #126
This issue was solved in Mobile App version 6.2.0

[2020-11-09 10:58] #126 closed, assigned to Christian-Athom

[2020-11-09 11:02] Christian-Athom commented on #134
This issue was fixed in Mobile App version 6.2.0

[2020-11-09 11:02] #134 closed, assigned to Christian-Athom

[2020-11-09 12:37] guestus opened #151 "homeyduino energy support"
Is it possible to add support for "cumulative": true? It is for custum power meter.

[2020-11-15 22:20] jonasbkarlsson opened #152 "Add support for Zigbee Device Object"
I have two needs.
1. I would like to remove a default binding between two of the device's clusters.
2. I would like to create a binding from the device to another device or to a group.

To do this, the app would need to use the Zigbee Device Object services bind_req, unbind_req and mgmt_bind_req.
Alternatively, if Homey would support Zigbee Bindings, Groups and Scenes, there would not be any need

[2020-11-22 07:28] koktaildotcom commented on #142
Is this already implemented? I can add it with the new SDK 3 update.

[2020-11-22 07:31] koktaildotcom commented on #117
In the Homey v5.0.0-rc.41 release:

I've tested it on the SDK3 and i don't get timeouts anymore. Many thanks for solving this issue. Can you give us some insights what happened?

[2020-11-22 08:31] tjallingt commented on #142
Ah sorry slipped through my todo list. Ill pick it up on Monday :)

[2020-11-22 20:53] shaarkys commented on #117
For me it is still the same, I'm on v5 38 since release... :-( After reboot it reads values and then nothing.

[2020-11-22 23:10] geurti64 commented on #117
So still no reason for me to get v5 🤓

[2020-11-23 07:21] koktaildotcom commented on #117
I misinformed you, my development Homey is on v5.0.0-rc41 and is not stable for experimental release yet. We have to wait a little longer.

[2020-11-23 07:32] shaarkys commented on #117
No problem, it's great they fixed it, no matter which RC :-) Thank you for sharing.

[2020-11-23 10:50] mrlukasbos commented on #117
The BLE connection issue should be resolved in V5.0.0-rc.41 and will be shipped with the next beta release. Feel free to reopen this thread if any problems still occur.

Thank you very much for reporting the issue and for providing the detailed information.

[2020-11-23 10:50] #117 closed, assigned to nobody

[2020-11-24 08:05] tjallingt commented on #142
I added this yesterday, this will be available in 5.0.0.
The Homey CLI hasn't been updated yet but I'll make sure to do that soon :)

[2020-11-24 08:05] #142 closed, assigned to tjallingt

[2020-11-24 08:06] koktaildotcom commented on #142
Thanks! I'll add the batteries into by app!

[2020-11-27 16:19] ultimate-tester opened #153 "Homey.done clears screen, doesn't close"
While working on my very first app, I'm having trouble with the pairing process.
I created a custom view, just 1. I've added a form, with a javascript listener attached to the submit event.
The event listener triggers and calls Homey.createDevice. In its callback I call Homey.done.
When I do this, I see the screen clears out (white). The title remains but that's it. When I manually close the pairi

[2020-11-30 08:06] ThomasHoussin opened #154 "ManagerBLE.find returns incorrect values"
I run ManagerBLE.find to get updated values for my device (RuuviTag - ble device). I always get the same values in the BleAdvertisement, even when the values send by the device change (confirmed by reading the values in another way).

Here is an extract of the code :

        Homey.ManagerBLE.find(deviceData.uuid, timeout)
            .then(bleAdv => {
                console.log(bleAdv.rssi);

[2020-12-05 22:01] runely opened #155 "Exception in manager/settings.js"
I have received two of these crash reports for my app [IcalCalendar](https://github.com/runely/calendar-homey). Both for firmware 4.2.0

The only information in the stack trace that points to my app is 'uris' which is the key i have for one of the settings. I have never experienced this exception when debugging or running the production app.

[code]

[2020-12-05 22:14] runely commented on #155
There's also been one crash report for firmware 4.0.0.

[code]

And there's been two crash reports for firmware 5.0.0-rc.38.

[code]

[2020-12-08 12:56] tjallingt commented on #155
Thanks for reporting! It appears that somehow the setting page is requesting settings while the app is not yet ready and this is causing a crash.

I made sure that this will no longer cause crashes in Homey 5.0 (in SDK v2 and v3), instead the settings page will show a popup indicating that the app is not ready.

Unfortunately we cannot backport this fix to older Homey versions, so its possible you

[2020-12-08 17:18] runely commented on #155
Thank you for letting us know :)

[2020-12-09 09:22] #155 closed, assigned to tjallingt

[2020-12-13 22:34] ThomasHoussin commented on #154
I just checked, v5 (sdk v2) does NOT fix this issue, I still have the same problem.

[2020-12-15 13:47] ultimate-tester commented on #153
@Christian-Athom  is this still the correct channel to talk about these issues or am I following the wrong procedure?

[2020-12-15 13:54] ultimate-tester opened #156 "Non-Persistent Control States"
New feature request: Have an option to make the Up/Tilt/Down controls non-persistent.
My blinds use a protocol that doesn't support call backs or state-requests. In other words, Homey doesn't know whether it's up or down. Homey tries to remember the state by storing the last pressed button so when you open the screen again it highlights the button that Homey _thinks_ is the current state, I'm talk

[2020-12-15 13:58] WeeJeWel commented on #156
You can create a custom capability with a `getable: false` and `ui: "ternary"`.

[2020-12-15 13:58] mrlukasbos commented on #154
This is correct. The value returned in `ManagerBLe.find()` does return cached data of the device, which is the data found in the latest 'discovery'. There are two ways to resolve your issue:

1. Connect to the device.
To get updates on the RSSI you may want to connect to the device. Then you can use the `updateRssi()` function to update the RSSI value. (https://apps-sdk-v3.developer.athom.com/BleP

[2020-12-15 14:02] Christian-Athom commented on #153
Hi, at first glance it sounds like an issue within your app, and not the apps sdk itself.

Have you tried our community developer forum or Slack channel to get help with this issue?

Best regards,
Christian

[2020-12-15 14:05] ultimate-tester commented on #153
Hi Christian, thanks, I'll be sure to go to Slack to try to get it resolved that way. Thanks!

[2020-12-15 14:06] #153 closed, assigned to nobody

[2020-12-15 22:16] ThomasHoussin commented on #154
I'm sorry bit it doesn't. It's not possible to connect to the device, I have to use ManagerBle.discover but I still get cached values :

Below is an example ; in app.js onInit(), I try to do a discover every 30s, and print RSSI, a sequence number (which changes frequently) and the manufacturerData buffer. The lines are always the same (see result). If I restart the app, values are updated, but onl

[2020-12-15 23:02] ThomasHoussin commented on #154
I found a way to make it work as expected : I had to clear the advertisements with
`delete this.homey.ble.__advertisementsByPeripheralUUID[device.uuid];`

Now I get as a result :

[code]

[2020-12-16 16:41] bckp commented on #95
Suggest device class gate :-) not sure about homekit implementation... but it is not only about garage, for me, it is about opening fence gate when i get home...

[2020-12-16 16:57] tjallingt commented on #95
@nerdtechse are you looking for something that behaves exactly like lock except it should be specifically for a garage door or do you also expect this device class to have different capabilities?

@bckp it seems the goal here is to integrate with carplay, we can make it more generic than "garage door" but then it would also become more confusing to explain how/why it integrates with carplay like t

[2020-12-16 20:03] bckp commented on #95
@tjallingt my use case is simple, i have gate outside of my house, powered by Nice IBT4ZWAVE device, right now, im using onoff capability for open/close state... but, App says ON/OFF, becouse only windowcoverings, sunshade and 2 more types have filter that change ON/OFF to OPEN/CLOSE. What I want is, if you can add GATE/DOOR/GARAGE as new device class, so other people, when use this have on capabi

[2020-12-16 20:24] nerdtechse commented on #95
@tjallingt Carplay is just one thing.. But also its impossible to get the symbols in homekit right for a gate or a port when the only class that is availible in homey is lock..

@bckp Your so right!

[2020-12-17 09:12] mrlukasbos commented on #154
I see you are correct. This appears to be an issue with our SDK. I have forwarded this issue to our internal issue tracker. Unfortunately I cannot say when the issue will be resolved. I will let you know in this thread when a fix is available.

I hope for now you can continue working on your app using the workaround you found.

[2020-12-17 09:14] mrlukasbos commented on #154
Related: #85 #86

[2020-12-19 17:14] JohanBendz opened #157 "Add support for Zigbee Enrollment"
There are 2 types of devices, the CIE (coordinator/Homey), and the IAS Zone device (like PIR, motion, fire etc).
1. CIE sends Write Request to cluster 0x0500 (1280), attribute 0x0010 (16), data type IEEE address (0x0000000000000000), value CIE's 64-bit address.
2. CIE receives Write Response, indicating success or failure.
3. CIE receives Zone Enroll Request.
4. CIE sends Zone Enroll Response.
To

[2020-12-21 13:56] RobinBol commented on #157
To summarise this issue, if I am correct, the issue is that you can't access the IEEE address of Homey from within a Homey app? Is that the blocker for you to handle IASZone enrolment?

[2020-12-21 14:07] JohanBendz commented on #157
Yes, I can't make the app handle enrollment unless it can fetch the IEEE address.
I could ask the user to go to dev portal and read it and enter it as a setting but that is not very user friendly.

[2020-12-22 12:52] MadMonkey87 opened #158 "[Bug] Racing condition when writing variables"
Consider the following scenario:
- there is one logic variable "foo" (number), set to 0
- there are 2 flows that start at the same time (i.e the same trigger) that calcualte and set the variable foo to foo +1

The expected behaviour then would be that  the variable value is 2, but in reality it is always 1. The reason for that seems to be that homey has no locking mechanism for this. Is that a bug

[2020-12-26 17:50] robertraaijmakers opened #159 "Error 404 when trying to use Homey.api"
Hi there,

I don't know if this is the right git repo, but I have some issues when using the Homey.api function. I've been using this for over a decade in the Trashcan app, but it suddenly seems to have stopped working (maybe due to Homey 5.0 rc X).

The source of the app can be found here, if you want to debug locally: https://github.com/robertraaijmakers/com.trashchecker/tree/beta

What I'm tryi

[2020-12-28 10:31] runely opened #160 "Flow condition card "Day number is between" incorrect behavior"
The flow condition card `Day number is between` has incorrect behavior when second day number is lower than first day number.

The description in the flow card states `When the second day number is earlier than the first day number, it is considered to be next month`

Today the day number is 28, and the month is 12. So the next month will be 1 in the next year.

When i put in `23` for the *first d

[2020-12-30 19:30] pfassberg opened #161 "npm error in homey app run"
I'm new to Homey and just installed the Homey SDK v2 using the guidelines in https://apps-sdk-v2.developer.athom.com/tutorial-Getting%20Started.html.

For each "homey app run" I get this error:
**Error occurred during npm prune TypeError: prunePathsJson.removed.map is not a function
    at Function.getPrunePaths (/usr/lib/node_modules/homey/lib/Modules/NpmCommands.js:106:49)
    at processTicksAnd

[2020-12-30 21:12] MadMonkey87 opened #162 "[Store][Bug] Users cannot download app from the store"
Hi
Multiple  users have reported that they cannot install my app from the store. It seems homey is downloading (led indicator) but the app never appear. As this seems to be a store issue itself I do not have any log or any clue how this can be caused by the app.

Please also see the community discussion at https://community.athom.com/t/app-advanced-rest-client-arc/39662

[2020-12-30 21:50] Dijker commented on #162
No problem installing it here on my Homey 5.0.0-rc.50 both the stable as the /test release.

[2020-12-31 12:08] robertklep commented on #162
It fails to run using the CLI on a v4.2.0 Homey:
[code]

If I add all the arguments to `titleFormatted`, it runs:
[code]

[2021-01-06 11:39] tjallingt commented on #159
Hiya, sorry for the slow response over the holidays (and happy new years)

The API was indeed changed in SDK v3, see "web api improvements" in the SDK Changelog: https://apps-sdk-v3.developer.athom.com/tutorial-SDK%20Changelog.html and the "web api tutorial": https://apps-sdk-v3.developer.athom.com/tutorial-Web%20API.html

It is quite confusing that it fails silently though so I will add a warning

[2021-01-08 10:34] robertklep commented on #162
@jeroenwienk do I understand correctly that the fix is to fail validation if not all arguments are used in `titleFormatted`? Or is that just done temporarily until it's fixed in the SDK?

[2021-01-08 11:27] jeroenwienk commented on #162
Yes all arguments should be used if titleFormatted is defined. This should be fixed in 2.9.4 which will be live any moment.

[2021-01-08 14:29] #159 closed, assigned to tjallingt

[2021-01-08 14:30] tjallingt commented on #159
with the next release experimental release of homey apps will log warnings when we detect apis that are missing from `app.json`.
Closing this issue now

[2021-01-11 15:51] robertraaijmakers commented on #159
Hi @tjallingt, thank you for the clear explanation! Completely overlooked the changes in the documentation. But it is working like a charm now.

[2021-01-13 14:41] mrlukasbos commented on #160
Thanks for reporting the issue. The issue is resolved in the upcoming Homey 5.0.0.

[2021-01-13 14:41] #160 closed, assigned to mrlukasbos

[2021-01-14 14:25] #162 closed, assigned to nobody

[2021-01-27 15:30] joco73 commented on #81
@WeeJeWel Any news on this request ( we keep on naging ), I have seen that @mrlukasbos  has been taking some BLE issues - maybe can have a look on this at the same time :-)

[2021-01-27 15:49] WeeJeWel commented on #81
Yes, this is on the roadmap for Q2 2021.

[2021-01-27 16:51] AdyRock commented on #81
BLE notifications would be great so glad to hear it's on the road map. I am trying to make an app for the Switchbot curtain motors but the only way to get the current position is via notifications, Using them instead of polling is also much better for battery life of the devices as they don't have to constantly wake up to send the same old data over and over. Plus Homey would be a lot more respons

[2021-02-01 07:54] fpalsson opened #163 "Tokens with some characters in id not selectable in flow"
When creating tokens with [ and ] in token id it is not possible to select the token in a flow using the logic flow card. It shows up in the list of tokens, and it is possible to click on it in the list, but the card contians an empty token when the UI returns to the card.

What characters are allowed?

Should the SDK return an error if not allowed characters are used in the id?

[2021-02-01 08:08] WeeJeWel commented on #163
Try to use only `A-Za-z0-9.-_` in the token's ID.

We want to add validation but it might break now because some apps already use other characters.

[2021-02-01 08:08] #163 closed, assigned to nobody

[2021-02-03 21:23] ArtemSyromiatnikov commented on #161
I'm experiencing the same on Node 15.7.0, npm 7.4.3 on windows 10. Homey SDK version 2.9.7.

The code in %AppData%\Roaming\npm\node_modules\homey\lib\Modules\NpmCommands.js is executing `npm prune` command, expecting an JSON object with an array property `removed`

[code]

Yet when I manually execute the `npm prune --production --dry-run --json` command, the result is
[code]

[2021-02-04 09:22] tjallingt commented on #161
Thanks for debugging this @ArtemSyromiatnikov

We rely on the output format of the NPM CLI version 6 and clearly that got changed in version 7.
This wasn't a big problem because version 7 wasn't stable yet but just this week it was declared "generally available": https://github.blog/2021-02-02-npm-7-is-now-generally-available/

We will look into fixing this and ensuring the Homey CLI works with bo

[2021-02-04 09:48] ArtemSyromiatnikov commented on #161
Awsome news, thanks @tjallingt!

[2021-02-06 06:12] djfanatix opened #164 "Capability: target_temperature, change max value"
Is it possible to raise the maximum temperature (currently 50 degrees celcius) for target_temperature, thermostats, etc.. to a higher value (for example 100 degrees)

I am developping an app to monitor and control stored hot water by means of a thermostat controller.
(on-off-auto) and temperature settings.

[2021-02-06 09:21] WeeJeWel commented on #164
Yes, add:

[code]

To the driver json.

[2021-02-06 09:22] #164 closed, assigned to nobody

[2021-02-10 13:07] k4mrat opened #165 "iOS app url scheme slow + deep linking url"
When launching homey app on iOS using url scheme homey:// it's super slow to launch unless the app is already running in background. This is never an issue when using the real icon. I think it's weird since url scheme should be the same as launching the app from its icon?

Also, it would be much appreciated and very handy if the iOS app could support deep links so that shortcuts and widgets could

[2021-02-15 10:23] ricott opened #166 "Enhance invalid_capability error"
Hi,

May seem like a simple thing but I get the error `(node:9742) UnhandledPromiseRejectionWarning: Error: invalid_capability` at some random cases like removing a device and re-adding it. Don't know why, and since your error message doesn't tell me which capability that is invalid it makes debugging hard.

May I propose that you add the name of the capability that is invalid when you create this

[2021-02-15 10:24] WeeJeWel commented on #166
This is a fine suggestion, but I do really advice you to catch your methods and add logging yourself :)

In a future Homey version your app will crash when unhandled promise rejections occur.